<template>
  <vue-draggable-resizable v-if="dragResize"
    :w="width"
    :h="height"
    :x="x"
    :y="y"
    :parent="true"
    :active="active"
    class-name="resizable math-symbol-container"
    v-on="$listeners"
    @dragstop="onDragStop"
    @resizestop="onResizeStop"
  >
    <!-- :handles="['tl','tr','bl','br']" -->
    <MathSymbolDisplayView
      :viewBox="viewBox"
      :symbolsData="symbolsData"
      />
    <template v-slot:controls>
      <slot name="controls" />
    </template>
  </vue-draggable-resizable>
  <div v-else
    :style="{
      width: `${width}px`,
      height: `${height}px`,
      }"
  >
    <MathSymbolDisplayView
      :canDrag="canDrag"
      :viewBox="viewBox"
      :symbolsData="symbolsData"
      />
  </div>
</template>

<script>
import _ from 'lodash';
import { mixin } from '@/store/mixin';
import { SvgOps } from '@/svg-operations';
import VueDraggableResizable from '../DragResize/vue-draggable-resizable';

export default {
  name: 'MathSymbolCollection',
  mixins: [mixin],
  components: {
    VueDraggableResizable,
  },
  props: {
    canDrag: {
      Type: Boolean,
      default: false,
    },
    dragResize: {
      Type: Boolean,
      default: false,
    },
    active: {
      Type: Boolean,
      default: false,
    },
    symbolIds: {
      Type: Array,
      required: true,
    },
    bbox: {
      Type: Object,
      default: null,
    },
    onEdit: {
      Type: Function,
      default: null,
    },
  },
  computed: {
    x() {
      return this.bbox
        ? this.bbox.x
        : (this.symbolsBBox.x || 0);
    },
    y() {
      return this.bbox
        ? this.bbox.y
        : (this.symbolsBBox.y || 0);
    },
    width() {
      if (this.bbox && this.bbox.width === 'auto') {
        return this.height
          * (this.symbolsBBox.width || 1)
          / (this.symbolsBBox.height || 1);
      }
      return this.bbox
        ? this.bbox.width
        : (this.symbolsBBox.width || 100);
    },
    height() {
      return this.bbox
        ? this.bbox.height
        : (this.symbolsBBox.height || 100);
    },
    symbols() {
      return this.symbolIds.map(this.getSymbol);
    },
    symbolsBBox() {
      return SvgOps.getBBox(...this.symbols);
    },
    viewBox() {
      const bbox = this.symbolsBBox;
      return `${bbox.x || 0} ${bbox.y || 0} ${bbox.width || 0} ${bbox.height || 0}`;
    },
    symbolsData() {
      return this.symbolIds.map(this.$store.getters.getSymbolData);
    },
  },
  methods: {
    onDragStop: _.debounce(function onDragStop(x, y) {
      const bbox = this.symbolsBBox;
      this.symbols.map(
        s => ({
          ...s,
          attributes: {
            ...s.attributes,
            x: s.attributes.x + (x - bbox.x),
            y: s.attributes.y + (y - bbox.y),
          },
        }),
      ).forEach((s) => {
        this.setSymbol(s.id, _.cloneDeep(s));
      });
      if (this.onEdit) {
        this.onEdit();
      }
    }, 100),
    onResizeStop: _.debounce(function onResizeStop(x, y, width, height) {
      SvgOps.resizeSymbols(_.compact(this.symbols), {
        x,
        y,
        width,
        height,
      })
        .forEach((s) => {
          this.setSymbol(s.id, _.cloneDeep(s));
        });
      if (this.onEdit) {
        this.onEdit();
      }
    }, 100),

  },

};
</script>

<style lang="less">

</style>
