<template functional>
  <svg
    class="math-symbol"
    :key="props.data.id"
    :data-symbol-id="props.data.id"
    :x="props.data.x"
    :y="props.data.y"
    :width="props.data.width"
    :height="props.data.height"
    :draggable="props.canDrag"
  >
    <svg
      :viewBox="`0 0 ${props.data.symbolWidth} ${props.data.symbolHeight}`"
      preserveAspectRatio="none"
      v-html="props.data.svgContent"
    />
  </svg>
</template>

<script>

export default {
  name: 'MathSymbol',
  props: {
    data: {
      Type: Object,
      required: true,
    },
    canDrag: {
      Type: Boolean,
      default: false,
    },
  },
};
</script>

<style>

</style>
