<template>
  <MathSymbolCollection
    id="selected-symbols"
    v-if="selectedSymbols && selectedSymbols.length > 0"
    :dragResize="true"
    :active="true"
    :onEdit="setActiveStale"
    :symbolIds="selectedSymbols"
    @dragging="hideControls"
    @dragstop="showControls"
    @resizing="hideControls"
    @resizestop="showControls"
    >
    <ActiveSelectionControls ref="controls" slot="controls"/>
  </MathSymbolCollection>
</template>

<script>
import _ from 'lodash';
import MathSymbolCollection from './Collection';
import ActiveSelectionControls from '../ActiveSelectionControls';
import { mixin } from '@/store/mixin';
import { ScriptEditor as SE } from '@/editor';
import {
  RecognizerEditor as RE,
} from '@/recognizer-editor';

export default {
  name: 'MathSymbolSelection',
  mixins: [mixin],
  components: {
    ActiveSelectionControls,
    MathSymbolCollection,
  },
  mounted() {
    document.body.addEventListener('keydown', this.onKeyDown, true);
    document.body.addEventListener('keyup', this.onKeyUp, true);
  },
  beforeDestroy() {
    document.body.removeEventListener('keydown', this.onKeyDown, true);
    document.body.removeEventListener('keyup', this.onKeyDown, true);
  },
  computed: {
    selectedLength() {
      return this.selectedSymbols.length;
    },
    symbols() {
      return this.selectedSymbols.map(this.getSymbol);
    },
  },
  watch: {
    selectedLength(newSelect, oldSelect) {
      if (newSelect > oldSelect) {
        this.controlsActive = false;
      }
    },
  },
  methods: {
    showControls() {
      if (this.$refs.controls) {
        this.$refs.controls.setControlsActive(true);
      }
    },
    hideControls: _.debounce(function hideControls() {
      // Call hide immediately, don't call again unless 100ms have elapsed
      this.$refs.controls.setControlsActive(false);
    }, 100, { leading: true, trailing: false }),
    dropToCanvas() {
      this.makeSelection(null);
    },
    moveSymbols: function moveSymbols(direction) {
      let xIncrement = 0;
      let yIncrement = 0;
      const increment = 10;

      const selection = this.recognizerWindowOpen ? RE.selectionRect : SE.selectionRect;
      const editor = this.recognizerWindowOpen ? RE.rect : SE.rect;

      // Directional safety checks
      const safeLeft = (selection.left - increment) >= editor.x;
      const safeRight = (selection.right + increment) <= editor.right;
      const safeUp = (selection.top - increment) >= editor.y;
      const safeDown = (selection.bottom + increment) <= editor.bottom;

      if (direction === 'left' && safeLeft) {
        xIncrement = -increment;
      }
      if (direction === 'right' && safeRight) {
        xIncrement = increment;
      }
      if (direction === 'up' && safeUp) {
        yIncrement = -increment;
      }
      if (direction === 'down' && safeDown) {
        yIncrement = increment;
      }

      if (!xIncrement && !yIncrement) {
        // No changes to make
        return;
      }
      this.symbols.map(
        s => ({
          ...s,
          attributes: {
            ...s.attributes,
            x: s.attributes.x + xIncrement,
            y: s.attributes.y + yIncrement,
          },
        }),
      ).forEach((s) => {
        this.setSymbol(s.id, _.cloneDeep(s));
      });
      // Active is no longer fresh
      this.setActiveStale();
    },
    onKeyDown(e) {
      if (!this.selectedSymbols || !(this.selectedSymbols.length > 0)) {
        return;
      }
      if (e.key === 'Delete' || e.key === 'Backspace') {
        this.deleteSelectedSymbols();
      } else if (e.key === 'Escape') {
        this.dropToCanvas();
        // } else if (e.key === ' ') {
        //   console.log('Space');
      }

      // One of the arrow keys were pressed
      if (e.keyCode >= 37 && e.keyCode <= 40) {
        this.hideControls();

        switch (e.keyCode) {
          // Left arrow key
          case 37:
            this.moveSymbols('left');
            break;
            // Up arrow key
          case 38:
            this.moveSymbols('up');
            break;
            // Right arrow key
          case 39:
            this.moveSymbols('right');
            break;
            // Down arrow key
          case 40:
            this.moveSymbols('down');
            break;
          default:
            break;
        }
      }
    },
    onKeyUp(e) {
      if (this.selectedLength > 0 && (e.keyCode >= 37 && e.keyCode <= 40)) {
        this.showControls();
      }
    },
  },


};
</script>

<style lang="less">

@rit-color: rgb(247,105,2);
@lightRit: #fd892c;
@boxshadow: rgba(0, 0, 0, .7);

  #selected-symbols {
    fill: fadeout(@lightRit, 10%);
    // background: fadeout(@lightRit, 80%);
    border-radius: 3px;
    // box-shadow: inset 0 0 2px 0 @boxshadow, 0 0 5px 0 @boxshadow;
    // box-shadow: 0 0 2px 0 @boxshadow, 0 0 5px 0 @boxshadow;
    box-shadow: 0 0 0 1px @lightRit;
    cursor: grab !important;

    &:hover:active {
      cursor: grabbing !important;
    }

    // .math-symbol-set {
    //   filter: drop-shadow( 0 0 2px @boxshadow);
    // }
  }
</style>
