<template>
  <div>
    <div class="svgBorder">
        <svg :viewBox="viewBox">
              <path stroke="#000000" stroke-width="3.3" fill="none" stroke-linecap="round"
                preserveAspectRatio="none"
                d="M372.37 138.62L363.26 126.47L354.15
                118.88L345.8 112.81L335.18 109.02L323.04 112.81L310.89
                116.61L301.03 119.64L284.33 129.51L277.5 140.89L273.71
                154.55L272.19 165.18L272.19 176.56L274.46 187.19L279.02
                197.05L285.09 205.4L293.44 211.47L303.3 216.03L314.69
                213.75L326.07 205.4L335.94 199.33L345.8 193.26L351.87
                184.91L354.15 174.29L358.71 163.66L364.02 153.04L368.57
                143.93L368.57 156.07L366.29 167.46L364.78 178.84L364.78
                191.74L366.29 207.68L367.05 221.34L368.57 233.48L369.33
                244.11L370.09 257.01L370.09 267.63L370.09 280.54L370.09 294.96" id="nine">
              </path>
              <line :x1="lineX1" :y1="yOffset" :x2="lineX2" :y2="yOffset" id="spinner" />
              <path stroke-width="10" id="recognized"
                d="M352 287Q304 211 232 211Q154 211 104 270T44 396Q42 412 42
                  436V444Q42 537 111 606Q171 666 243 666Q245 666 249 666T257 665H261Q273
                  665 286 663T323 651T370 619T413 560Q456 472 456 334Q456 194 396 97Q361
                  41 312 10T208 -22Q147 -22 108 7T68 93T121 149Q143 149 158 135T173
                  96Q173 78 164 65T148 49T135 44L131 43Q131 41 138 37T164 27T206
                  22H212Q272 22 313 86Q352 142 352 280V287ZM244 248Q292 248 321 297T351
                  430Q351 508 343 542Q341 552 337 562T323 588T293 615T246 625Q208 625
                  181 598Q160 576 154 546T147 441Q147 358 152 329T172 282Q197 248 244 248Z"
                  unicodehex="39" transform="matrix(0.30 0 0 -0.30 250 300)">
              </path>
        </svg>
    </div>
    <v-card-title class="primary">
        <span class="display-2 banner-text">
          <v-icon color="orange" large>$vuetify.icons.gesture</v-icon>
          Drawing Equations on Canvas
        </span>
    </v-card-title>
    <v-card-text class="primary banner-text">
        An easier way to beautify handwritten math equations. Allowing
        it to be embedded in Research papers.
    </v-card-text>
  </div>
</template>

<script>
export default {
  name: 'CanvasSlide',
  props: {
    isLoaded: {
      Type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      viewBox: '0 0 700 353',
      yOffset: 353,
      lineX1: 70,
      lineX2: 620,
    };
  },
  mounted() {
    this.spinnerEl = document.getElementById('spinner');
    this.recognized = document.getElementById('recognized');
    this.drawEl = document.getElementById('nine');

    // When the formula is being drawn,
    // ensure that the recognized image opacity is 0
    // Prevent user from going to previous page, and coming
    // to page again, and the recongized image is still shown
    this.detectDrawStart();

    // when drawing completes, show recongized image
    this.detectDrawEnd();
  },
  methods: {
    detectDrawStart() {
      this.drawEl.addEventListener('animationstart', () => {
        console.log('Animation is starting');
        this.recognized.style.opacity = 0;
      });
    },
    detectDrawEnd() {
      this.spinnerEl.addEventListener('animationend', () => {
        console.log('Animation ended');
        this.recognized.style.opacity = 1;
      });
    },
  },
};
</script>

<style lang="less" scoped>
@rit-color: rgb(247,105,2);
@lightRit: #fd892c;

  #spinner {
    stroke: @rit-color;
    stroke-width: 6;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: recognize 2s linear forwards;
    animation-delay: 1s;
  }

  #recognized {
    opacity: 0;
  }

  .svgBorder {
    margin: auto;
    height: 430px;
  }

  .svgBorder > svg {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #nine {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 9;
    animation: draw 3s linear forwards;
  }

 @keyframes draw {
   90% {
     opacity: 1;
   }
   100% {
     stroke-dashoffset: 0;
     opacity: 0;
   }
  }

  @keyframes recognize {
    to {
      stroke-dashoffset: 0;
    }
  }


</style>
