<template>
    <div>
        <v-col>
          <v-row
            align="center"
            justify="space-around"
            style="height: 300px;"
          >
            <v-col>
              <div ref="dummyChip">
                <Formula
                    :style="{
                    borderColor: '#2196F3',
                    backgroundColor: '#FFF !important',
                    maxWidth: '100%',
                    padding: '10px 10px !important',
                    overflowX: 'hidden',
                    }"
                >
                    <MathSymbolDisplay :symbols="symbols" :h="formulaHeight"/>
                </Formula>
                <div class="popper" ref="chipControls">
                    <ChipControls :controls="controls" :scaler="scaler"/>
                    <div class="popper__arrow" x-arrow=""></div>
                </div>
              </div>
            </v-col>
            <ControlDescriptions :controls="controls" :numCols="2" />
          </v-row>
        </v-col>

    <v-card-title class="primary">
        <span class="display-2 banner-text">Chips</span>
    </v-card-title>

    <v-card-text class="primary banner-text">
        Make reusable, shareable, searcheable chips.
    </v-card-text>
    </div>
</template>

<script>
import Popper from 'popper.js';
import { mixin } from '@/store/mixin';
import MathSymbolDisplay from '../MathSymbol/Display';
import ChipControls from '../ChipControls';
import ControlDescriptions from './ControlDescriptions';

export default {
  name: 'ChipSlide',
  mixins: [mixin],
  components: {
    MathSymbolDisplay,
    ChipControls,
    ControlDescriptions,
  },
  props: {
    options: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      symbols: [],
      // Set formula height to be a size large enough so that
      // entity formulas with thin symbols (e.g. '-') are visible
      formulaHeight: 35,
      scaler: {
        show: false,
        shrink: () => {},
        grow: () => {},
      },
    };
  },
  computed: {
    controls() {
      return [
        {
          ripple: false,
          color: 'primary',
          click: () => {},
          if: true,
          title: 'Search',
          iconStr: '$vuetify.icons.magnify',
        },
        {
          ripple: false,
          color: 'primary',
          click: () => {},
          if: null,
          title: 'Edit',
          iconStr: '$vuetify.icons.squareEditOutline',
        },
        {
          ripple: false,
          color: this.favoriteColor,
          click: () => {},
          if: true,
          title: 'Favorite',
          iconStr: '$vuetify.icons.star',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: () => {},
          if: true,
          title: 'Resize',
          iconStr: this.scaler.show
            ? '$vuetify.icons.close'
            : '$vuetify.icons.arrowExpand',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: () => {},
          if: true,
          title: 'Show History',
          iconStr: '$vuetify.icons.history',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: () => {},
          if: true,
          title: 'Duplicate',
          iconStr: '$vuetify.icons.contentCopy',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: () => {},
          if: true,
          title: 'Add to Canvas',
          iconStr: '$vuetify.icons.plusBox',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: () => {},
          if: true,
          title: 'Drop onto Canvas',
          iconStr: '$vuetify.icons.arrowExpandDown',
        },
        {
          ripple: false,
          color: 'red accent-4',
          click: () => {},
          if: true,
          title: 'Delete',
          iconStr: '$vuetify.icons.delete',
        },
      ];
    },
  },
  mounted() {
    // Generate chips for tutorial
    this.createDummyChip('x^2 + y^2 = z^2');

    // Show the popper for dummy chip
    this.showPopper();
  },
  methods: {
    // Creates a dummy chip to be rendered
    async createDummyChip(latex) {
      const data = await this.getSymbolData(latex);
      if (data) {
        const svgSymbols = data.symbols;

        if (svgSymbols) {
          this.symbols = svgSymbols;
        }
      }
    },
    showPopper() {
      this.popperInstance = new Popper(
        this.$refs.dummyChip,
        this.$refs.chipControls,
        {
          placement: 'bottom',
          positionFixed: true,
          modifiers: {
            preventOverflow: {
              boundariesElement: 'viewport',
              escapeWithReference: true,
            },
          },
        },
      );
      this.popperInstance.scheduleUpdate();
    },
  },
};
</script>
