<template>
  <v-container mt-10 id="controls-container" justify-center>
    <v-row>
      <v-col v-for="colIdx in numCols" :key="colIdx" class="controls-description">
        <v-row v-for="(control, i) in controlsInCol[colIdx - 1]" v-bind:key="i">
          <v-flex d-flex shrink pr-5>
            <v-icon :color="control.color">{{ control.iconStr }}</v-icon>
          </v-flex>
          <v-flex d-flex>
            {{ control.title }}
          </v-flex>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'ControlDescriptions',
  props: {
    controls: Array,
    numCols: Number,
  },
  data() {
    return {
      controlsInCol: [],
    };
  },
  mounted() {
    this.controlsInCol = this.splitControls();
  },
  methods: {
    // Split the controls so that
    // we can use it to create columns
    splitControls() {
      const controlsInCols = [];

      for (let i = 1; i <= this.numCols; i += 1) {
        const controlArr = [];
        for (let j = i - 0; j < this.controls.length; j += this.numCols) {
          controlArr.push(this.controls[j]);
        }
        controlsInCols.push(controlArr);
      }

      return controlsInCols;
    },
  },
};

</script>

<style lang="less">

.controls-description > .row {
  line-height: 1.9;
}

#controls-container {
  width: 500px;
}

</style>
