<template>
  <div>
    <div>
      <video width="100%" height="100%"
        controls
        playsinline
        >
        <source src="../../assets/videos/new_shareable_chips_intro.mp4" type="video/mp4">
      </video>
    </div>
    <v-card-text class="primary banner-text">
      <span class="banner-title">Download and Share</span>
      <br/><br />
       Export and import mathematical formulas and reuse them later
    </v-card-text>

  </div>
</template>

<script>

export default {
  name: 'DownloadShareSlide',
};
</script>
