<template>
  <div>
    <div>
      <video width="100%" height="100%"
        controls
        playsinline
        >
        <source src="../../assets/videos/reusable_chips_intro.mp4" type="video/mp4">
      </video>
      <v-card-text class="primary banner-text">
        <span class="banner-title">
          Reuse Formulas and Explore Concepts
        </span>
        <br/><br/>
        Reuse formulas with chips, search concept cards by name or formula
      </v-card-text>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EntityCardAndChipsSlide',
};
</script>

<style less="lang">
@media only screen and (min-width:904) {
  .banner-title {
    font-size: 2vh;
  }
}
</style>
