<template>
  <div>
    <div>
      <video
        width="100%"
        height="100%"
        controls
        playsinline
        >
        <source src="../../assets/videos/handwriting_intro.mp4" type="video/mp4">
      </video>
    </div>
    <div>
      <v-card-text class="primary banner-text">
        <span class="banner-title">Handwriting and LaTeX</span>
        <br/><br/>
        Enter Formulas with Handwriting and LaTeX
      </v-card-text>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HandwritingSlide',
};
</script>
