
<template>
  <div>
    <div>
      <video width="100%" height="100%"
        controls
        playsinline
        >
        <source src="../../assets/videos/image_upload_intro.mp4" type="video/mp4">
      </video>
    </div>
    <v-card-text class="primary banner-text">
      <span class="banner-title">Image Upload</span><br/><br/>
      Upload formula images
    </v-card-text>

  </div>
</template>

<script>

export default {
  name: 'ImageUploadSlide',
};
</script>
