<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialogIsOpen" :height="height" :width="width">
      <template v-slot:activator="{ on }">
        <v-btn
          class="intro-button"
          title="Help"
          color="primary"
          outlined icon right top v-on="on">?</v-btn>
      </template>
      <v-card color="white" text tile>
        <v-btn
          absolute
          right
          fab
          small
          id="close-button"
          color="white"
          @click="dialogIsOpen = false;"
          title="Close introduction"
        >
          <v-icon>$vuetify.icons.close</v-icon>
        </v-btn>
        <LogoSlide v-show="onboarding === 0" />
        <HandwritingSlide v-show="onboarding === 1" />
        <ImageUploadSlide v-show="onboarding === 2" />
        <ChipsAndTabsSlide v-show="onboarding === 3" />
        <VisualOperationsSlide v-show="onboarding === 4" />
        <EntityCardsSlide v-show="onboarding === 5" />

        <v-card-actions class="justify-space-between">
          <v-btn title="Previous Slide" v-if="onboarding !== 0" text @click="prev">
            <v-icon>$vuetify.icons.arrowLeftThick</v-icon>
          </v-btn>
          <div v-else class="button-placeholder"></div>
          <v-item-group v-model="onboarding" class="text-center" mandatory>
            <v-item v-for="n in length" :key="`btn-${n}`" v-slot:default="{ active, toggle }">
              <v-btn :input-value="active" icon @click="toggle">
                <v-icon>$vuetify.icons.record</v-icon>
              </v-btn>
            </v-item>
          </v-item-group>
          <v-btn title="Next Slide" v-if="onboarding !== 5" text @click="next">
            <v-icon>$vuetify.icons.arrowRightThick</v-icon>
          </v-btn>
          <div v-else class="button-placeholder"></div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import LogoSlide from './LogoSlide';
import HandwritingSlide from './HandwritingSlide';
import ImageUploadSlide from './ImageUploadSlide';
import ChipsAndTabsSlide from './ChipsAndTabsSlide';
import EntityCardsSlide from './EntityCardsSlide';
import VisualOperationsSlide from './VisualOperationsSlide';
import { mixin } from '@/store/mixin';

export default {
  name: 'Introduction',
  mixins: [mixin],
  components: {
    LogoSlide,
    ChipsAndTabsSlide,
    HandwritingSlide,
    ImageUploadSlide,
    EntityCardsSlide,
    VisualOperationsSlide,
  },
  data: () => ({
    length: 6,
    onboarding: 0,
    height: '850px',
    width: '850px',
    colors: ['primary', 'secondary', 'yellow darken-2', 'red', 'orange'],
  }),
  methods: {
    next() {
      this.onboarding = this.onboarding + 1 === this.length ? 0 : this.onboarding + 1;
    },
    prev() {
      this.onboarding = this.onboarding - 1 < 0 ? this.length - 1 : this.onboarding - 1;
    },
  },
};
</script>

<style lang="less">
.page-icons {
  color: #1976d2 !important;
}

.banner-text {
  color: white;
  font-size: 2vh;
  width: 100%;
  font-weight: 300;
  text-align: center;
}

.intro-button {
  padding: 0 !important;
  margin: 0 !important;
}

.button-placeholder {
  min-width: 64px;
}

#close-button {
  right: 0.5em;
  top: 0.5em;
  opacity: 70%;
}
</style>
