<template>
    <div>
      <v-container fluid grid-list-xl>
        <v-layout col justify-center>
          <v-flex xs7>
            <Logo
              :filename="filename"
              height="auto"
              width="100%"
              aspect-ratio="2"
              :alt="'MathDeck'"
            />
          </v-flex>
        </v-layout>
        <v-layout row justify-center align-center>
          <v-flex justify-center>
            <center class="acknowledge-subtext">
              We gratefully acknowledge support from the National Science Foundation (IIS-1717997)
              and the Alfred P. Sloan Foundation (G-2017-9827). Questions and comments are welcome
              (<a href="mailto:mathdeck@cs.rit.edu">mathdeck@cs.rit.edu</a>).
            </center>
          </v-flex>
        </v-layout>
        <v-layout row ml-12 justify-space-around align-center>
          <v-flex md3>
            <v-img :src="require('../../assets/SloanFoundationLogo.png')"
                alt="Sloan Foundation Logo"
                contain
                :width="imageWidth"
                :height="imageHeight">
            </v-img>
          </v-flex>
          <v-flex md3>
            <v-img :src="require('../../assets/Dprl.png')"
                alt="DPRL Logo"
                contain
                :width="imageWidth"
                :height="imageHeight">
            </v-img>
          </v-flex>
          <v-flex md3>
            <v-img :src="require('../../assets/NsfLogo.png')"
                alt="NSF Logo"
                contain
                class="nsf-logo"
                :width="imageWidth"
                :height="imageHeight"
               >
            </v-img>
          </v-flex>
        </v-layout>
      </v-container>
        <v-card-text class="primary banner-text">
          <center>
            <span class="banner-title">
              Build
              <span>
                <v-icon color="orange">$vuetify.icons.mathCompass</v-icon>
              </span>
              Explore
              <span>
                <v-icon color="orange">$vuetify.icons.function</v-icon>
              </span>
              Share
            </span>
            <br/><br/>
            Developed by the Document and Pattern Recognition Lab at RIT (&copy; 2019-2021)
          </center>
        </v-card-text>
    </div>
</template>

<script>
import logoFileName from '../../assets/MathDeckLogo.svg';
import Logo from '../Logo';

export default {
  name: 'LogoSlide',
  components: {
    Logo,
  },
  data() {
    return {
      filename: logoFileName,
      imageHeight: '100%',
      imageWidth: '150',
      imageAutoHeight: 'auto',
    };
  },
};
</script>

<style lang="less">

@media only screen and (max-width: 630px){
  .nsf-logo {
    margin-left: 7em;
  }
}

@media only screen and (max-width: 450px){
  .nsf-logo {
    margin-left: 0;
  }
}

.page-icons {
  color:#1976d2 !important;
}

.banner-title {
  color: white;
  font-size: 4vh;
  font-weight: 450;
  line-height: 1.1;
  text-align: center;
}

.intro-subtext {
  height: auto;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.acknowledge-subtext {
  font-size: 2vh;
}
</style>
