
<template>
  <div>
      <video width="100%" height="100%"
        controls
        playsinline
        >
        <source src="../../assets/videos/new_mycards_intro.mp4" type="video/mp4">
      </video>
    <v-card-text class="primary banner-text">
      <span class="banner-title">Creating Formula Concept Cards</span>
      <br/><br/>
      Create your own formula cards and reuse them later
    </v-card-text>

  </div>
</template>

<script>
export default {
  name: 'MyCardsSlide',
};
</script>
