
<template>
  <div>
    <div>
      <video width="100%" height="100%"
        controls
        playsinline
        >
        <source src="../../assets/videos/visual_operations_intro.mp4" type="video/mp4">
      </video>
    </div>
    <v-card-text class="primary banner-text">
      <span class="banner-title">Structure Operations</span><br/><br/>
      Edit rendered formulas directly with structure operations
    </v-card-text>

  </div>
</template>

<script>

export default {
  name: 'VisualOperationsSlide',
};
</script>
