<template>
  <span :style="{color: confidenceColor}">
    Match: {{confidenceStr}}%
  </span>
</template>

<script>
export default {
  name: 'EntityCardConfidence',
  props: {
    confidence: {
      Type: Number,
      default: 0,
    },
  },
  computed: {
    scaledConfidence() {
      try {
        // Get confidence in range [0,1]
        const c = parseFloat(this.confidence, 10) / 100;
        return (
        // Artifically reduce 'confidence' values displayed
          (c - Math.sqrt(1 - c) / 2)
        );
      } catch {
        return 0;
      }
    },
    confidenceStr() {
      // Round to 4 digits
      return ((this.scaledConfidence || 0) * 100).toPrecision(4);
    },
    confidenceColor() {
      return 'rgb(33, 150, 243)';
      // const red = 33;
      // const green = 150;
      // const blue = 243;
      // return `rgb(${[red, green, blue]
      //   .map(c => c * this.scaledConfidence)
      //   .join(', ')
      // })`;
    },
  },
};
</script>

<style>

</style>
