<template>
  <div class="entity-description">
    <v-textarea v-if="editable"
      placeholder="Enter Description here"
      outlined
      rows="6"
      no-resize
      :value="description"
      @input="onChange"
      />
    <span v-else-if="description"
      v-text="description" />
    <span v-else
      v-text="'No description available.'" />
  </div>
</template>

<script>
export default {
  name: 'EntityCardDescription',
  props: {
    description: {
      type: String,
      default: '',
    },
    editable: {
      Type: Boolean,
      default: false,
    },
    onChange: {
      Type: Function,
      default: () => {},
    },
  },

};
</script>
