<template>
  <v-flex
    class="entity-card-container editable"
  >
    <v-card text :ripple="false" :hover="true"
      class="entity-card text-xs-center rounded-card"
    >
      <div class="text-center pa-3"
        style="backgroundColor: #FC892C;"
      >
        <EntityCardTitle
          class="pb-2"
          :title="title"
          :editable="true"
          :onChange="updateTitle"
        />
        <template v-if="formulaSymbols">
          <ChipDisplay
            :color="chipBorderColor"
            :chipStyle="{
              border: `3px solid ${chipBorderColor}`,
              backgroundColor: '#FFF !important',
              maxWidth: '100%',
              padding: '6px 12px !important',
              overflowX: 'hidden',
            }"
            :onDragStart="dragStart"
            :onDragEnd="dragEnd"
            :onClick="onChipClick"
          >
            <MathSymbolDisplay :symbols="formulaSymbols" :h="25"/>

          </ChipDisplay>
        </template>
        <div v-else
          class="text-center" >
          <span class="entity-latex-text"
          >{{formulaLatex || ''}}</span>
        </div>
      </div>

      <v-card-text>
        <EntityCardDescription
          :editable="true"
          :onChange="updateDescription"
          :description="description" />
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import EntityCardTitle from './Title';
import EntityCardDescription from './Description';
import ChipDisplay from '../ChipDisplay';
import MathSymbolDisplay from '../MathSymbol/Display';

export default {
  name: 'EntityCardEditable',
  components: {
    ChipDisplay,
    EntityCardTitle,
    EntityCardDescription,
    MathSymbolDisplay,
  },
  props: {
    title: {
      Type: String,
      default: '',
    },
    description: {
      Type: String,
      default: '',
    },
    formulaLatex: {
      Type: String,
      default: '',
    },
    isFresh: {
      Type: Boolean,
      default: true,
    },
    formulaSymbols: {
      Type: Array,
      default: null,
    },
    updateTitle: {
      Type: Function,
      default: () => {},
    },
    updateDescription: {
      Type: Function,
      default: () => {},
    },
    onChipClick: {
      Type: Function,
      default: () => {},
    },
  },
  computed: {
    chipBorderColor() {
      return this.isFresh ? '#2196F3' : 'gray';
    },
  },
  methods: {
    dragStart(e) {
      e.dataTransfer.effectAllowed = 'copy';
      // e.dataTransfer.setData('text', this.formula.latex);

      const chip = e.target.closest('.chip');
      const cRect = chip.getBoundingClientRect();
      const offsetX = e.clientX - cRect.x;
      const offsetY = e.clientY - cRect.y;
      const data = {
        offsetX,
        offsetY,
        latex: this.formulaLatex,
      };
      const dataList = e.dataTransfer.items;
      dataList.add(JSON.stringify(data), 'text/plain');
      e.dataTransfer.setDragImage(chip, offsetX, offsetY);
    },
    dragEnd() {
      this.draggingChip = null;
    },
  },


};
</script>

<style lang="less">

.entity-card-container.editable {
  padding: 3px;
  // width: 100%;
  min-width: 280px;
  width: 100%;
  max-width: none;
  height: 100%;

  .entity-latex-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    margin-right: 5px;
    margin-bottom: -10px;
  }

  .entity-card {
    height: 100%;
    // max-height: 370px;

    max-height: 400px;
    .entity-description {
      height: 100%;
      max-height: 100%;
    }
  }
}


</style>
