<template>
  <v-flex class="entity-card-container">
    <v-card
      text
      :ripple="false"
      :hover="true"
      @click="onClick"
      class="entity-card text-xs-center rounded-card"
    >
      <div
        class="text-center pa-3 pb-1 pt-1"
        :style="{
          backgroundColor: cardColor,
        }"
      >
        <EntityCardTitle :title="entityData.title" />
        <v-btn v-if="allowExpand"
          absolute fab top right small color="orange"
          @click="event => toggleExpand(event)" class="expand-card-fab">
          <v-icon v-if="!individuallyExpanded" color="white">$vuetify.icons.arrowExpand</v-icon>
          <v-icon v-else color="white">$vuetify.icons.arrowCollapse</v-icon>
        </v-btn>
        <span :title="latex">
          <ChipDisplay
            :color="!isFresh ? 'grey' : 'blue'"
            :chipStyle="chipStyle"
            :id="chipId"
            :onDragStart="dragStart"
            :onDragEnd="dragEnd"
            :onClick="showControls"
            :onRightClick="showControls"
          >
            <MathSymbolDisplay v-if="hasSymbols" :symbols="symbols" :h="formulaHeight" />
            <div v-else style="width: 21px; height: 21px;" />
          </ChipDisplay>
          <EntityCardControls
            v-if="entityActive && isActive"
            :latex="latex"
            :symbols="symbols"
            :id="chipId"
            :cardTitle="entityData.title"
            :cardDescription="entityData.description"
          />
        </span>
      </div>

      <v-card-text v-if="individuallyExpanded">
        <EntityCardDescription
          :description="description" />
        <v-card-actions class="pa-0 pt-2" v-if="entityData.confidence">
          <EntityCardConfidence :confidence="entityData.confidence" />
          <v-spacer></v-spacer>
          <v-btn
            v-if="sourceLink"
            text
            color="blue"
            rounded
            :href="sourceLink"
            target="_blank"
          >
            <v-icon small>$vuetify.icons.link</v-icon>
            {{sourceName || sourceLink}}
          </v-btn>
          <div v-else style="height: 36px;" />
        </v-card-actions>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import { mixin } from '@/store/mixin';
import EntityCardConfidence from './Confidence';
import MathSymbolDisplay from '../MathSymbol/Display';
import EntityCardTitle from './Title';
import EntityCardDescription from './Description';
import ChipDisplay from '../ChipDisplay';
import EntityCardControls from '../EntityCardControls';

const colors = require('vuetify/es5/util/colors');

export default {
  name: 'EntityCard',
  mixins: [mixin],
  components: {
    ChipDisplay,
    EntityCardConfidence,
    EntityCardDescription,
    EntityCardTitle,
    MathSymbolDisplay,
    EntityCardControls,
  },
  props: {
    entityData: {
      Type: Object,
      required: true,
    },
    onClick: {
      Type: Function,
      default: () => () => {},
    },
    onChipClick: {
      Type: Function,
      default: null,
    },
    allowExpand: {
      Type: Boolean,
      default: true,
    },
    initialExpand: {
      Type: Boolean,
      default: false,
    },
    insertionMode: {
      Type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      // symbols: [],
      // Set formula height to be a size large enough so that
      // entity formulas with thin symbols (e.g. '-') are visible
      formulaHeight: 21,
      entityActive: false,
      individuallyExpanded: false,
    };
  },
  mounted() {
    this.individuallyExpanded = this.cardsExpanded;
  },
  watch: {
    cardsExpanded(newValue) {
      this.individuallyExpanded = newValue;
    },
  },
  computed: {
    ofChip() {
      return !!this.entityData.ofChip;
    },
    isFresh() {
      return !this.ofChip || !!this.formula.isFresh;
    },
    chipStyle() {
      const borderSize = '3px solid';

      // Change the border color depending on whether
      // it is favorited or not
      let border = this.isFavorited(this.latex)
        ? `${borderSize} ${colors.default.amber.accent4} !important`
        : `${borderSize} ${
          this.isFresh ? this.style.formulaBlue : 'grey'
        }`;

      if (this.insertionMode) {
        border = 'grey !important';
      }

      return {
        border,
        backgroundColor: '#FFF !important',
        maxWidth: '100%',
        padding: '6px 12px !important',
        overflowX: 'hidden',
      };
    },
    isActive() {
      return this.entityActiveChip === this.id;
    },
    description() {
      return this.entityData.description;
    },
    sourceLink() {
      return this.entityData.sourceLink || null;
    },
    sourceName() {
      return this.entityData.sourceName || null;
    },
    chipId() {
      return this.entityData.chipId;
    },
    formula() {
      return this.getChip(this.chipId) || {};
    },
    latex() {
      return this.formula.str || '';
    },
    symbolIds() {
      return this.formula.symbolIds || [];
    },
    symbols() {
      return this.symbolIds.map(this.getSymbol);
    },
    id() {
      return this.entityData ? this.entityData.id : null;
    },
    hasSymbols() {
      return this.symbols && this.symbols.length > 0;
    },
    cardColor() {
      const c = parseFloat(this.entityData.confidence || '100', 10) / 100;
      const red = 0.99198914 * 255;
      const green = 0.5369873 * 255;
      const blue = 0.17298889 * 255;
      return `rgb(${[red, green, blue].map(x => x * c).join(', ')}) !important`;
    },
  },

  methods: {
    async showControls(e) {
      e.preventDefault();
      e.stopPropagation();
      // If right clicking on the same entity chip,
      // then simply toggle the state of entityActive
      if (this.entityActiveChip === this.id) {
        this.entityActive = !this.entityActive;
      } else {
        // right clicking on a different entity chip
        // Always show the entity popper.
        this.entityActive = true;
      }

      // Update the entityChipActive
      this.entityActiveChip = this.id;
    },
    isFavorited(latex) {
      // Check the favoriteChip array to see if
      // there exist any chip that contains the same latex
      // If there is, then it must have already been
      // favorited.
      return this.checkDuplicate(null, latex, 'fav');
    },
    dragStart(e) {
      e.dataTransfer.effectAllowed = 'copy';
      // e.dataTransfer.setData('text', this.formula.latex);

      const chip = e.target.closest('.chip');
      const cRect = chip.getBoundingClientRect();
      const offsetX = e.clientX - cRect.x;
      const offsetY = e.clientY - cRect.y;
      const data = {
        offsetX,
        offsetY,
        latex: this.latex,
        chipId: this.chipId,
        isFresh: this.isFresh,
      };
      const dataList = e.dataTransfer.items;
      dataList.add(JSON.stringify(data), 'text/plain');
      e.dataTransfer.setDragImage(chip, offsetX, offsetY);
    },
    dragEnd() {
      this.draggingChip = null;
    },
    toggleExpand(event) {
      event.stopPropagation();
      if (!this.individuallyExpanded) {
        this.individuallyExpanded = true;
      } else {
        this.individuallyExpanded = false;
      }
    },
    // clickChip(event) {
    //   event.stopPropagation();
    //   this.insertText(this.formula.latex);
    // },
  },
};
</script>

<style lang="less">
.entity-card-container {
  padding: 3px;
  // width: 100%;
  min-width: 280px;
  width: 280px;
  max-width: 300px;
}

.v-card.entity-card {
  // background-color: #FAFAFA !important;
  background-color: #fff !important;
  cursor: default;

  .v-card__title,
  .v-card__title > * {
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  // .title-div {
  //   background: #fd892c;
  // }

  &.rounded-card {
    border-radius: 20px !important;
  }

  &.v-card--link:focus::before {
    opacity: 0.06;
  }

  .chip {
    margin: 0 auto;
  }

  .entity-description {
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    line-height: 1.375rem;
    max-height: calc(7 * 1.375rem);
  }

  .expand-card-fab {
    right: -20px;
    top: -8px !important;
  }
}
  .v-card.entity-card:hover{
    cursor: pointer;
  }
</style>
