<template>
  <EntityCard
    :entityData="entityData"
  />
</template>

<script>
import { mixin } from '@/store/mixin';
import EntityCard from '.';

export default {
  name: 'EntityCardOfChip',
  mixins: [mixin],
  components: {
    EntityCard,
  },
  props: {
    chipId: {
      Type: Number,
      required: true,
    },
  },
  computed: {
    chip() {
      return this.getChip(this.chipId);
    },
    symbols() {
      return this.chip.symbolIds.map(this.getSymbol);
    },
    entityData() {
      return {
        id: this.chipId * 2,
        ofChip: true,
        title: this.chip.title,
        descriptions: [{ description: this.chip.description }],
        formula: [{
          latex: this.chip.str,
          symbols: this.symbols,
          isFresh: this.chip.isFresh,
        }],
      };
    },
  },


};
</script>

<style>

</style>
