<template>
  <div class="mt-0 mb-1 text-center font-weight-medium white--text" style="display: inline;">
    <v-text-field v-if="editable"
      class="card-title-input"
      placeholder="Enter Card Title here"
      dark
      outlined
      :value="title"
      @input="onChange"
      style="font-size: 1.2rem;"
      />

    <span v-else-if="!(title && title.trim())"
      style="color: #555;"
      v-text="'Untitled Card'" />
    <span v-else
      v-text="title" />
  </div>
</template>

<script>
export default {
  name: 'EntityCardTitle',
  props: {
    title: {
      Type: String,
      default: null,
    },
    editable: {
      Type: Boolean,
      default: false,
    },
    onChange: {
      Type: Function,
      default: () => {},
    },
  },

};
</script>

<style lang="less">
.card-title-input input{
  text-align: center;
}
</style>
