<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>MathDeck</title>
    <!-- Built single-file mathjax + config -->
    <script type="text/javascript" src="MathJax.bundle.min.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but MathDeck doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="mathjax-render-container"
      style="position: absolute; left: 0; top: 0; z-index: -1; visibility: hidden;"
    >
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
