<template>
  <div class="sp-container">
    <!-- Deck Tabs -->
    <v-tabs
      id="math-deck-navigation"
      background-color="#333"
      dark
    >
      <v-btn
        text
        background-color="#333"
        class="align-self-center mr-3"
        @click="switchTabs('cards')"
      >
        <v-icon left color="orange">
          $vuetify.icon.cards
        </v-icon>
        Cards
      </v-btn>

      <v-btn
        text
        background-color="#333"
        class="align-self-center mr-3"
        @click="switchTabs('formulas')"
      >
        <v-icon left color="blue">
          $vuetify.icon.function
        </v-icon>
        Formulas
      </v-btn>

      <v-menu
        bottom
        left
        offset-y
      >
        <template v-slot:activator="{ on }">
          <v-btn
            text
            background-color="#333"
            class="align-self-center mr-3"
            @click="switchTabs('symbols')"
          >
            <v-icon left color="white">
              $vuetify.icon.sigma
            </v-icon>
            Symbols
            <v-icon  v-if="showSymbolsDropdown" right v-on="on">
              $vuetify.icons.chevronDown
            </v-icon>
          </v-btn>
        </template>

        <v-list class="grey darken-3" dark>
          <v-list-item v-for="cat in symbolCategories"
          :key="cat"
          @click="scrollDeckTo(cat, 'symbols')"
        >
          <v-list-item-title
            v-text="`${cat[0].toUpperCase()}${cat.slice(1)}`" />
          </v-list-item>
        </v-list>
      </v-menu>
      <v-spacer />
      <v-toolbar-items>
        <v-text-field
          id="deck-filter-field"
          clearable
          background-color="primary"
          solo
          label="Filter"
          v-model="searchQuery">
          <template v-slot:label>
            <v-icon
            title="Filter"
            style="vertical-align: middle"
            >$vuetify.icons.filter</v-icon>
            Filter
          </template>
        </v-text-field>
      </v-toolbar-items>
    </v-tabs>
    <!-- Deck Content -->
    <div class="math-deck-under-toolbar">
    <v-tabs-items v-model="activeTab" style="height: 100%" >
      <v-tab-item
        :value="'cards'"
      >
      <v-row v-if="!searchFilter || hasFilteredMyCards || hasFilteredWikiCards"
        dense class="math-deck-results">
        <div class="math-deck-result-category"
          :id="`category-wikicards`">
          <v-card
            v-show="!searchFilter || hasFilteredWikiCards"
          >
            <v-card-title>
              Wikicards
              <v-btn icon absolute right @click="showWikicards = !showWikicards">
                <v-icon v-if="showWikicards">$vuetify.icons.chevronUp</v-icon>
                <v-icon v-else>$vuetify.icons.chevronDown</v-icon>
              </v-btn>
              <ExpandCardsButton />
            </v-card-title>
            <v-expand-transition>
              <div v-show="showWikicards">
                <v-container fill-height>
                  <SearchDisplay
                    :showing="true"
                    :displaySelf="() => {}"
                    :filterString="wikicardFilterString"
                    :setFilterCount="setWikiCardsFilterCount"
                    :insertionMode="insertionMode"
                    />
                </v-container>
              </div>
            </v-expand-transition>
          </v-card>
        </div>

        <div class="math-deck-result-category"
          :id="`category-mycards`">
          <v-card
            v-show="!searchFilter || hasFilteredMyCards"
          >
            <v-card-title>
              My Cards
              <v-btn icon absolute right @click="showMyCards = !showMyCards">
                <v-icon v-if="showMyCards">$vuetify.icons.chevronUp</v-icon>
                <v-icon v-else>$vuetify.icons.chevronDown</v-icon>
              </v-btn>
              <ExpandCardsButton />
            </v-card-title>
            <v-expand-transition>
              <div v-show="showMyCards">
                <v-container fill-height>
                  <MyCards
                    :filterString="mycardFilterString"
                    :setFilterCount="setMyCardsFilterCount"
                    :insertionMode="insertionMode"
                    />
                </v-container>
              </div>
            </v-expand-transition>
          </v-card>
        </div>
      </v-row>
      <div v-else style="text-align: center; margin-top: 100px">
        No matches found.
      </div>

      </v-tab-item>

      <v-tab-item
        :value="'formulas'"
      >
      <v-row v-if="!searchFilter || hasFilteredFavorites
      || hasFilteredHistory" dense class="math-deck-results">
        <div class="math-deck-result-category"
            :id="`category-favorites`">
            <v-card
              v-show="!searchFilter || hasFilteredFavorites"
            >
              <v-card-title>
                Favorites
                <v-btn icon absolute right @click="showFavorites = !showFavorites">
                  <v-icon v-if="showFavorites">$vuetify.icons.chevronUp</v-icon>
                  <v-icon v-else>$vuetify.icons.chevronDown</v-icon>
                </v-btn>
              </v-card-title>
              <v-card-actions></v-card-actions>
              <v-expand-transition>
                <div v-show="showFavorites">
                  <v-container fill-height>
                    <FavoriteChips
                      :onClick="insertionMode ? chipInsertText : focusChip"
                      :filter="doFilterFavorite"
                      :setFilterCount="setFavoritesFilterCount"
                      :insertionMode="insertionMode"
                      />
                  </v-container>
                </div>
              </v-expand-transition>
            </v-card>
          </div>

          <div class="math-deck-result-category"
            :id="`category-history`">
            <v-card
              v-show="!searchFilter || hasFilteredHistory"
            >
              <v-card-title>
              My Formulas
              <v-btn icon absolute right @click="showMyFormulas = !showMyFormulas">
                <v-icon v-if="showMyFormulas">$vuetify.icons.chevronUp</v-icon>
                <v-icon v-else>$vuetify.icons.chevronDown</v-icon>
              </v-btn>
              </v-card-title>
              <v-card-actions></v-card-actions>
              <v-expand-transition>
                <div v-show="showMyFormulas">
                  <v-container fill-height>
                    <v-layout row wrap v-if="Object.keys(mergeHistories).length !== 0">
                      <ChipHistoryDisplay v-for="(mergeHistory, str) in mergeHistories"
                        :historyIds="mergeHistory.historyIds"
                        :key="str"
                        :onClick="insertionMode ? chipInsertText : focusChip"
                        :filter="doFilterHistory"
                        :setFilterCount="setHistoryFilterCount"
                        :insertionMode="insertionMode"
                      />
                    </v-layout>
                    <div v-else>
                      Formulas will appear here automatically as you edit them.
                    </div>
                  </v-container>
                </div>
              </v-expand-transition>
            </v-card>
          </div>
      </v-row>
      <div v-else style="text-align: center; margin-top: 100px">
        No matches found.
      </div>
      </v-tab-item>

      <v-tab-item
        :value="'symbols'"
      >
      <v-row v-if="!symbolsIsEmpty" dense class="math-deck-results">
      <div class="math-deck-result-category"
          :id="`category-${name}`"
          v-for="{name, value} in symbolsCollection" :key="name">
          <template >
            <!-- <SymbolPaletteTabMatrix v-if="name === 'matrices'"
              :name="name"
              :symbols="value"
              :filter="doFilter"
              :insertionMode="insertionMode"
              :onClick="insertionMode ? chipInsertText : focusChip"
              /> -->
            <SymbolPaletteTab  v-if="name !== 'matrices'"
              :name="name"
              :symbols="value"
              :filter="doFilter"
              :insertionMode="insertionMode"
              :onClick="insertionMode ? chipInsertText : copyAndFocusChip"
              />
          </template>
      </div>
      </v-row>
      <div v-else style="text-align: center; margin-top: 100px">
        No matches found.
      </div>
      </v-tab-item>


    </v-tabs-items>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import { mixin } from '@/store/mixin';
// import MathDeckTag from './Tag';
// import MathDeckNavigation from './Navigation';
import SearchDisplay from '../SearchDisplay';
import FavoriteChips from '../FavoriteChips';
import ChipHistoryDisplay from '../ChipHistoryDisplay';
import SymbolPaletteTab from '../SymbolPalette/Tab';
// import SymbolPaletteTabMatrix from '../SymbolPalette/TabMatrix';
import ExpandCardsButton from '../SymbolPalette/ExpandCardsButton';
import MyCards from '../MyCards';

const colors = require('vuetify/es5/util/colors');

export default {
  name: 'MathDeck',
  mixins: [mixin],
  components: {
    ExpandCardsButton,
    // MathDeckTag,
    // MathDeckNavigation,
    MyCards,
    SearchDisplay,
    FavoriteChips,
    ChipHistoryDisplay,
    SymbolPaletteTab,
    // SymbolPaletteTabMatrix,
  },
  data() {
    return {
      activeTab: 'cards',
      searchQuery: '',
      searchFilter: '',
      hasFilteredWikiCards: false,
      hasFilteredMyCards: false,
      hasFilteredFavorites: false,
      hasFilteredHistory: false,
      tagSelection: [],
      lastTags: null,
      insertionMode: false,
      showWikicards: true,
      showMyCards: true,
      showFavorites: true,
      showMyFormulas: true,
      showSymbolsDropdown: false,
      tags: [
        {
          name: 'wikicards',
          icon: '$vuetify.icons.cards',
          color: 'blue',
          dark: true,
        },
        {
          name: 'mycards',
          icon: '$vuetify.icons.cards',
          color: 'blue',
          dark: true,
        },
        {
          name: 'favorites',
          icon: '$vuetify.icons.star',
          color: colors.default.amber.accent4,
          dark: true,
        },
        {
          name: 'history',
          icon: '$vuetify.icons.history',
          color: 'blue',
        },
        {
          name: 'common',
          color: 'secondary',
        },
        {
          name: 'greek',
          color: 'secondary',
        },
        {
          name: 'relational',
          color: 'secondary',
        },
        {
          name: 'matrices',
          color: 'secondary',
        },
        {
          name: 'binary',
          color: 'secondary',
        },
        {
          name: 'logic',
          color: 'secondary',
        },
        {
          name: 'delimiters',
          color: 'secondary',
        },
        {
          name: 'accents',
          color: 'secondary',
        },
      ],
    };
  },
  computed: {
    toggleIcon() {
      return this.insertionMode ? '$vuetify.icons.cursorDefault' : '$vuetify.icons.keyboard';
    },
    filteredTags() {
      if (!this.tagSelection) return [];
      if (this.tagSelection.length === 0) {
        // Treat no selection as all selected
        return this.tags.map((t, i) => i);
      }
      return [...this.tagSelection];
    },
    tagNames() {
      return this.tags.map(t => t.name);
    },
    symbolCategories() {
      const categories = [...this.tagNames];
      const start = categories.indexOf('common');
      return categories.slice(start);
    },
    // filteredTagNames() {
    //   return this.filteredTags
    //     .map(index => this.tagNames[index]);
    // },
    collection() {
      return this.paletteSymbols;
    },
    filteredCollection() {
      return _.merge({}, ..._.map(this.collection,
        (categoryValues, category) => ({
          [category]: categoryValues.filter(this.doFilter),
        })));
    },
    symbolsCollection() {
      // Convert to ordered list of { name, value }
      if (!this.collection) {
        return [];
      }
      return this.symbolCategories
        // // Tag is in filtered tag list
        // .filter((n, i) => this.filteredTags.indexOf(i) !== -1)
        .map(n => ({
          name: n,
          value: this.collection[n],
        }));
    },
    symbolsIsEmpty() {
      const categories = Object.values(this.collection).flat()
        .map(this.getChip)
        .filter(this.doFilter);
      return categories.length === 0 && this.searchFilter;
    },
    wikicardFilterString() {
      // if (this.filteredTagNames.indexOf('wikicards') === -1) {
      //   return '';
      // }
      return this.searchFilter;
    },
    mycardFilterString() {
      // if (this.filteredTagNames.indexOf('mycards') === -1) {
      //   return '';
      // }
      return this.searchFilter;
    },
  },
  watch: {
    searchQuery() {
      // this.updateEntityCardsFromText();
      this.updateSearch();
    },
  },
  mounted() {
    const mathDeckResultsEl = document.getElementsByClassName('math-deck-results');
    // Hide Popper controls when user is scrolling
    // MathDeck
    mathDeckResultsEl[0].addEventListener('scroll', () => {
      const atTop = mathDeckResultsEl.scrollTop === 0;
      if (!atTop) {
        this.activeChip = null;
        this.entityActiveChip = null;
      }
    }, { passive: true });
  },
  methods: {
    switchTabs(tab) {
      this.activeTab = tab;
      this.showSymbolsDropdown = tab === 'symbols';
    },
    scrollDeckTo(location, tab) {
      this.switchTabs(tab);
      const tabs = document.getElementsByClassName('math-deck-results');
      const results = tabs[tabs.length - 1];
      const el = document.getElementById(`category-${location}`);
      results.scrollTop = el.offsetTop;
    },
    toggleKeyboard() {
      this.insertionMode = !this.insertionMode;
    },
    setWikiCardsFilterCount(value) {
      this.hasFilteredWikiCards = !!value;
    },
    setMyCardsFilterCount(value) {
      this.hasFilteredMyCards = !!value;
    },
    setFavoritesFilterCount(value) {
      this.hasFilteredFavorites = !!value;
    },
    setHistoryFilterCount(value) {
      // OR all calls results together
      this.hasFilteredHistory = !!value;
    },
    nonPalette(name) {
      return [
        'wikicards',
        'mycards',
        'favorites',
        'history',
      ]
        .indexOf(name) !== -1;
    },
    displayCategory(name, value) {
      return this.nonPalette(name) || (value && value.length > 0);
    },
    doFilter(result) {
      return result
        // // Result tag must match a tag filter
        // && (_.intersection(result.tags, this.filteredTagNames).length !== 0)
        && ((!result.str && !this.searchFilter)
          // Search string must appear in result string
          || (result.str && result.str.indexOf(this.searchFilter) !== -1)
        );
    },
    doFilterHistory(result) {
      // return this.doFilter({ ...result, tags: ['history'] });
      return this.doFilter(result);
    },
    doFilterFavorite(result) {
      // return this.doFilter({ ...result, tags: ['favorites'] });
      return this.doFilter(result);
    },
    updateSearch: _.debounce(function updateSearch() {
      const queryParts = (this.searchQuery || '').toLowerCase().split(' ');
      // check for categories in search
      const catIndices = this.tagNames
        // name to query index
        .map(name => queryParts.indexOf(name))
        // only keep hits
        .filter(i => i !== -1)
        // query index to tag index
        .map(i => this.tagNames.indexOf(queryParts[i]));

      if (catIndices.length !== 0) {
        if (this.lastTags === null) {
          // Save old tags
          this.lastTags = [...this.tagSelection];
        }
        this.tagSelection.splice(0); // empty
        this.tagSelection.push(...catIndices); // add category
        // search non-category words
        this.searchFilter = queryParts
          .filter(p => this.tagNames.indexOf(p) === -1)
          .join(' ');
      } else {
        if (this.lastTags != null) {
          // return filter tags to last configured values
          this.tagSelection.splice(0);
          this.tagSelection.push(...this.lastTags);
          this.lastTags = null;
        }
        this.searchFilter = queryParts.join(' ');
      }
    }, 200),
    focusChip(e, chipId) {
      e.preventDefault();
      e.stopPropagation();
      if (chipId) {
        this.selectChip(chipId);
      }
    },
    chipInsertText(e, chipId) {
      e.preventDefault();
      e.stopPropagation();
      const chip = this.getChip(chipId);
      if (chip) {
        const chipStr = chip.str || '';
        this.insertText(chipStr);
      }
    },
  },
};
</script>

<style lang="less">

.version-text {
  font-size: 8pt;
  color: gray;
  vertical-align: middle;
}

#deck-filter-field {
  margin: 0;
}

#math-deck-navigation {
  transform: translateX(0%) !important;
}

.switch-mode-element {
  margin: auto .25em !important;
  .v-messages {
    display: none;
  }
}

  .active-mode {
    color: 'primary';
  }
  .sp-container {
  // position: absolute;
  width: 100%;
  height: 100%;

  .math-deck-under-toolbar {
    padding: 0 4px;
    position: relative;
    height: calc(100% - 48px);

    .math-deck-filters {
      position: relative;
      background: #F0F0F0;
      padding: 0;
      height: 48px;
      border-bottom: 1px solid orange;
      .v-chip-group {
        width: 100%;
        .v-chip {
          margin: 4px;
        }
      }
    }

    .math-deck-results-expanded {
      width: calc(100% - 60px) !important;
      // left: 60px !important;
    }

    .math-deck-results {
      height: calc(100% - 96px);
      height: 100%;
      width: 100%;
      // top: calc(-100% - 48px);
      // left: 260px;
      position: absolute;
      overflow-y: scroll;
      // transform: translateZ(0);

      .math-deck-result-category {
        &:empty {
          display: none;
        }
        width: 100%;
        .v-card {
          margin: 5px;

          .v-card__title {
            text-transform: uppercase;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

</style>
