<template>
  <v-navigation-drawer
    v-if="!collapsed"
    dark
    width="250"
  >
    <v-btn text fab small left
          id="close-navigation-panel"
          color="white"
          title="Close Panel"
          @click="toggleCollapse">
          <v-icon>$vuetify.icons.chevronLeft</v-icon>
    </v-btn>
    <v-list-item>
      <v-list-item-content>
      <v-list-item-subtitle>Jump to:</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-list dense nav>
      <v-list-group no-action
        color="orange"
      >
        <template v-slot:activator>
          <v-list-item>
            <v-list-item-icon>
              <v-icon color="orange">$vuetify.icon.cards</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Cards</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-list-item
          @click="() => scrollDeckTo('wikicards')"
        >
          <v-list-item-content>
            <v-list-item-title>Wiki Cards</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          @click="() => scrollDeckTo('mycards')"
        >
          <v-list-item-content
          >
            <v-list-item-title>My Cards</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-group no-action
        color="blue"
      >
        <template v-slot:activator>
          <v-list-item>
            <v-list-item-icon>
              <v-icon color="blue">$vuetify.icon.function</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Formulas</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-list-item
          @click="() => scrollDeckTo('favorites')"
        >
          <v-list-item-content>
            <v-list-item-title>Favorites</v-list-item-title>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>$vuetify.icon.star</v-icon>
          </v-list-item-icon>
        </v-list-item>
        <v-list-item
          @click="() => scrollDeckTo('history')"
        >
          <v-list-item-content>
            <v-list-item-title>History</v-list-item-title>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>$vuetify.icon.history</v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-group>

      <v-list-group no-action
        color="white"
      >
        <template v-slot:activator>
          <v-list-item>
            <v-list-item-icon>
              <v-icon color="white">$vuetify.icon.sigma</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Symbols</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-list-item v-for="cat in symbolCategories"
          :key="cat"
          @click="() => scrollDeckTo(cat)"
        >
          <v-list-item-content>
            <v-list-item-title
              v-text="`${cat[0].toUpperCase()}${cat.slice(1)}`" />
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <div style="height: 100px;" />
    </v-list>
  </v-navigation-drawer>
  <v-card v-else class="collapsed-panel">
    <v-btn text
      color="white"
      title="Open Navigation Panel"
      @click="toggleCollapse">
      <v-icon>$vuetify.icons.chevronRight</v-icon>
    </v-btn>
  </v-card>
</template>

<script>
import { mixin } from '@/store/mixin';

export default {
  name: 'MathDeckNavigation',
  mixins: [mixin],
  props: {
    symbolCategories: {
      Type: Array,
      default: [],
    },
  },
  data() {
    return {
      collapsed: false,

    };
  },
  updated() {
    const panel = document.getElementById('math-deck-navigation');
    if (panel) {
      panel.style.width = this.collapsed ? '50px' : '250px';
    }
  },
  methods: {
    scrollDeckTo(location) {
      const results = document.getElementById('math-deck-results');
      const el = document.getElementById(`category-${location}`);
      results.scrollTop = el.offsetTop;
    },
    toggleCollapse() {
      const deck = document.getElementById('math-deck-results');
      if (!this.collapsed) {
        this.collapsed = true;
        deck.classList.add('math-deck-results-expanded');
      } else {
        deck.classList.remove('math-deck-results-expanded');
        this.collapsed = false;
      }
    },
  },

};
</script>

<style lang="less">

.collapsed-panel {
  background-color: rgb(51, 51, 51) !important;
  height: 100%;
  border-radius: 0 !important;
  button {
    margin: auto 0;
    height: 100% !important;
  }
}

#close-navigation-panel{
  float: left;
  margin: 0.3em 0 0 1em;
}

#math-deck-navigation {
  transform: translateX(0%) !important;
}

.math-deck-navigation-collapsed{
  width: 50px !important;
}

</style>
