<template>
  <v-chip
    class="math-deck-tag"
    label filter outlined
    :color="tag.color"
    :dark="true"
    :ripple="false"
  >
    <span class="math-deck-tag-text">
      {{tag.name}}
    </span>
  </v-chip>
</template>

<script>
export default {
  name: 'MathDeckTag',
  props: {
    tag: {
      Type: Object,
      required: true,
    },
  },

};
</script>

<style lang="less">

.math-deck-tag {
  user-select: none;

  .math-deck-tag-text {
    text-transform: uppercase;
    color: black !important;
  }
}

</style>
