<template functional>
  <v-container
    class="text-input-container"
    fluid fill-height
    grid-list-md
    v-on:dragenter.stop.prevent
    v-on:dragover.stop.prevent
    v-on:dragleave.stop.prevent
    v-on:drop.stop.prevent>

    <v-layout row style="margin:0;">
      <v-card class="p-relative fill-height" style="width: 100%;">
        <slot name="slot2" />
      </v-card>
    </v-layout>

  </v-container>
</template>

<script>
export default {
  name: 'TextInputDisplay',
  props: {
    close: Function,
  },
};
</script>

<style lang="less">
  .text-input-container {
    position: relative;
    padding: 0px;

    .container {
      max-width: none;
    }

    .v-text-field__details {
      display: none;
    }

    .v-input__slot {
      margin: 0;
    }

    // CSS to ensure textarea height: 100%;
    .text-input-textarea {
      height: 100%;
      .v-input__control {
        height: 100%;
        .v-input__slot {
          height: 100%;
        }
      }
    }

    .text-input-render-area {
      min-height: 7em;
      height: 100%;
      text-align: center;
      background-color: rgb(224, 224, 224);
      overflow: none;
    }

    .text-input-error-message {
      color: red;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      justify-content: center;
    }

    .text-input-title {
      position: absolute;
      width: 100%;
      display: block;
      color: rgb(25, 118, 210);
      // top: 0;
    }
  }
</style>
