<template>
  <v-layout wrap p-relative fill-height>
    <Spinner />
    <v-flex xs12 d-flex fill-height
      style="margin: auto; padding: 0px;">
      <TextInputDisplay>

        <!-- <template slot="top-controls">
        </template> -->

        <template slot="slot2">
          <MathDeck />
        </template>

        <template slot="slot3">
          <v-progress-linear
            style="width: 90%; height: 3px; margin: auto; "
            v-model="autoRecPercent">
          </v-progress-linear>
        </template>

      </TextInputDisplay>

    </v-flex>
  </v-layout>
</template>

<script>
import MathDeck from '@/components/MathDeck/';
import { mixin } from '@/store/mixin';
import TextInputDisplay from './Display';
import Spinner from '../Spinner';

export default {
  name: 'TextInput',
  mixins: [mixin],
  components: {
    Spinner,
    MathDeck,
    TextInputDisplay,
  },
};
</script>

<style lang="less">
  .v-text-field__details{
    display: none;
  }

  // .v-bottom-sheet {
  //   background-color:white;
  //   border-top: 1px solid #1976d2;
  //   height: 60%;
  // }

</style>
