<template>
  <div
    class="math-symbol-display"
    :style="{
      width: `${fitInBounds ? w : displayWidth}px`,
      height: `${fitInBounds ? h : displayHeight}px`,
    }"
  >
    <MathSymbolDisplayView
      :viewBox="viewBox"
      :symbolsData="symbolsData"
      :preserveAspectRatio="preserveAspectRatio"
    />
  </div>
</template>

<script>
import { SvgOps } from '@/svg-operations';

export default {
  name: 'MathSymbolDisplay',
  props: {
    symbols: {
      Type: Array,
      required: true,
    },
    w: {
      Type: Number,
      default: null,
    },
    h: {
      Type: Number,
      default: null,
    },
    heightIfTall: {
      Type: Number,
      default: null,
    },
    preserveAspectRatio: {
      Type: Boolean,
      default: false,
    },
    fitInBounds: {
      Type: Boolean,
      default: false,
    },
  },
  computed: {
    x() {
      return this.symbolsBBox.x || 0;
    },
    y() {
      return this.symbolsBBox.y || 0;
    },
    width() {
      return this.symbolsBBox.width || 0;
    },
    height() {
      return this.symbolsBBox.height || 0;
    },
    H() {
      // if width is not > 3 * height use height if 'tall'
      if (this.heightIfTall && 3 * this.height > this.width) {
        return this.heightIfTall;
      }
      return this.h || this.hegiht;
    },
    symbolsBBox() {
      return SvgOps.getBBox(...this.symbols);
    },
    viewBox() {
      return `${this.x} ${this.y} ${this.width} ${this.height}`;
    },
    displayWidth() {
      if ((!this.w && this.h)
        || (this.preserveAspectRatio && this.width < this.height)) {
        // Compute width preserving aspect ratio with provided height
        return this.H * this.width / this.height;
      }

      if (this.w) {
        // Use provided value
        return this.w;
      }

      // Use symbols width by default
      return this.width;
    },
    displayHeight() {
      if ((!this.h && this.w)
      || (this.preserveAspectRatio && this.width > this.height)) {
        // Compute height preserving aspect ratio with provided width
        return this.w * this.height / this.width;
      }

      return this.H;

      // if (this.h) {
      //   // Use provided value
      //   return this.h;
      // }

      // // Use symbols height by default
      // return this.height;
    },
    symbolsData() {
      return this.symbols.map(this.symbolData);
    },
  },
  methods: {
    symbolData(symbol) {
      if (!symbol) {
        return {
          x: 0, y: 0, width: 1, height: 1,
        };
      }
      return {
        id: symbol.id,
        x: symbol.attributes.x,
        y: symbol.attributes.y,
        width: symbol.attributes.width,
        height: symbol.attributes.height,
        symbolWidth: symbol.symbolWidth,
        symbolHeight: symbol.symbolHeight,
        svgContent: SvgOps.toElementInnerString(symbol),
      };
    },
  },
};
</script>

<style>

</style>
