<template functional>
  <svg
    :viewBox="props.viewBox"
    class="math-symbol-set"
    style="width: 100%; height: 100%;"
    :preserveAspectRatio="props.preserveAspectRatio
      ? 'xMidYMid meet' : 'none'"
    >
    <MathSymbol
      :canDrag="props.canDrag"
      v-for="(symbol, i) in props.symbolsData"
      :key="symbol.id || i"
      :data="symbol" />
  </svg>
</template>

<script>
export default {
  name: 'MathSymbolDisplayView',
  props: {
    viewBox: {
      Type: String,
      default: '0 0 0 0',
    },
    symbolsData: {
      Type: Array,
      default: [],
    },
    canDrag: {
      Type: Boolean,
      default: false,
    },
    preserveAspectRatio: {
      Type: Boolean,
      default: false,
    },
  },
};
</script>

<style>

</style>
