<template>
  <div
    :title="activeFormulaState ? 'Fresh' : 'Stale'"
    :style="{
      position: 'absolute',
      right: '10px',
      top: '10px',
      zIndex: '10',
      height: '15px',
      width: '15px',
      borderRadius: '50%',
      border: '1px solid black',
      backgroundColor: activeFormulaState ? style.formulaBlue : 'grey'
    }">
  </div>
</template>

<script>
import { mixin } from '@/store/mixin';

export default {
  name: 'ActiveFormulaState',
  mixins: [mixin],
};
</script>

<style>

</style>
