<template>
  <div id="active-chip-controls" class="popper"
    v-show="activeChip && controlsActive && !entityCardChip"
    @drop.prevent.stop
    ref="activeChipControls"
  >
    <ChipControls :controls="controls" :scaler="scaler"/>
    <div class="popper__arrow" x-arrow=""></div>
  </div>
</template>

<script>
import _ from 'lodash';
import Popper from 'popper.js';
import ChipControls from './ChipControls';
import { mixin } from '@/store/mixin';
import { saveImage } from '@/saveImage';
import { SearchEngineManager as SEM } from '@/search';
import {
  // getChip,
  getEditorCenter,
} from '@/tex-render';
import {
  EDIT_CHIP,
} from '@/store/action_types';
import { SvgOps } from '@/svg-operations';

// const $ = require('jquery');

export default {
  name: 'ActiveChipControls',
  components: {
    ChipControls,
  },
  mixins: [mixin],
  data() {
    return {
      scaler: {
        show: false,
        shrink: () => {},
        grow: () => {},
      },
      recognizingSVG: false,
      toggle: false,
      entityCardChip: false,
    };
  },
  computed: {
    filename() {
      const time = new Date().toLocaleTimeString().replace(' ', '');
      const date = new Date().toLocaleDateString().replace(' ', '');
      let today = `${date}_${time}`;

      // Strip away escaped characters
      today = today.replace(/[^\w\s]/gi, '');

      return `mathdeck_formula_${today}.jpg`;
    },
    symbolsBBox() {
      return SvgOps.getBBox(...this.symbols);
    },
    symbols() {
      return this.symbolIds.map(this.getSymbol);
    },
    isFresh() {
      return this.chip.isFresh;
    },
    chip() {
      return this.getChip(this.activeChip) || {};
    },
    symbolIds() {
      return this.chip.symbolIds;
    },
    hasSymbols() {
      return this.symbolIds && this.symbolIds.length > 0;
    },
    chipStr() {
      return this.chip.str;
    },
    isTemplate() {
      return !!this.chip.isTemplate;
    },
    isHistory() {
      return !!this.chip.isHistory;
    },
    isHistoryContainer() {
      return this.isHistory && !this.activeHistory;
    },
    isActiveFormula() {
      return this.activeFormulaId === this.chip.id;
    },
    activeHistoryId() {
      const chip = this.getChip(this.activeChip);
      if (chip && chip.historyId) {
        return chip.historyId;
      }
      return null;
    },
    history() {
      return (this.histories[this.activeHistoryId] || {}).history;
    },
    historyIds() {
      const chipStr = this.chip.str === '' && this.symbolIds.length > 0
        ? this.symbolStr : this.chipStr;

      if (chipStr) {
        const { historyIds } = this.mergeHistories[chipStr];
        if (historyIds) {
          return historyIds;
        }
      }

      return [];
    },
    // If the chip is fresh, it shall return
    // the latex string, otherwise it returns
    // a stringified symbol object.
    // Cannot merge logic with chipStr because
    // certain places takes advantage of chipStr being empty
    // for gray chips
    symbolStr() {
      if (this.isFresh) {
        return this.chipStr;
      }
      return this.toSymbolStr(this.activeChip);
    },
    // The chip has a history record
    // other than itself. If true, should allow user to
    // show history
    hasMultipleHistories() {
      return !!(this.mergeHistories[this.symbolStr] || []).hasHistory;
    },
    x() {
      return this.chip.x;
    },
    y() {
      return this.chip.y;
    },
    chipHeight() {
      return this.chip.height;
    },
    isFavorited() {
      const favChipObj = this.chipStr === '' && this.symbolIds.length > 0
        ? this.chipGroups[this.symbolStr] : this.chipGroups[this.chipStr];
      return !!(favChipObj || {}).favoriteId;
    },
    favoriteColor() {
      return this.isFavorited ? 'amber accent-4' : 'grey darken-4';
    },
    inQuery() {
      return this.isChipInQuery(this.activeChip);
    },
    onCanvas() {
      return this.isChipOnCanvas(this.activeChip);
    },
    chipSVG() {
      return this.getChipSVG(this.activeChip) || {};
    },
    controls() {
      return [
        // {
        //   ripple: false,
        //   color: 'primary',
        //   click: this.toggleToggleButton,
        //   if: !this.scaler.show && !this.isHistory,
        //   title: this.toggleButton ? 'Hide recognition' : 'Show recognition',
        //   // iconStr: this.toggleButton ? 'mdi-toggle-switch' : 'mdi-toggle-switch-off',
        //   iconStr: this.toggleButton ? 'fa-toggle-on' : 'fa-toggle-off',
        // },
        {
          ripple: false,
          color: 'primary',
          click: () => SEM.search(this.searchEngine, this.chipStr),
          if: !this.isTemplate && !this.scaler.show && this.isFresh,
          title: 'Search',
          iconStr: '$vuetify.icons.magnify',
        },
        {
          ripple: false,
          color: 'primary',
          click: this.openChipEditing,
          if: !this.isActiveFormula && !this.inQuery
            && !this.scaler.show,
          title: 'Edit',
          iconStr: '$vuetify.icons.squareEditOutline',
        },
        {
          ripple: false,
          color: 'primary',
          click: this.insertChipText,
          if: true,
          title: 'Insert at cursor',
          iconStr: '$vuetify.icons.cursorText',
        },
        {
          ripple: false,
          color: 'primary',
          click: () => this.downloadChip(),
          if: !this.scaler.show && this.hasSymbols,
          title: 'Download',
          iconStr: '$vuetify.icons.download',
        },
        {
          ripple: false,
          color: this.favoriteColor,
          click: this.handleFavorite,
          if: !this.scaler.show && !this.chip.isFavorite,
          title: (this.isFavorited ? 'Unfavorite' : 'Favorite'),
          iconStr: '$vuetify.icons.star',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.showScalerControl,
          if: this.onCanvas && !this.isHistory,
          title: this.scaler.show ? 'Close scaler' : 'Resize',
          iconStr: this.scaler.show
            ? '$vuetify.icons.close'
            : '$vuetify.icons.arrowExpand',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.showHistory,
          if: !this.scaler.show
            && this.isHistoryContainer
            && this.hasMultipleHistories,
          title: 'Show History',
          iconStr: '$vuetify.icons.history',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.duplicateChip,
          if: !this.scaler.show && this.onCanvas && !this.isHistory,
          title: 'Duplicate',
          iconStr: '$vuetify.icons.contentCopy',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.copyToCanvasFromDeck,
          if: !this.onCanvas && !this.scaler.show,
          title: 'Add to Canvas',
          iconStr: '$vuetify.icons.plusBox',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.dropToCanvas,
          if: !this.isActiveFormula
            && this.onCanvas && !this.scaler.show,
          title: 'Drop onto Canvas',
          iconStr: '$vuetify.icons.arrowExpandDown',
        },
        {
          ripple: false,
          color: 'red accent-4',
          click: this.deleteActiveChip,
          if: (!this.scaler.show && !this.chip.noHistory) || this.chip.isHistory,
          title: 'Delete',
          iconStr: '$vuetify.icons.delete',
        },
      ];
    },
    toggleButton: {
      get() {
        return !this.isTemplate;
      },
      async set() {
        // Don't allow toggles during recognition
        if (this.recognizingSVG) return;

        // Get all information being used in case
        // the active chip changes while recognizing the
        // template contents
        const { isTemplate, chip, chipSVG } = this;

        // If it is a template and it doesn't have a string
        // and it is a toggle to the on position, then recognize
        if (isTemplate && !chip.str && !this.toggleButton) {
          this.recognizingSVG = true;
          let chipData;
          try {
            chipData = await this.recognizeSVGIntoChip(chipSVG);
          } catch {
            console.log('Svg recognition failed');
          }
          if (!chipData) {
            // Recognition failed
            this.recognizingSVG = false;
            return;
          }
          const { str, svgData } = chipData;
          // Compute the new position based on the recognition svg size
          const chipWidth = chipSVG.attributes.width;
          const chipHeight = chipSVG.attributes.height;
          const newSvgId = await SvgOps
            .resize(svgData, chipWidth, chipHeight)
            .then(this.addSVG);
          // Update the chip with the recognition result
          await this.$store.dispatch(EDIT_CHIP, {
            ...chip,
            str,
            isTemplate: false,
            svgId: newSvgId,
            otherSvgId: chip.svgId,
          });
          this.recognizingSVG = false;
          // Update controls position afterwards
          await this.$nextTick();
          this.popperInstance.scheduleUpdate();
        } else {
          const otherSVG = this.getSVG(chip.otherSvgId);
          if (otherSVG) {
            const { width, height } = otherSVG.attributes;
            const chipWidth = chipSVG.attributes.width;
            const chipHeight = chipSVG.attributes.height;

            const hasLocation = chip.x && chip.y;
            const newX = chip.x + (chipWidth - width) / 2;
            const newY = chip.y + (chipHeight - height);
            // Otherwise just toggle the isTemplate boolean
            await this.$store.dispatch(EDIT_CHIP, {
              ...chip,
              x: hasLocation ? newX : undefined,
              y: hasLocation ? newY : undefined,
              isTemplate: !isTemplate,
              svgId: chip.otherSvgId,
              otherSvgId: chip.svgId,
            });
          } else {
            // There's only one svg so just toggle isTemplate
            await this.$store.dispatch(EDIT_CHIP, {
              ...chip,
              isTemplate: !isTemplate,
            });
          }
        }
      },
    },
  },
  mounted() {
    // Initialize the shrinking and growing scale functions
    this.scaler.shrink = this.shrinkActiveChip;
    this.scaler.grow = this.growActiveChip;

    const activeChipEl = this.activeChipEl();
    // Initialize the popper instance
    this.popperInstance = new Popper(
      activeChipEl,
      this.$refs.activeChipControls,
      {
        placement: 'bottom',
      },
    );

    activeChipEl.removeEventListener('click', this.toggleControls, true);
    activeChipEl.addEventListener('click', this.toggleControls, true);

    activeChipEl.addEventListener('keydown', (e) => {
      if (!this.activeChip) {
        return;
      }
      if (e.key === 'Delete' || e.key === 'Backspace') {
        this.deleteActiveChip();
      } else if (e.key === 'Escape') {
        this.controlsActive = false;
      } else if (e.key === ' ') {
        // Toggle controls with spacebar
        this.controlsActive = !this.controlsActive;
      }
    });
  },
  watch: {
    async activeChip(val, oldVal) {
      if (val && val !== oldVal) {
        // Wait for the active chip element to update
        await this.$nextTick();
        const activeChipEl = this.activeChipEl();
        if (activeChipEl) {
          // Update the popper reference to the active chip element
          this.popperInstance.reference = activeChipEl;
          // Move the controls element to be near the
          // active chip element in the DOM
          activeChipEl.parentNode.append(this.$refs.activeChipControls);
          this.popperInstance.scheduleUpdate();
        }
      }
    },
    chipHeight() {
      this.popperInstance.scheduleUpdate();
    },
    x() {
      this.popperInstance.scheduleUpdate();
    },
    y() {
      this.popperInstance.scheduleUpdate();
    },
  },
  methods: {
    hideControls(e) {
      const { target } = e;
      const inControls = this.inControls(target);

      // If autocomplete box is open, and a user clicks
      // anywhere but the autocomplete box, the autocomplete
      // box collapses automatically
      if (!this.inSearchDropdown(target)
          && !this.inSearchDropdownBtn(target)
          && !this.inControls(target)) {
        this.showSearch = false;
      }

      if ((!this.activeChip || !this.inActiveChip(target))
        && !inControls && this.selectedSymbols.length === 0) {
        this.activeChip = null;
        this.controlsActive = false;
        this.selectionActive = false;
      }
      this.popperInstance.scheduleUpdate();
    },
    toggleControls(e) {
      const { target } = e;
      const inControls = this.inControls(target);
      if (inControls) {
        e.preventDefault();
      }
      const inSelection = this.inSelection(target);
      this.entityCardChip = this.inEntityCard(target);

      if (!inSelection) {
        this.selectionActive = false;
      }

      // If a non-entity chip has an active popper
      // there cannot be an entity chip that has
      // an active popper.
      if (!this.entityCardChip) {
        this.entityActiveChip = null;
      }

      if (
        (this.activeChip && this.inActiveChip(target) && !inControls)) {
        // CASE: Click in active chip (not chip controls)
        // => toggle controls
        this.controlsActive = !this.controlsActive;
      } else {
        const chipEl = target.closest('.chip');
        // const tabEl = target.closest('.context-tab');

        // if (chipEl == null && tabEl != null) {
        //   chipEl = tabEl;
        // }

        if (chipEl) {
          // CASE: Click in non-active chip
          const { chipId } = chipEl.dataset;
          if (chipId) {
            // Update the active chip and activate the controls popper
            this.activeChip = parseInt(chipId, 10) || null;
            this.controlsActive = true;
            this.scaler.show = false;
          }
        } else if (inControls) {
          // CASE: Click in chip controls
          // OR edge-case where click is from making a selection

          return;
        } else {
          // CASE: Click outside of chip or chip controls
          // => deactivate chip controls
          this.activeChip = null;
          this.controlsActive = false;
        }
      }
      this.popperInstance.scheduleUpdate();
    },
    activeChipEl() {
      // Return the element for the active chip or document
      const ac = this.activeChip;
      if (ac) {
        return document.getElementById(`chip-id-${ac}`);
      }
      return document.body;
    },
    inControls(target) {
      // return this.$refs.activeChipControls
      //   && this.$refs.activeChipControls.contains(target)
      return target.closest('.popper');
    },
    inSearchDropdown(target) {
      return target.closest('.search-dropdown');
    },
    inSearchDropdownBtn(target) {
      return target.closest('#show-search-btn');
    },
    inSelection(target) {
      // return this.$refs.activeChipControls
      //   && this.$refs.activeChipControls.contains(target)
      return target.closest('#selected-symbols');
    },
    inEntityCard(target) {
      return target.closest('.entity-card');
    },
    inActiveChip(target) {
      const activeChipEl = this.activeChipEl();
      return this.activeChip && activeChipEl
        && activeChipEl.contains(target);
    },
    isInternal(target) {
      return this.inActiveChip(target) || this.inControls(target);
    },
    toggleToggleButton() {
      this.toggleButton = !this.toggleButton;
    },
    async downloadChip() {
      const symbols = _.cloneDeep(this.symbols).map(s => ({
        ...s,
        id: undefined,
        attributes: {
          ...s.attributes,
          x: s.attributes.x - this.symbolsBBox.x,
          y: s.attributes.y - this.symbolsBBox.y,
        },
      }));
      const { imageBlob } = await SvgOps.toBase64Image(
        symbols,
        'image/jpeg',
        this.chip,
        this.filename,
      );
      saveImage(imageBlob, this.filename);
    },
    async openChipEditing(e) {
      this.showDuplicate(this.chip.id, this.chip.str);
      // paletteSymbols
      if (Object.values(this.paletteSymbols).flat().includes(this.chip.id)) {
        this.copyAndFocusChip(e, this.chip.id);
      } else {
        this.selectChip(this.chip.id);
      }
    },
    insertChipText() {
      this.insertText(this.chip.str);
    },
    handleFavorite() {
      if (!this.isFavorited) {
        this.favorite(this.activeChip);
      } else {
        this.unfavorite(this.activeChip);
      }
    },
    showScalerControl() {
      this.scaler.show = !this.scaler.show;
      this.popperInstance.scheduleUpdate();
    },
    shrinkActiveChip() {
      if (this.activeChip) {
        this.scaleChipHeight(this.activeChip, 1.1 ** -4);
      }
    },
    growActiveChip() {
      if (this.activeChip) {
        this.scaleChipHeight(this.activeChip, 1.1 ** 4);
      }
    },
    showHistory() {
      // Close the controls active
      this.controlsActive = false;
      this.activeHistory = this.activeHistoryId;
    },
    duplicateChip() {
      this.copyChipToCanvas(
        this.activeChip,
        this.chip.x - 10,
        this.chip.y - 10,
      );
    },
    copyToCanvasFromDeck() {
      const { x, y } = getEditorCenter(this.recognizerWindowOpen);
      this.copyChipToCanvas(this.activeChip, x, y);
      this.activeChip = null;
    },
    dropToCanvas() {
      if (this.isChipOnCanvas(this.activeChip)
        && this.activeFormulaId !== this.activeChip
      ) {
        this.dropChipSymbolsToCanvas(this.activeChip);
        this.activeChip = null;
      }
    },
    deleteActiveChip() {
      const id = this.activeChip;
      if (this.isHistory) {
        const historyId = this.activeHistoryId;
        if (this.isHistoryContainer) {
          // Delete all histories for container
          if (this.historyIds.length > 0) {
            this.historyIds.forEach((histId) => {
              this.clearChipHistory(histId);
            });
          }
        } else {
          // Remove individual change when the show history is open
          this.deleteChipFromHistory(historyId, id);
        }
      } else {
        this.deleteChip(id);
      }

      this.activeChip = null;

      // If attempting to delete
      // the active formula, we need to set the active
      // formula to null, so that it moves the active formula
      // to next available formula
      if (id === this.activeFormulaId) {
        this.setActiveFormula(null);
        this.focusedCardId = null;
        this.focusedEntityType = null;
      }
    },
  },
};
</script>
