<template>
  <div id="active-selection-controls" class="popper"
    v-show="hasSelection && selectionActive"
    @drop.prevent.stop
    ref="activeSelectionControls"
  >
    <ChipControls :controls="controls" :scaler="scaler"/>
    <div class="popper__arrow" x-arrow=""></div>
  </div>
</template>

<script>
// import _ from 'lodash';
import Popper from 'popper.js';
import ChipControls from './ChipControls';
import { mixin } from '@/store/mixin';
import {
// ScriptEditor as SE,
// EditorModes as EM,
} from '@/editor';
// import { SvgOps } from '@/svg-operations';
const $ = require('jquery');

export default {
  name: 'ActiveSelectionControls',
  components: {
    ChipControls,
  },
  mixins: [mixin],
  data() {
    return {
      scaler: {
        show: false,
        shrink: () => {},
        grow: () => {},
      },
    };
  },
  computed: {
    hasSelection() {
      return this.selectedSymbols.length > 0;
    },
    // svg() {
    //   return this.selectionSVG || {};
    // },
    // x() {
    //   return this.svg.attributes.x - SE.selectionChipPadding.left;
    // },
    // y() {
    //   return this.svg.attributes.y - SE.selectionChipPadding.top;
    // },
    // width() {
    //   return this.svg.attributes.width;
    // },
    // height() {
    //   return this.svg.attributes.height;
    // },const $ = require('jquery');
    // content() {
    //   return this.svg.svgContent;
    // },
    // position() {
    //   return `${this.x},${this.y}`;
    // },
    scaleValue() {
      return this.scaler.value;
    },
    controls() {
      return [
        // {
        //   ripple: false,
        //   color: 'grey darken-4',
        //   click: this.showScalerControl,
        //   if: true,
        //   title: this.scaler.show ? 'Close scaler' : 'Resize',
        //   iconStr: this.scaler.show ? 'close' : 'mdi-arrow-expand',
        // },
        // {
        //   ripple: false,
        //   color: 'primary',
        //   click: this.recognizeIntoChip,
        //   if: !this.scaler.show,
        //   title: 'Recognize Selection',
        //   iconStr: 'mdi-arrow-expand-up',
        // },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.createTemplateFromSelectedSymbols,
          if: !this.scaler.show,
          title: 'Create Template',
          iconStr: '$vuetify.icons.arrowExpandUp',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.duplicateSelectedSymbols,
          if: !this.scaler.show,
          title: 'Duplicate',
          iconStr: '$vuetify.icons.contentCopy',
        },
        // {
        //   ripple: false,
        //   color: 'grey darken-4',
        //   click: this.dropSelection,
        //   if: !this.scaler.show,
        //   title: 'Drop onto Canvas',
        //   iconStr: 'mdi-arrow-expand-down',
        // },
        {
          ripple: false,
          color: 'red accent-4',
          click: this.deleteSelectedSymbols,
          if: !this.scaler.show,
          title: 'Delete',
          iconStr: '$vuetify.icons.delete',
        },
      ];
    },
  },
  mounted() {
    // Initialize the shrinking and growing scale functions
    this.scaler.shrink = this.shrinkActiveSelection;
    this.scaler.grow = this.growActiveSelection;
    const activeSelectionEl = $('#selected-symbols .math-symbol-set')[0]
      || document.body;
    // Initialize the popper instance
    this.popperInstance = new Popper(
      activeSelectionEl,
      this.$refs.activeSelectionControls,
      {
        placement: 'bottom',
        positionFixed: true,
        modifiers: {
          offset: {
            offset: '0, 10',
          },
          preventOverflow: {
            boundariesElement: 'viewport',
            // escapeWithReference: true,
          },
        },
      },
    );

    // Open controls initially
    this.selectionActive = true;

    activeSelectionEl.removeEventListener('contextmenu', this.toggleControls, true);
    activeSelectionEl.addEventListener('contextmenu', this.toggleControls, true);
  },
  watch: {
    selectionActive() {
      this.popperInstance.scheduleUpdate();
    },
    hasSelection() {
      // Wait for the active chip element to update
      // await this.$nextTick();
      this.popperInstance.scheduleUpdate();
    },
    x() {
      this.popperInstance.scheduleUpdate();
    },
    y() {
      this.popperInstance.scheduleUpdate();
    },
  },
  methods: {
    inControls(target) {
      // return this.$refs.activeSelectionControls
      //   && this.$refs.activeSelectionControls.contains(target)
      return target.closest('.popper');
    },
    setControlsActive(value) {
      this.selectionActive = value;
      this.popperInstance.scheduleUpdate();
    },
    toggleControls(e) {
      // Toggle controls on click of selection
      e.preventDefault();
      const { target } = e;
      const inControls = this.inControls(target);
      if (target.closest('#selected-symbols') && !inControls) {
        this.selectionActive = !this.selectionActive;
      }
      this.popperInstance.scheduleUpdate();
    },
    shrinkActiveSelection() {
      // if (this.selectionId) {
      //   this.scaleSelectionSVG(1.1 ** -4);
      // }
    },
    growActiveSelection() {
      // if (this.selectionId) {
      //   this.scaleSelectionSVG(1.1 ** 4);
      // }
    },
    showScalerControl() {
      this.scaler.show = !this.scaler.show;
      this.popperInstance.scheduleUpdate();
    },
    recognizeIntoChip() {
      // if (!this.selectionId) {
      //   return Promise.resolve();
      // }
      // const {
      //   x, y, width, height,
      // } = this.selectionSVG.attributes;
      // return this.recognizeSVGIntoChip(this.selectionSVG)
      //   .then(async (chipData) => {
      //     const { str, svgData } = chipData;
      //     // Compute the new position based on the recognition svg size
      //     const newSvgData = await SvgOps.resize(svgData, width, height);
      //     const oldSvgData = _.cloneDeep(this.selectionSVG);
      //     oldSvgData.attributes.x = 0;
      //     oldSvgData.attributes.y = 0;
      //     const oldSvgId = await this.addSVG(oldSvgData);
      //     // Update the chip with the recognition result
      //     return this.addChipToCanvas({
      //       svgData: newSvgData,
      //       str,
      //       x,
      //       y,
      //       isTemplate: false,
      //       otherSvgId: oldSvgId,
      //     });
      //   })
      //   .then(this.deleteSelection)
      //   .catch(console.log);
    },
  },

};
</script>

<style lang="less">
#active-selection-controls {
  z-index: 4;
}
</style>
