<template>
  <v-main class="body-container">
    <div class="body-upper p-relative"
      :style="upperStyle"
    >
      <div class="p-relative fill-height"
        style="display: flex; width: 100%;">
        <!-- <EditorControls /> -->
        <RecognizerWindow/>
        <ScriptEditor/>
        <EditingPanel id="editing-panel"/>
      </div>
      <ErrorMessage />
    </div>
    <div class="body-lower p-relative"
      :style="lowerStyle"
    >
      <TextInput />
    </div>
  </v-main>
</template>

<script>
import { mixin } from '@/store/mixin';
// import EditorControls from './EditorControls';
import RecognizerWindow from './RecognizerWindow';
import ScriptEditor from './ScriptEditor';
import TextInput from './TextInput';
import ErrorMessage from './ErrorMessage';
import EditingPanel from './EditingPanel';

const $ = require('jquery');

export default {
  name: 'Body',
  components: {
    // EditorControls,
    RecognizerWindow,
    ScriptEditor,
    TextInput,
    ErrorMessage,
    EditingPanel,
  },
  mixins: [mixin],
  computed: {
    upperStyle() {
      let newHeight;
      let newMaxHeight;
      let newDisplay;
      if (this.deckExpanded === 0) {
        newHeight = 'calc(100% - 48px)';
        newMaxHeight = 'calc(100% - 48px)';
        newDisplay = 'block';
      } else if (this.deckExpanded === 1) {
        newHeight = '50%';
        newMaxHeight = '50%';
        newDisplay = 'block';
      } else {
        newHeight = '0';
        newMaxHeight = '0';
        newDisplay = 'none';
      }
      return {
        height: newHeight,
        maxHeight: newMaxHeight,
        display: newDisplay,
      };
    },
    lowerStyle() {
      let newHeight;
      let newMaxHeight;
      if (this.deckExpanded === 0) {
        newHeight = '48px';
        newMaxHeight = '48px';
      } else if (this.deckExpanded === 1) {
        newHeight = '50%';
        newMaxHeight = '50%';
      } else {
        newHeight = '100%';
        newMaxHeight = '100%';
      }
      return {
        height: newHeight,
        maxHeight: newMaxHeight,
      };
    },
  },
  watch: {
    recognizerWindowOpen() {
      if (this.recognizerWindowOpen) {
        $('#editing-panel').animate({
          left: '100%',
          opacity: '0%',
        }, 500);
        $('#editor-container').fadeOut(100, () => {});
        $('#handwriting-editor-container').fadeIn(100, () => {});
      } else {
        $('#editing-panel').animate({
          left: '0',
          opacity: '100%',
        }, 500, () => {
          $('#editor-container').fadeIn(0, () => {});
          $('#handwriting-editor-container').fadeOut(0, () => {
            this.canvasTransitionTrigger = true;
          });
        });
      }
    },
  },
};
</script>

<style lang="less">

#editing-panel {
  position:relative;
  left:0;
}

.body-container {
 position: absolute;
 left: 0;
 top: 150px;
 height: calc(100% - 155px);
 width: 100%;


  .body-upper {
    position: relative;
    // height: max(100% - 450px, 50%)
    min-height: calc(100% - 460px);
    height: 50%;
    overflow: hidden;
  }

  .body-lower {
    position: relative;
    // height: min(450px, 50%)
    // max-height: 100%;
    // height: 50%;
  }
}

.p-relative {
  position: relative;
}

.flex.grow-shrink-0 {
  flex-grow: 0;
  flex-shrink: 0;
}

</style>
