<template functional>
  <div
    :id="props.idAttr"
    class="chip-container"
    :style="props.containerStyle"
    v-on="listeners"
    :ref="data.ref"
    >

    <slot name="before"></slot>

    <v-hover class="chip" slot="reference">
      <v-chip ref="chip"
        slot-scope="{ hover }"
        @click.left="props.onClick"
        @click.middle="props.onClick"
        @click.prevent.right="props.onRightClick"
        :class="{
          [`elevation-${props.elevationHover}`]: props.hoverable && hover,
          [`elevation-${props.elevation}`]: !props.hoverable || !hover }"
        :id="props.chipId || 'chip-id-' + props.id"
        :data-chip-id="props.id"
        :outlined="true"
        :color="props.color"
        :text-color="'black'"
        :title="props.title"
        :style="props.chipStyle"
        @dblclick="props.onDoubleClick"
        :draggable="true"
        @dragend="props.onDragEnd"
        @dragstart="props.onDragStart"
        @dragenter="props.onDragEnter"
        @dragleave="props.onDragLeave"
        >
        <slot></slot>
      </v-chip>
    </v-hover>

    <slot name="after"></slot>

  </div>
</template>

<script>
import 'vue-popperjs/dist/vue-popper.css';

export default {
  name: 'ChipDisplay',
  props: {
    id: {
      type: Number,
      default: null,
    },
    idAttr: {
      type: String,
      default: null,
    },
    chipId: {
      type: String,
      default: null,
    },
    hoverable: {
      type: Boolean,
      default: true,
    },
    elevationHover: {
      type: Number,
      default: 15,
    },
    elevation: {
      type: Number,
      default: 3,
    },
    color: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: null,
    },
    chipStyle: {
      type: Object,
      default: null,
    },
    containerStyle: {
      type: Object,
      default: null,
    },
    onDoubleClick: {
      type: Function,
      default: () => {},
    },
    onClick: {
      type: Function,
      default: () => {},
    },
    onRightClick: {
      type: Function,
      default: () => {},
    },
    onDragStart: {
      type: Function,
      default: () => {},
    },
    onDragEnter: {
      type: Function,
      default: () => {},
    },
    onDragLeave: {
      type: Function,
      default: () => {},
    },
    onDragEnd: {
      type: Function,
      default: () => {},
    },
  },
};
</script>

<style lang="less">
.chip-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chip {
  font-size: 10pt;
  height: auto !important;
  border-radius: 28px !important;
  border-width: 3px;
  touch-action: none;
  margin: 4px;

  &, & > .v-chip__content {
  cursor: grab !important;
  }

  &:hover:active,
  & > .v-chip__content:hover:active {
    cursor: grabbing !important;
  }

  & > .v-chip__close {
    cursor: pointer !important;
  }

  .v-chip__content {
    height: auto !important;
    padding: 4px 12px !important;
  }
}

</style>
