<template>
  <div>
    <v-dialog v-if="warning" v-model="warning" max-width="290">
      <v-card>
        <v-card-title class="headline">Clear Chip History</v-card-title>
        <v-divider></v-divider>
        <v-card-text>Are you sure you would like to clear this chip's history?</v-card-text>
        <v-card-actions class="warning-buttons">
          <v-btn color="error" @click="clearHistory">Clear</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="warning = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-if="historyIsOpen"
      scrollable v-model="historyIsOpen" max-width="55%">
      <v-card @dragleave="chipHistoryDragLeave">
        <v-card-title>
          History of formula
        </v-card-title>
        <v-card-text>
          Recent versions are shown first from left to right, top to bottom.
          <div v-for="historyId in historyIds" :key="historyId">
            <div class="history-group" v-if="hasUniqueHistory(historyId)">
              <v-container fill-height fluid>
                <v-layout row wrap>
                  <Chip v-for="chipId in chipHistory(historyId)"
                    :id="chipId"
                    :onClick="e => onClick(e, chipId)"
                    :key="chipId"
                  />
                </v-layout>
              </v-container>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>

    <Chip v-if="historyChips.length !== 0"
      :id="id"
      :onClick="e => onClick(e, id)"
      :deleteChip="() => {warning = true}"
      :insertionMode="insertionMode"
    />
  </div>
</template>

<script>
import Chip from './Chip';
import { mixin } from '@/store/mixin';

export default {
  name: 'ChipHistoryDisplay',
  props: {
    historyIds: {
      Type: Array,
      required: true,
    },
    historyChipData: Object,
    onClick: {
      type: Function,
      default: () => {},
    },
    filter: {
      type: Function,
      default: () => {},
    },
    setFilterCount: {
      Type: Function,
      default: () => {},
    },
    insertionMode: {
      Type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      warning: false,
    };
  },
  components: {
    Chip,
  },
  mixins: [mixin],
  computed: {
    // Grab the most recent history Id
    lastHistory() {
      const historyLength = this.historyIds.length;
      if (historyLength > 0) {
        return this.historyIds[historyLength - 1];
      }
      return null;
    },
    id() {
      if (this.historyChips.length > 0) {
        return this.historyChips[0];
      }
      return null;
    },
    unfilteredHistoryChips() {
      if (this.lastHistory) {
        return this.histories[this.lastHistory].history;
      }
      return [];
    },
    historyChips() {
      const filtered = this.unfilteredHistoryChips
        // ids => chip
        .map(this.getChip)
        // filter chip => chip
        .filter(this.filter)
        // chip => id
        .map(chip => chip.id);
      if (this.setFilterCount) this.setFilterCount(filtered.length);
      return filtered;
    },
    isHistory() {
      return !!this.getChip(this.id).isHistory;
    },
    historyIsOpen: {
      get() {
        return this.activeHistory === this.lastHistory && this.hasHistory;
      },
      set(value) {
        this.activeHistory = value ? this.lastHistory : null;
      },
    },
    mostRecentHistoryId() {
      const { length } = this.historyIds;
      return (length > 0)
        ? this.historyIds[length - 1]
        : null;
    },
    mostRecentChipId() {
      if (this.mostRecentHistoryId) {
        const historiesOfChip = this.histories[this.mostRecentHistoryId].history;
        return historiesOfChip.length > 0 ? historiesOfChip[0] : null;
      }
      return null;
    },
    // This is the chip data for the chip
    // that is shown in the history container
    mostRecentChip() {
      return this.mostRecentChipId ? this.getChip(this.mostRecentChipId) : {};
    },
    // Check to see if the history chip being shown in
    // the history container is a grey or a blue chip
    // If blue chip, get the latex string, otherwise
    // return a string containing the symbol information
    symbolStr() {
      if (this.mostRecentChipId) {
        if (this.mostRecentChip.isFresh) {
          return this.mostRecentChip.str;
        }
        return this.toSymbolStr(this.mostRecentChipId);
      }
      return null;
    },
    hasHistory() {
      return !!(this.mergeHistories[this.symbolStr] || {}).hasHistory;
    },
  },
  watch: {
    hasHistory(val) {
      // If no history remain (i.e hasHistory is false), the dialog to show history closes
      // which means there is no more active History
      if (!val) {
        this.activeHistory = null;
      }
    },
  },
  methods: {
    clearHistory() {
      this.historyIds.forEach((historyId) => {
        this.clearChipHistory(historyId);
        this.warning = false;
      });
    },
    chipHistory(historyId) {
      const chipHistoryIds = this.histories[historyId].history;
      if (chipHistoryIds.length === 1) {
        return [];
      }
      return chipHistoryIds;
    },
    hasUniqueHistory(historyId) {
      return this.chipHistory(historyId).length !== 0;
    },
    chipHistoryDragLeave(ev) {
      const elOver = document.elementFromPoint(ev.clientX, ev.clientY);
      if (elOver.classList.contains('v-overlay__scrim')) {
        // Drag has left the dialog, so close it
        this.activeHistory = null;
      }
    },
  },
};
</script>
<style lang="less">
  @rit-color: rgb(247,105,2);

  .warning-buttons{
    padding: 8px 15px !important;
  }

  .history-group {
    border: 2px solid @rit-color;
    overflow-y: auto;
    height: 72px;
    margin: 30px;
  }
</style>
