<template>
  <div class="chip-controls">
    <slot name="before"></slot>

    <v-btn icon key="scaler-shrink"
      v-if="scaler && scaler.show"
      small
      title="Shrink"
      @pointerdown="shrink">
      <v-icon color="primary">$vuetify.icons.minus</v-icon>
    </v-btn>

    <v-btn icon key="scaler-grow"
      v-if="scaler && scaler.show"
      small
      title="Grow"
      @pointerdown="grow">
      <v-icon color="primary">$vuetify.icons.plus</v-icon>
    </v-btn>

    <template v-for="(c,i) in controls">
      <v-btn icon small :key="i" :ripple="c.ripple"
        @click="c.click" v-if="c.if"
        :title="c.title">
        <v-icon medium class="chip-control-icon"
          :color="c.color">{{c.iconStr}}</v-icon>
      </v-btn>
    </template>

    <slot name="after"></slot>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'ChipControls',
  props: {
    controls: Array,
    scaler: Object,
  },
  methods: {
    shrink: _.debounce(function shrink() {
      this.scaler.shrink();
    }, 100),
    grow: _.debounce(function grow() {
      this.scaler.grow();
    }, 100),
  },
};
</script>

<style lang="less">
.chip-controls {
  .v-btn {
    margin: 0;
  }
}
</style>
