<template>
  <v-btn small fab text
    title="Clear Query"
    :style="{
      'width': '36px',
      'height': '36px',
      'margin': 'auto 0',
      'z-index':1,
    }"
    @click="onclick" :ripple="false" v-if="visible">
    <v-icon>$vuetify.icons.close</v-icon>
  </v-btn>
</template>

<script>
export default {
  props: {
    onclick: Function,
    visible: Boolean,
  },
};
</script>

<style lang="less" scoped>
div {
  cursor: pointer
}
</style>
