<template>
  <v-layout>
  <v-tabs v-model="tab" id="context-tabs" background-color="#333" slider-color="orange" dark>
      <v-tab
      :disabled="recognizerWindowOpen"
      v-for="formulaId in activeTabs" :key="formulaId"
      :background-color="`#d4d4d4`"
      class="context-tab align-self-center divider"
      :data-chip-id="formulaId"
      draggable
      @dragstart="e => dragStart(e, formulaId)"
      >
      <MathSymbolCollection
        :bbox="{
          width: 'auto',
          height: 40,
          }"
        :symbolIds="getChip(formulaId).symbolIds" />
      <v-icon right small
        @click="activeTabs = activeTabs.filter(item => item !== formulaId)">
        $vuetify.icons.close
      </v-icon>
      </v-tab>
      <v-btn
        fab
        small
        text
        class="align-self-center mr-3"
        :disabled="recognizerWindowOpen"
        @click="newTab">
        <v-icon>$vuetify.icons.plus</v-icon>
      </v-btn>
  </v-tabs>
  <v-toolbar-items>
    <v-layout style="background-color: #FF9800;" class="justify-center">
      <v-btn icon class="align-self-center mr-3" @click="undoOperation"
      :disabled="!canUndoTab">
        <v-icon color="white">$vuetify.icons.undo</v-icon>
      </v-btn>
      <v-btn icon class="align-self-center mr-3" @click="redoOperation"
      :disabled="!canRedo">
        <v-icon color="white">$vuetify.icons.redo</v-icon>
      </v-btn>
    </v-layout>
  </v-toolbar-items>
  </v-layout>
</template>

<script>
import MathSymbolCollection from './MathSymbol/Collection';
import { mixin } from '@/store/mixin';

export default {
  name: 'ContextTabs',
  mixins: [mixin],
  components: {
    MathSymbolCollection,
  },
  data() {
    return {
      tab: null,
    };
  },
  mounted() {
    const isCtrl = e => e.ctrlKey || e.metaKey;
    const isShift = e => e.shiftKey;
    const isZ = e => e.code === 'KeyZ';
    const isY = e => e.code === 'KeyY';
    const isCtrlZ = e => isCtrl(e) && isZ(e);
    const isCtrlShiftZ = e => isCtrlZ(e) && isShift(e);
    const isCtrlY = e => isCtrl(e) && isY(e);

    document.addEventListener('keyup', (event) => {
      if (isCtrlShiftZ(event) || isCtrlY(event)) {
        this.redoOperation();
      } else if (isCtrlZ(event)) {
        this.undoOperation();
      }
    });
  },
  computed: {
    canUndoTab() {
      return this.recognizerWindowOpen && this.recognizedFormula === '' ? this.strokeOrder.length !== 0 : this.canUndo;
    },
    canRedoTab() {
      return this.recognizerWindowOpen && this.recognizedFormula === '' ? false : this.canUndo;
    },
  },
  watch: {
    activeTabs(newTabs, oldTabs) {
      if (newTabs.length > oldTabs.length) {
        this.tab = this.activeTabs.length - 1;
      }
    },
    tab() {
      this.selectChip(this.activeTabs[this.tab]);
    },
  },
  methods: {
    newTab() {
      this.newChip();
    },
    dragStart(ev, formulaId) {
      this.controlsActive = false;
      // eslint-disable-next-line no-param-reassign
      ev.dataTransfer.effectAllowed = 'copy';
      const chip = ev.target.closest('.context-tab');
      const chipContent = chip.childNodes[0];
      const container = chip.closest('.context-tab');
      const originalIndex = Array.prototype.indexOf.call(
        container.parentElement.children,
        container,
      );
      const collectionId = container.parentNode.id;
      container.dataset.originalIndex = originalIndex;
      container.dataset.collectionId = collectionId;

      const cRect = chip.getBoundingClientRect();
      const chipData = this.getChip(formulaId);
      const data = {
        chipId: formulaId,
        offsetX: ev.clientX - cRect.x,
        offsetY: ev.clientY - cRect.y,
        latex: chipData.str,
        isFresh: chipData.isFresh,
        chipData,
      };
      ev.dataTransfer.setData('text/plain', JSON.stringify(data));
      ev.dataTransfer.setDragImage(chipContent, ev.clientX - cRect.x, ev.clientY - cRect.y);
    },
  },
};
</script>

<style scoped lang="less">
    #context-tabs{
        z-index: 5;
        width: calc(100% - 96px);
        max-width: calc(100% - 96px);
    }
    .divider {
      border-right: 1px solid #FFFFFF;
      margin: 0;
    }
    .divider:last-child { border-right: 0 }
</style>
