<template>
  <v-snackbar
    class="display-message"
    :value="display"
    @input="onInput"
    :right="true"
    :timeout="timeout"
    :vertical="true"
    :color="color"
  >
    <div class="row">
      <v-toolbar-title>
        {{message}}
      </v-toolbar-title>
    </div>
    <div v-if="(numberRemaining >= 1)" class="row">
      1 of {{numberRemaining}} remaining messages
    </div>
    <v-btn
      color="white"
      text
      @click="this.closeErrorMsg"
    >
      close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name: 'DisplayMessage',
  props: {
    color: {
      type: String,
      default: undefined,
    },
    timeout: Number,
    message: String,
    numberRemaining: {
      type: Number,
      default: 1,
    },
    onInput: {
      type: Function,
      default: () => {},
    },
  },
  data() {
    return {
      display: true,
    };
  },
  methods: {
    closeErrorMsg() {
      this.display = false;
    },
  },
};
</script>

<style lang="less">
.display-message {
  .v-snack {
    .v-snack__wrapper {
      .v-snack__content {
        padding: 40px 40px 40px;
        line-height: 2;
      }
    }
  }
}
</style>
