<template>
  <div class="draft-input">
    <div class="draft-chip" ref="draftChip">
      <v-text-field
        v-bind="$attrs"
        :value="value"
        v-on="inputListeners"
        ref="inputArea"
        @focus="onFocus"
        @blur="onBlur"
        @keyup="draftInput"
        @drop="onTextAreaDrop"
        :color="currentColor"
        :error="!!value && !previewChipData"
        >
        <template v-slot:append>
          <v-tooltip bottom :color="currentColor">
            <template v-slot:activator="{ on }">
              <v-icon v-on="on"
                :color="currentColor"
                @click.prevent.stop="isMath = !isMath"
              >
                {{isMath ? '$vuetify.icons.sigma' : '$vuetify.icons.formatText'}}
              </v-icon>
            </template>
            {{isMath ? 'as Math' : 'as Text'}}
          </v-tooltip>
        </template>

        <template v-slot:append-outer>
          <v-tooltip bottom :color="currentColor">
            <template v-slot:activator="{ on }">
              <v-icon v-on="on"
                :color="currentColor"
                @click.prevent.stop="newFormula"
              >$vuetify.icons.plusCircleOutline</v-icon>
            </template>
            {{isMath ? 'Enter Math' : 'Enter Text'}}
          </v-tooltip>
        </template>
      </v-text-field>
    </div>

    <v-menu
      v-model="previewOpen"
      :position-x="x"
      :position-y="y"
      open-on-hover
      left
      offset-x
    >
      <div ref="draftPreviewContent"
      :style="{'background-color': 'white',
                'padding': '5px'}">
        <MathSymbolDisplay
          v-if="previewChipData && previewChipData.symbols"
          :h="100"
          :w="200"
          :preserveAspectRatio="true"
          :fitInBounds="true"
          :symbols="previewChipData.symbols" />
        <template v-else>
          {{previewChipData && previewChipData.str}}
        </template>
      </div>
    </v-menu>
  </div>
</template>

<script>
import _ from 'lodash';
import { mixin } from '@/store/mixin';
import MathSymbolDisplay from './MathSymbol/Display';


export default {
  name: 'DraftInput',
  mixins: [mixin],
  props: {
    value: {
      Type: String,
      default() {
        return '';
      },
    },
    handleChipData: {
      Type: Function,
      default: null,
    },
    popperPlacement: {
      Type: String,
      default: 'auto',
    },
    mathColor: {
      Type: String,
      default: '#1976D2',
    },
    textColor: {
      Type: String,
      default: '#000',
    },
  },
  components: {
    MathSymbolDisplay,
  },
  data() {
    return {
      text: '',
      x: 0,
      y: 0,
      previewOpen: false,
      isMath: true,
      popperInstance: null,
      previewChipData: null,
      focused: false,
      updateRender: _.throttle(async function updateRender() {
        const text = this.value ? this.value.trim() : '';

        const chipData = text
          ? await this.makeFormulaData(
            this.isMath ? text : this.nonMath(text),
          )
          : null;

        this.previewChipData = chipData;
        if (!this.isMath && chipData) {
          // Add the raw string for non-math
          this.previewChipData.nonMathStr = text;
        }
        this.previewOpen = this.previewChipData && this.focused;
        return Promise.resolve();
      }, 300),
    };
  },
  computed: {
    inputListeners() {
      return {
        ...this.$listeners,
        input: e => this.$emit('input', e),
      };
    },
    currentColor() {
      return this.isMath ? this.mathColor : this.textColor;
    },
  },
  watch: {
    // async previewChipData(val) {
    //   if (val) {
    //     await this.showDuplicate(null, val.str);
    //   }
    // },
    isMath() {
      this.updateRender();
    },
    value() {
      // if (!this.isMath) {
      //   this.updateEntityCardsFromText();
      // }
      // this.guessMath(val);
      this.onFocus();
      this.updateRender();
      const inputElement = this.$refs.inputArea.$el.getBoundingClientRect();
      this.x = inputElement
        ? inputElement.x + 200
        : 0;
      this.y = inputElement
        ? inputElement.y - 120
        : 0;
    },
  },
  methods: {
    onFocus() {
      this.focused = true;
    },
    onBlur() {
      this.focused = false;
    },
    // updateEntityCardsFromText: _.debounce(async function updateCardsFromText() {
    //   const cards = await fetchEntityCardsWithText(this.text.trim());
    //   if (cards) {
    //     this.setWikiCards(cards);
    //   }
    // }, 1000),
    onTextAreaDrop(ev) {
      ev.preventDefault();
      const raw = ev.dataTransfer.getData('text');
      if (!raw) return;

      try {
        const json = JSON.parse(raw);
        const { latex } = json;
        if (latex) {
          this.insertText(latex);
        }
      } catch {
        this.insertText(raw);
      }
    },
    insertText(newText) {
      if (!newText) return;
      const selectedText = this.getInputAreaElement();
      const start = selectedText.selectionStart;
      const end = selectedText.selectionEnd;
      const updated = this.value.slice(0, start)
        + newText
        + this.value.slice(end);
      this.$emit('input', updated);
    },
    getInputAreaElement() {
      return this.$refs.inputArea;
    },
    nonMath(text) {
      return `\\text{${text}}`;
    },
    async newFormula() {
      const text = this.value.trim();
      const isMath = !!this.isMath;

      if (text) {
        // Flush debounce (execute now)
        await this.updateRender.flush();
      }

      // There was a duplicate formula, don't
      // allow users to create a new formula
      const preview = this.previewChipData ? _.cloneDeep(this.previewChipData) : null;

      // Clear
      this.$emit('input', '');
      this.previewChipData = null;

      const previewChipStr = preview ? preview.str : '';
      // const previewChipId = preview ? preview.id : null;

      // const duplicateChipId = this.checkDuplicate(previewChipId, previewChipStr, false);
      // if (duplicateChipId) return;

      if (preview && (
        (isMath && previewChipStr === text)
        || (!isMath && previewChipStr === this.nonMath(text))
      )) {
        // Use preview data if there is no change
        const scaled = await this.scaleForCanvas(
          preview.symbols,
        );

        this.handleChipData({
          ...preview,
          ...scaled,
        });
      } else {
        // Clear text box
        this.$emit('input', '');
        const renderText = (text && !isMath) ? this.nonMath(text) : text;
        this.makeFormulaData(renderText, true).then((chipData) => {
          if (chipData && this.handleChipData) {
            this.handleChipData({
              ...chipData,
              isFresh: false,
              nonMathStr: isMath ? undefined : text,
            });
            this.previewChipData = null;
          } else {
            // Restore text box on failed render
            this.$emit('input', text);
          }
        });
      }
    },
    guessMath: _.throttle(function guessMath(text) {
      if (!text) return;
      const mathSymbols = [
        '+', '-', '*', '^', '/',
        '\\', '%', '=', '<', '>',
        '1', '2', '3', '4', '5',
        '6', '7', '8', '9', '0',
      ];
      let hasMathSymbol = false;
      mathSymbols.forEach((s) => {
        if (text.indexOf(s) !== -1) {
          hasMathSymbol = true;
        }
      });
      this.isMath = hasMathSymbol;
    }, 300),
    draftInput(e) {
      if (e.code === 'Enter' || e.key === 'Enter') {
        this.newFormula();
      }
    },
  },
};
</script>

<style lang="less">

.draft-chip, .draft-input, .v-btn, .v-btn__content, .v-icon {
  transition-duration: 0s;
}

.draft-input {
  display: flex;
  align-content: center;
  width: 100%;

  .draft-chip {
    display: flex;
    align-content: center;
    position: relative;
    width: 100%;
    min-width: 140px;
    input[type="text"] {
      font-size: 12pt;
      width: 100%;
    }
    input[type="checkbox"] {
      vertical-align: middle;
    }
    label {
      font-size: 12pt;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .popper {
    padding: 5px;
  }
}
</style>
