<template>
  <div class="editor-control-container" fluid>
    <!-- <v-layout id="editor-control"
      col> -->
      <!-- <v-card
        class="pa-2 d-inline-flex justify-center"
        color="#FEFEFE"> -->
        <!-- <Spinner /> -->

        <!-- <v-btn-toggle v-if="!isMobile">
          <v-btn color="primary"
            title="Save to File"
            id="editor-save" @click="downloadState">
            <v-icon color="white">save</v-icon>
          </v-btn>
        </v-btn-toggle>

        <v-divider class="ml-2 mr-2" vertical v-if="!isMobile" /> -->
        <!-- <v-divider class="mt-2 mb-2" /> -->

        <v-btn :color="drawMode ? 'primary' : 'grey'"
          title="Draw"
          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          :disabled="readonly"
          @click="toDrawMode">
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.pen</v-icon>
        </v-btn>
        <v-btn :color="selectMode ? style.lightRit : 'grey'"
          title="Select"
          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          :disabled="readonly"
          @click="toSelectMode">
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.cursorDefault</v-icon>
        </v-btn>
        <v-btn :color="textMode ? 'grey darken-3' : 'grey'"
          title="Text"
          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          :disabled="readonly"
          @click="toTextMode">
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.formatText</v-icon>
        </v-btn>

        <v-divider :class="{
          'my-2': isMediumBtn,
          'my-1': isSmallBtn,
          }" />

        <v-btn color="primary"
          title="Undo"

          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          id="editor-undo" @click="undo" :disabled="!canUndo">
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.undo</v-icon>
        </v-btn>
        <v-btn color="primary"
          title="Redo"
          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          id="editor-redo" @click="redo" :disabled="!canRedo">
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.redo</v-icon>
        </v-btn>

        <v-divider :class="{
          'my-2': isMediumBtn,
          'my-1': isSmallBtn,
          }" />

          <!-- <v-btn color="primary"
            title="Recognize Symbols"
            id="editor-recognize" @click="cleanup"
            :disabled="!canClearStrokes || recognitionInProgress">
            <v-icon color="white">mdi-lambda</v-icon>
          </v-btn>
          <v-divider vertical />
          <v-btn color="grey darken-3"
            title="Group"
            id="editor-create-template"
            @click="createTemplateFromCanvasSymbols"
            :disabled="!hasCanvasSVGs || recognitionInProgress">
            <v-icon color="white">mdi-arrow-expand-up</v-icon>
          </v-btn>

          <v-divider vertical /> -->
        <v-btn color='primary'
          title="Upload Image"
          :disabled="readonly"
          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          @click='handleImageUpload'>
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.image</v-icon>
        </v-btn>
        <input type='file' name='image' id="new-image-input" hidden>
        <!-- <v-btn color="primary"
          small fab
          title="Group + Recognize"
          id="editor-recognize-symbols"
          @click="recognizeCanvasSymbolsIntoChip"
          :disabled="(!canClearStrokes && !hasCanvasSVGs) || recognitionInProgress">
          <v-icon color="white">mdi-arrow-expand-up</v-icon>
        </v-btn> -->
        <v-btn color="primary"
          title="Generate LaTex"
          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          @click="updateTextFromCanvas"
          :disabled="(!canClearStrokes && !hasCanvasSymbols)
            || recognitionInProgress || !activeFormulaId || readonly">
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.sync</v-icon>
        </v-btn>

        <v-divider :class="{
          'my-2': isMediumBtn,
          'my-1': isSmallBtn,
          }" />


        <v-btn color="primary"
          title="Clear Canvas"
          :x-small="isExtraSmallBtn"
          :small="isSmallBtn"
          :disabled="false && canClearCanvas || recognitionInProgress || readonly"
          id="editor-clear" @click="clear">
          <v-icon
            :small="!isMediumBtn"
            color="white">$vuetify.icons.delete</v-icon>
        </v-btn>

      <!-- </v-card> -->
    <!-- </v-layout> -->
  </div>
</template>

<script>
import recognition from '@/recognition';
import { mixin } from '@/store/mixin';
import { SvgOps } from '@/svg-operations';

export default {
  name: 'EditorControls',
  mixins: [mixin],
  components: {
  },
  data() {
    return {
      isMobile: true,
      recognitionInProgress: false,
    };
  },
  mounted() {
    // eslint-disable-next-line no-undef
    this.isMobile = !MathJax || MathJax.Hub.Browser.isMobile;
  },
  computed: {
    readonly() {
      return this.focusedEntityType === 'wikiCard' || this.activeFormula.noHistory;
    },
    isExtraSmallBtn() {
      return this.$vuetify.breakpoint.height < 750;
    },
    isSmallBtn() {
      const h = this.$vuetify.breakpoint.height;
      return h < 950 && h >= 750;
    },
    isMediumBtn() {
      return !this.isExtraSmallBtn && !this.isSmallBtn;
    },
  },
  methods: {
    async cleanup() {
      if (!this.canClearStrokes) return Promise.resolve();
      // Check to see if the recognition process has already started
      // externally to this method
      const externalRIP = this.recognitionInProgress;
      // If it hasn't started, set the recognition in progress flag
      if (!externalRIP) {
        this.recognitionInProgress = true;
      }
      const strokeIds = [...this.strokeOrder];
      const strokes = this.getStrokes();
      const strokesJSON = strokes.map(s => s.stroke);

      // disable stroke JSON saving for now
      // if (process.env.NODE_ENV === 'development') {
      //   let dateStr = new Date().toLocaleString('en-US').replace(',', '_')
      //   // Save request data
      //   // saveJSON(reqData, `recognition_req_${dateStr}.json`)

      //   // Save raw strokes data
      //   saveJSON(strokesJSON, `raw_strokes_${dateStr}.json`)
      // }

      try {
        const data = await this.recognitionRequest(recognition.recognize(strokes));
        await this.afterRecognitionIndividualSymbols(data, strokesJSON);
        return this.clearStrokes(strokeIds);
      } catch (e) {
        console.error(e);
        console.log('Handwriting recognition failed');
        return undefined;
      } finally {
        if (!externalRIP) {
          // If the flag was set internally to this method
          // unset the recognitionInProgress flag
          this.recognitionInProgress = false;
        }
      }
    },
    createTemplateFromCanvasSymbols() {
      if (!this.hasCanvasSVGs) {
        return;
      }
      const svgIds = [...this.canvasSVGsOrder];
      const svgObjects = svgIds.map(this.getSVG);
      SvgOps.mergeSvgObjects(...svgObjects)
        .then(merged => this.createTemplateFromSVG(merged))
        .then(() => Promise.all(svgIds.map(this.deleteSVGFromCanvas)));
    },
    updateTextFromCanvas() {
      return this.recognizeCanvasSymbols();
    },
    recognizeCanvasSymbolsIntoChip() {
      // return this.recognizeCanvasSymbols(true);
    },
    async clear() {
      if (this.activeFormulaId) {
        const symbolIds = [...this.activeFormula.symbolIds];
        await this.updateEditorState('formula', {
          str: '',
          symbolIds: [],
          isFresh: false,
        });
        await this.emptySelectedSymbols();
        this.removeFromSymbols(symbolIds);
      }
      return this.clearStrokes()
        .then(this.clearCanvasChipSVGs);
    },
  },
};

</script>

<style lang="less">

.editor-control-container {
  display: inline-block;
  width: 50px;
  z-index: 5;
  border: 1px solid #CCC;
  border-left: none;
  @br: 5px;
  border-top-right-radius: @br;
  border-bottom-right-radius: @br;
  padding: 5px;
  margin: auto 0;
  font-size: 0;

  .v-btn {
    opacity: 1;
    margin: 2px 0;
    padding: 0 !important;
    min-width: 40px !important;
    @media (max-height: 750px) {
      min-width: 30px !important;
    }
  }

  pointer-events: none;

  * {
    pointer-events: auto;
  }
}

</style>
