<template>
  <v-card v-if="editingPanelExpanded"
    :style="editingPanelStyle"
  >
    <v-card-title class="editing-panel-title">
      <div absolute left>
        <v-menu v-if="!(focusedCardId && isChipFocused)" offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              v-if="!readonly"
              id="new-editing-panel"
              title="New"
              text fab small
              color="white"
              v-on="on"
            >
              <v-icon>$vuetify.icons.plus</v-icon>
            </v-btn>
            <v-btn v-else
              title="Copy"
              text fab small
              color="white"
              @click="readOnlyCopy">
              <v-icon>$vuetify.icons.contentCopy</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(item, index) in newOperations"
              :key="index"
              @click="item.onClick"
            >
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-btn
          v-else
          title="Return to Card"
          text fab small
          color="white"
          @click="returnToOriginCard"
        >
          <v-icon>$vuetify.icons.arrowLeft</v-icon>
        </v-btn>
      </div>

      <span id="editing-panel-title-text">
        {{title}}
        <span v-if="readonly">
          <v-icon
            color="white"
            title="This entity can't be edited. Make a copy instead">
            $vuetify.icons.lock
          </v-icon>
        </span>
      </span>

      <div absolute right>
        <v-btn text fab small
          id="close-editing-panel"
          color="white"
          title="Close Panel"
          @click="toggleCollapse">
          <v-icon>$vuetify.icons.chevronRight</v-icon>
        </v-btn>
      </div>
    </v-card-title>

    <v-card-text id="editing-panel-content">

      <template v-if="isCardEditable">
        <EntityCardEditable
          :title="entityTitle"
          :description="entityDescription"
          :formulaLatex="cardFormulaText"
          :formulaSymbols="cardFormulaSymbols"
          :isFresh="cardFormulaIsFresh"
          :updateTitle="updateCardTitle"
          :updateDescription="updateCardDescription"
          :onChipClick="e => cardChipClick(e, focusedCardId, false)"
          />
      </template>

      <template v-else-if="isCardFocused">
        <EntityCard
          :entityData="focusedCard"
          :initialExpand="true"
          :allowExpand="false"
        />
      </template>

      <template v-else-if="isChipFocused">
        <v-textarea v-model="texString" ref="textArea"
          :disabled="editingMode === 'Handwriting'"
          class="text-input-textarea"
          droppable=true
          @drop="onTextAreaDrop"
          @focus="updateSelection"
          @pointerup="updateSelection"
          @keyup="updateSelection"
          :error="!texValid"
          :autofocus="true" filled no-resize
          :label="message" />

      </template>

      <template v-else>
        <p>Select a card or formula to view it here.</p>
      </template>
    </v-card-text>
    <v-card-actions v-if="isChipFocused" class="justify-center" id="editing-panel-operations">
      <v-btn icon class="align-self-center mr-3"
        :disabled="editingMode === 'LaTeX'"
        title="Insert with handwriting"
        @click="openRecognizerWindow()">
        <v-icon color="orange">$vuetify.icons.pen</v-icon>
      </v-btn>
      <!-- <v-btn icon class="align-self-center mr-3"
        title="Insert with image"
        @click="uploadImage()">
        <v-icon color="orange">$vuetify.icons.image</v-icon>
      </v-btn> -->
      <!-- <v-divider
        class="mx-1"
        vertical
      ></v-divider> -->
      <v-btn icon class="align-self-center mr-3"
        title="Search"
        @click="SEM.search(searchEngine, activeFormulaText)">
        <v-icon color="primary">$vuetify.icons.magnify</v-icon>
      </v-btn>
      <v-btn icon class="align-self-center mr-3"
        title="Download"
        @click="downloadChip()">
        <v-icon color="primary">$vuetify.icons.download</v-icon>
      </v-btn>
      <v-btn icon class="align-self-center mr-3"
        :title="isFavorited ? 'Unfavorite' : 'Favorite'"
        @click="handleFavorite()">
        <v-icon :color="favoriteColor">$vuetify.icons.star</v-icon>
      </v-btn>
      <v-btn icon class="align-self-center mr-3"
        title="Clear"
        @click="clear()">
        <v-icon color="error">$vuetify.icons.delete</v-icon>
      </v-btn>
      <input type='file' name='image' id="new-image-input" hidden>
    </v-card-actions>
  </v-card>

  <v-card v-else class="collapsed-panel"
    :style="editingPanelStyle"
  >
    <v-btn text
      color="white"
      title="Open Editing Panel"
      @click="toggleCollapse">
      <v-icon>$vuetify.icons.chevronLeft</v-icon>
    </v-btn>
  </v-card>
</template>

<script>
import _ from 'lodash';
import EntityCardEditable from './EntityCard/Editable';
import EntityCard from './EntityCard';
import { SearchEngineManager as SEM } from '@/search';
import { saveImage } from '@/saveImage';
import { SvgOps } from '@/svg-operations';
import { mixin } from '@/store/mixin';

export default {
  name: 'EditingPanel',
  mixins: [mixin],
  components: {
    EntityCardEditable,
    EntityCard,
  },
  data() {
    return {
      SEM,
      operations: [
        { name: 'New Formula', onClick: this.newChip },
        { name: 'Copy Formula', onClick: this.copyActiveChip },
        { name: 'New Card', onClick: this.newEmptyCard },
        { name: 'New Card from Formula', onClick: this.newCardFromActiveFormula },
        { name: 'Copy Card', onClick: this.copyFocusedCard },
      ],
    };
  },
  watch: {
    activeFormulaText: {
      immediate: true,
      handler(val, oldVal) {
        // activeFormulaText has changed, so update texString
        if (val !== oldVal && val !== this.texString) {
          this.updateTexString(val);
        }
      },
    },
  },
  computed: {
    message() {
      return this.texValid ? 'LaTeX' : 'Invalid LaTeX';
    },
    readonly() {
      return (this.isCardFocused && !this.isCardEditable)
       || (this.isChipFocused && this.activeFormula.noHistory);
    },
    readOnlyCopy() {
      if (this.isWikiCardFocused) {
        return this.newCardFromActiveFormula;
      }
      return this.copyActiveChip;
    },
    newOperations() {
      return !this.focusedCardId ? this.brandNewOperations : this.operations;
    },
    brandNewOperations() {
      return this.operations.slice(0, 4);
    },
    focusedCard() {
      if (!this.hasFocusedCard) {
        return null;
      }
      // filter to card with matching id
      const card = this.getCard(this.focusedCardId);

      return card;
    },
    isCardEditable() {
      return this.focusedCard && !this.focusedCard.isWikiCard;
    },
    isCardFocused() {
      return this.focusedEntityType === 'card';
    },
    hasFocusedCard() {
      return this.isCardFocused && this.focusedCardId;
    },
    isChipFocused() {
      return this.focusedEntityType === 'chip';
    },
    entityTitle() {
      if (this.isCardFocused && this.focusedCard) {
        return this.focusedCard.title;
      }
      return '';
    },
    entityDescription() {
      if (!this.isCardFocused) return '';

      if (this.focusedCard) {
        return this.focusedCard.description;
      }
      return '';
    },
    title() {
      const operationString = this.readonly ? '' : 'Edit ';
      if (this.isCardFocused) {
        return `${operationString}Card`;
      }
      if (this.isChipFocused) {
        return `${operationString}Formula`;
      }
      if (this.isWikiCardFocused) {
        return `${operationString}Wiki Card`;
      }
      return 'Select a Card or Formula';
    },
    activeFormulaSymbolIds() {
      return this.activeFormula.symbolIds || [];
    },
    cardFormula() {
      return this.getChip(this.focusedCard?.chipId) || {};
    },
    cardFormulaSymbols() {
      return this.cardFormula.symbolIds?.map(this.getSymbol) || [];
    },
    activeFormulaSymbols() {
      return this.activeFormulaSymbolIds.map(this.getSymbol);
    },
    cardFormulaText() {
      return this.cardFormula.str || '';
    },
    cardFormulaIsFresh() {
      return !!this.cardFormula.isFresh;
    },
    activeFormulaIsFresh() {
      return !!this.activeFormula.isFresh;
    },
    chipBorderColor() {
      return this.activeFormulaIsFresh ? '#2196F3' : 'gray';
    },
    textIsEmpty() {
      return this.activeFormulaText.trim() === '';
    },
    textIsValid() {
      return this.texValid && !this.textIsEmpty;
    },
    showErrorMessage() {
      return !this.texValid && !this.textIsEmpty;
    },
    editingPanelStyle() {
      return (this.editingPanelExpanded)
        ? {
          width: '350px',
          minWidth: '350px',
          borderRadius: '0',
          cursor: !this.latexEditingEnabled ? 'not-allowed' : null,
        } : {
          width: '30px',
          minWidth: '30px',
          borderRadius: '0',
          cursor: !this.latexEditingEnabled ? 'not-allowed' : null,
        };
    },
    filename() {
      const time = new Date().toLocaleTimeString().replace(' ', '');
      const date = new Date().toLocaleDateString().replace(' ', '');
      let today = `${date}_${time}`;

      // Strip away escaped characters
      today = today.replace(/[^\w\s]/gi, '');

      return `mathdeck_formula_${today}.jpg`;
    },
    isFavorited() {
      const favChipObj = this.chipGroups[this.activeFormula.str];
      return !!(favChipObj || {}).favoriteId;
    },
    favoriteColor() {
      return this.isFavorited ? 'amber accent-4' : 'grey darken-4';
    },
  },
  methods: {
    openRecognizerWindow() {
      this.toDrawMode();
      this.insertionContext = this.activeFormula.str;
      this.updateEditorState('text', '');
      this.recognizerWindowOpen = true;
    },
    uploadImage() {
      this.recognizerWindowOpen = true;
      const imageInput = document.getElementById('new-image-input');
      imageInput.click();
    },
    returnToOriginCard() {
      this.selectCard(this.focusedCardId);
    },
    updateTexString: _.debounce(function updateTexString(text) {
      if (text == null) {
        this.texString = '';
        this.updateSelection({ start: 0, end: 0 });
      } else {
        this.texString = text;
        // Update selection to end of texString
        this.updateSelection({ start: text.length, end: text.length });
      }
    }, 10),
    updateSelection: _.debounce(function updateSelection(e) {
      if (!e || !e.target) return;
      this.doUpdateSelection({
        start: e.target.selectionStart,
        end: e.target.selectionEnd,
      });
    }, 300, { leading: true }),
    doUpdateSelection({ start, end }) {
      this.texCursorStart = start;
      this.texCursorEnd = end;
    },
    toggleCollapse() {
      this.editingPanelExpanded = !this.editingPanelExpanded;
    },
    dragStart(e) {
      e.dataTransfer.effectAllowed = 'copy';
      // e.dataTransfer.setData('text', this.formula.latex);

      const chip = e.target.closest('.chip');
      const cRect = chip.getBoundingClientRect();
      const offsetX = e.clientX - cRect.x;
      const offsetY = e.clientY - cRect.y;
      const data = {
        offsetX,
        offsetY,
        latex: this.formulaLatex,
      };
      const dataList = e.dataTransfer.items;
      dataList.add(JSON.stringify(data), 'text/plain');
      e.dataTransfer.setDragImage(chip, offsetX, offsetY);
    },
    dragEnd() {
      this.draggingChip = null;
    },
    onTextAreaDrop(ev) {
      ev.preventDefault();
      const raw = ev.dataTransfer.getData('text');
      if (!raw) return;
      try {
        const json = JSON.parse(raw);
        const { latex } = json;
        if (latex) {
          this.insertText(latex);
        }
        // if (chipId) {
        //   const text = this.getChip(chipId).str;
        //   // Insert chip str
        //   this.insertText(text);
        // }
      } catch {
        // this.insertText(raw);
      }
    },
    async downloadChip() {
      const chip = this.activeFormula;
      const symbols = this.activeFormulaSymbolIds.map(this.getSymbol);
      const symbolsBBox = SvgOps.getBBox(...symbols);
      const svgSymbols = _.cloneDeep(symbols).map(s => ({
        ...s,
        id: undefined,
        attributes: {
          ...s.attributes,
          x: s.attributes.x - symbolsBBox.x,
          y: s.attributes.y - symbolsBBox.y,
        },
      }));
      const { imageBlob } = await SvgOps.toBase64Image(
        svgSymbols,
        'image/jpeg',
        chip,
        this.filename,
      );
      saveImage(imageBlob, this.filename);
    },
    handleFavorite() {
      if (!this.isFavorited) {
        this.favorite(this.activeFormula.id);
      } else {
        this.unfavorite(this.activeFormula.id);
      }
    },
    async clear() {
      if (this.activeFormulaId) {
        const symbolIds = [...this.activeFormula.symbolIds];
        await this.updateEditorState('formula', {
          str: '',
          symbolIds: [],
          isFresh: false,
        });
        await this.emptySelectedSymbols();
        this.removeFromSymbols(symbolIds);
      }
      return this.clearStrokes()
        .then(this.clearCanvasChipSVGs);
    },
  },
};
</script>

<style lang="less">

.editing-panel-title {
  background-color: rgb(51, 51, 51) !important;
  padding: 4px 16px;
  color: white;

  #editing-panel-title-text{
    margin: 0 auto;
  }
}

.collapsed-panel {
  background-color: rgb(51, 51, 51) !important;
  height: 100%;
  button{
    margin: auto 0;
    height: 100% !important;
  }
}
#new-editing-panel{
  padding: 0;
}

#close-editing-panel{
  float: right;
}

#editing-panel-operations {
  padding: 0 0 2px;
  background-color:rgb(240, 240, 240);
}

.text-input-textarea {

  height: 100%;
  .v-input__control {
    height: 100%;
    .v-input__slot {
      height: 100%;
    }
  }
}
#editing-panel-content {
  padding: 0 !important;
  height: calc(100% - 86px);

  .v-input__slot {
    margin-bottom: 0;
  }
}

.chip {
  margin: 4px auto;
}
</style>
