
<template>
  <div id="entity-card-controls" class="popper"
    @drop.prevent.stop
    ref="entityCardControls"
  >
    <ChipControls :controls="controls" :scaler="scaler"/>
    <div class="popper__arrow" x-arrow=""></div>
  </div>
</template>

<script>
import Popper from 'popper.js';
import ChipControls from './ChipControls';
import { mixin } from '@/store/mixin';
import { SearchEngineManager as SEM } from '@/search';
import {
  // getChip,
  getEditorCenter,
} from '@/tex-render';

import { saveImage } from '@/saveImage';
import { SvgOps } from '@/svg-operations';

export default {
  name: 'EntityCardControls',
  components: {
    ChipControls,
  },
  mixins: [mixin],
  props: {
    id: {
      Type: Number,
      default: null,
    },
    latex: {
      Type: String,
      default: '',
    },
    symbols: {
      Type: Array,
      default: [],
    },
    cardTitle: {
      Type: String,
      default: '',
    },
    cardDescription: {
      Type: String,
      default: '',
    },
  },
  data() {
    return {
      scaler: {
        show: false,
        shrink: () => {},
        grow: () => {},
      },
    };
  },
  computed: {
    favoriteColor() {
      return this.isFavorited ? 'amber accent-4' : 'grey darken-4';
    },
    chipStr() {
      return this.latex;
    },
    isFavorited() {
      // If there exist a chip with the same latex string
      // in the favoriteChips array, the chip must have already
      // been favorited before
      return this.checkDuplicate(null, this.chipStr, 'fav');
    },
    filename() {
      const time = new Date().toLocaleTimeString().replace(' ', '');
      const date = new Date().toLocaleDateString().replace(' ', '');
      let today = `${date}_${time}`;

      // Strip away escaped characters
      today = today.replace(/[^\w\s]/gi, '');

      return `mathdeck_formula_${today}.jpg`;
    },
    controls() {
      return [
        {
          ripple: false,
          color: 'primary',
          click: this.doSearch,
          if: true,
          title: 'Search',
          iconStr: '$vuetify.icons.magnify',
        },
        {
          ripple: false,
          color: 'primary',
          click: this.downloadChip,
          if: true,
          title: 'Download',
          iconStr: '$vuetify.icons.download',
        },
        {
          ripple: false,
          color: this.favoriteColor,
          click: this.handleFavorite,
          if: true,
          title: (this.isFavorited ? 'Unfavorite' : 'Favorite'),
          iconStr: '$vuetify.icons.star',
        },
        {
          ripple: false,
          color: 'grey darken-4',
          click: this.copyToCanvasFromDeck,
          if: true,
          title: 'Add to Canvas',
          iconStr: '$vuetify.icons.plusBox',
        },
        {
          ripple: false,
          color: 'primary',
          click: this.openChipEditing,
          if: true,
          title: 'Edit',
          iconStr: '$vuetify.icons.squareEditOutline',
        },
      ];
    },
  },
  mounted() {
    // Initialize the popper instance
    const activeChipEl = this.activeChipEl();

    this.popperInstance = new Popper(
      activeChipEl,
      this.$refs.entityCardControls,
      {
        placement: 'bottom',
        positionFixed: true,
        modifiers: {
          preventOverflow: {
            boundariesElement: 'viewport',
            escapeWithReference: true,
          },
        },
      },
    );
  },
  methods: {
    doSearch() {
      return SEM.search(this.searchEngine, this.latex);
    },
    activeChipEl() {
      const { id } = this;
      if (id) {
        return document.getElementById(`chip-id-${id}`);
      }
      return document.body;
    },
    async downloadChip() {
      const copyChipData = this.entityChipData();
      let { symbols } = copyChipData;
      const bbox = SvgOps.getBBox(...symbols);

      symbols = symbols.map(s => ({
        ...s,
        id: undefined,
        attributes: {
          ...s.attributes,
          x: s.attributes.x - bbox.x,
          y: s.attributes.y - bbox.y,
        },
      }));

      const { imageBlob } = await SvgOps.toBase64Image(
        symbols,
        'image/jpeg',
        copyChipData,
        this.filename,
        this.cardTitle,
        this.cardDescription,
      );
      saveImage(imageBlob, this.filename);
    },
    async handleFavorite() {
      const copyChipData = this.entityChipData();

      // Check if the latex has already been favorited. If
      // it has, then unfavorite, otherwise favorite

      if (!this.isFavorited) {
        const entityChipId = await this.addChip(copyChipData);
        this.favorite(entityChipId);
      } else {
        // isFavorited function returns the previously favorited chipId.
        // Renaming it so that it is less confusing.
        const favoritedChipId = this.isFavorited;
        this.unfavorite(favoritedChipId);
      }
    },
    async openChipEditing() {
      const copyChipData = this.entityChipData();
      const isDuplicate = await this.showDuplicate(null, copyChipData.str);
      // Only add chip to the store, if there are no duplicates for the
      // chip string
      if (!isDuplicate) {
        const entityChipId = await this.addChip(copyChipData);
        const newChipId = await this.copyChipToSearchBar(entityChipId);
        this.selectChip(newChipId);
        this.scrollQueryBar(newChipId);
      }
    },
    entityChipData() {
      const { x, y } = getEditorCenter(this.recognizerWindowOpen);

      const copyChipData = {
        str: this.latex,
        symbols: this.scaleForCanvas(this.symbols).symbols,
        isFresh: true,
        isCopy: true,
        x,
        y,
      };

      delete copyChipData.id;

      return copyChipData;
    },
    async copyToCanvasFromDeck() {
      const copyChipData = this.entityChipData();
      this.addChipToCanvas(copyChipData);
    },
    inControls(target) {
      return target.closest('.popper');
    },
  },
};

</script>
