<template>
  <DisplayMessage
    v-if="message"
    :color="'red darken-3'"
    :style="'font-weight: bold !important'"
    :timeout="0"
    :message="message"
    :numberRemaining="errorMessages.length"
  />
</template>

<script>
import { setTimeout } from 'timers';
import { mixin } from '@/store/mixin';
import DisplayMessage from './DisplayMessage';

export default {
  name: 'ErrorMessage',
  components: {
    DisplayMessage,
  },
  mixins: [mixin],
  data() {
    return {
      message: null,
      messageDisplayQueue: [],
      processing: false,
    };
  },
  watch: {
    errorMessages: {
      immediate: true,
      handler(val) {
        // Update message to first error message
        if (val && val.length) {
          // Get the next error message in the queue
          const [value] = val;
          // Set the message to the current value
          this.message = value;
          if (value) {
            this.messageDisplayQueue.push(
              () => new Promise((resolve) => {
                // First display for 5 seconds
                setTimeout(resolve, 5000);
              }),
              () => new Promise((resolve) => {
                // Then wait for the message to disappear
                this.message = null;
                setTimeout(resolve, 750);
              }),
              () => new Promise((resolve) => {
                // Then move to the next message
                this.dequeueErrorMessage()
                  .then(resolve);
              }),
            );
          }
        }
      },
    },
    messageDisplayQueue(val) {
      // If queue is not empty and we are not processing
      if (val && val.length && !this.processing) {
        // Get the next promise function in the queue
        const [cur] = val;
        // Set processing to true
        this.processing = true;
        cur().then(() => {
          // Once complete set processing to false
          this.processing = false;
          // and move to the next value in the queue
          val.shift();
        });
      }
    },
  },
};
</script>
