<template>
  <div>
  <v-layout id="header-bar" grid-list-xl
    row align-center align-content-center>
    <v-flex shrink>
      <!-- <div style="width: 128px; height: 128px;" /> -->
      <!-- <a href="/">
        <Logo
          :filename="filename"
          :h="height"
          :w="width"
          :styleContainer="'margin-right: 20px;'"
          :alt="'MathDeck'"
        />
      </a> -->
    </v-flex>
    <v-flex
      :style="{
        'display': 'inline-flex',
        'align-items': 'center',
      }"
    >
      <div style="display: inline-block; margin: 5px;">
        <h3>Instructions</h3>
        <div>Enter this formula:</div>
      </div>
      <div
        :style="{
          display: 'inline-block',
          padding: '15px 10px',
          height: '100px',
          maxWidth: '90%',
          overflowX: 'auto',
          overflowY: 'hidden',
          border: '2px solid black',
        }"
      >
        <MathSymbolDisplay
          :h="50"
          :heightIfTall="70"
          :symbols="targetSymbols" />
      </div>
      <v-progress-circular
        v-if="loggingInProgress && !showMessage"
        indeterminate
        color="primary"
      ></v-progress-circular>
      <v-btn
        v-else
        :outlined="!isMatch"
        :color="isMatch ? 'success' : 'black' "
        style="margin-left: 10px;"
        title="Done"
        @click="onDoneClick"
      >
        Done
      </v-btn>
      <v-snackbar v-model="showMessage"
        :light="true"
        :top="true"
        :timeout="10000"
        :vertical="true"
      >
        <v-alert
          tile
          border="left"
          color="warning"
          colored-border
          style="font-size: 1.2em; margin: 0;"
        >
          The entered formula does not appear to match the target formula.
          Please try to input the target formula using the available editing operations.
        </v-alert>
        <template v-slot:action="{ attrs }">
          <v-progress-circular
            v-if="loggingInProgress"
            indeterminate
            color="primary"
          ></v-progress-circular>
          <v-btn text v-if="doneClicks >= 0"
            color="error"
            style="margin: 0 10px;"
            v-bind="attrs"
            @click="finish">
            Submit Anyway
          </v-btn>
          <v-btn v-bind="attrs"
            color="primary"
            @click="showMessage = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>

      <v-spacer />
      <v-btn
        title="Open Help Page"
        color="primary"
        style="margin-left: 5px;"
        outlined icon right top
        @click="onHelpClick"
      >?</v-btn>
    </v-flex>
    <ActiveChipControls />
    <!-- <SearchButton/> -->
    <!-- <Introduction/> -->
  </v-layout>
  <ContextTabs />
  </div>
</template>

<script>
import logoFileName from '../assets/MathDeckLogo.svg';

// import SearchButton from './SearchButton';
// import QueryBar from './QueryBar';
// import Introduction from './Introduction';
// import Logo from './Logo';
import MathSymbolDisplay from './MathSymbol/Display';
import ActiveChipControls from './ActiveChipControls';
import ContextTabs from './ContextTabs';
import { mixin } from '../store/mixin';
import {
  Node,
} from '../vst';
import EventLogger from '../logger';
import {
  experimentURL,
} from '../experiment-config';

export default {
  name: 'ExperimentHeader',
  components: {
    // SearchButton,
    // QueryBar,
    ContextTabs,
    MathSymbolDisplay,
    ActiveChipControls,
    // Logo,
    // Introduction,
  },
  mixins: [mixin],
  data() {
    return {
      filename: logoFileName,
      height: 128,
      width: 128,
      showMessage: false,
      doneClicks: 0,
      loggingInProgress: false,
    };
  },
  computed: {
    targetSymbols() {
      if (this.targetFormula) {
        return this.targetFormula.symbols || [];
      }
      return [];
    },
    targetTree() {
      return this?.targetFormula?.tree || Node.empty;
    },
    canvasTree() {
      return this.canvasChipData?.tree || Node.empty;
    },
    isMatch() {
      if (this.targetTree !== Node.empty && this.canvasTree) {
        return Node.Match.isExactMatch(this.targetTree, this.canvasTree);
      }
      return false;
    },
  },
  methods: {
    finish() {
      EventLogger.logEvent('Done', {
        match: this.isMatch,
        target: this.targetFormula.str,
        condition: this.editingMode,
      });
      EventLogger.logNow();
      this.loggingInProgress = true;
      setTimeout(() => {
        const nextLoc = `${experimentURL}/${window.experimentInfo?.participantId}`;
        console.log(nextLoc);
        window.location = nextLoc;
      }, 3000);
    },
    onDoneClick() {
      this.doneClicks += 1;
      if (this.isMatch) {
        this.finish();
      } else {
        this.showMessage = true;
      }
    },
    onHelpClick() {
      const helpLoc = `${experimentURL}/help/${window.experimentInfo?.taskId}`;
      EventLogger.logEvent('Help', {
        helpURL: helpLoc,
        time: Date.now(),
        target: this.targetFormula.str,
        condition: this.editingMode,
      });
      window.open(helpLoc, 'help').focus();
    },
  },
};
</script>

<style lang="less">
#header-bar {
  height: 80px;
  max-height: 80px;
  width: 100%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  flex-wrap: nowrap;

  .math-symbol-display {
    height: 100%;
  }
}

</style>
