<template>
  <div v-if="favoriteChips.length !== 0"
    id="favorite-chips"
    class="layout row wrap"
    droppable=true @drop="drop"
    @dragover='dragOver'
    @dragenter='e => e.preventDefault()'
    >
    <Chip v-for="chipId in filteredFavoriteChips"
      :id="chipId" :key="chipId"
      :onClick="e => onClick(e, chipId)"
      :insertionMode="insertionMode"
    />
  </div>
  <div v-else>
      Star a formula to save it here.
  </div>
</template>

<script>
import { mixin } from '@/store/mixin';
import Chip from './Chip';

export default {
  name: 'FavoriteChips',
  mixins: [mixin],
  props: {
    onClick: {
      type: Function,
      default: () => {},
    },
    filter: {
      type: Function,
      default: () => {},
    },
    setFilterCount: {
      Type: Function,
      default: () => {},
    },
    insertionMode: {
      Type: Boolean,
      default: false,
    },
  },
  components: {
    Chip,
  },
  computed: {
    filteredFavoriteChips() {
      const filtered = this.favoriteChips
        // ids => chip
        .map(this.getChip)
        // filter chip => chip
        .filter(this.filter)
        // chip => id
        .map(chip => chip.id);

      if (this.setFilterCount) this.setFilterCount(filtered.length);
      return filtered;
    },
  },
  methods: {
    dragOver(ev) {
      // allow drop
      ev.preventDefault();
      this.doChipDragOver(
        ev,
        this.favoriteChips,
        document.getElementById('favorite-chips'),
      );
    },
    drop(ev) {
      ev.preventDefault();
      const raw = ev.dataTransfer.getData('text');
      if (!raw) return;
      const data = JSON.parse(raw);
      const { chipId } = data;
      if (!chipId) return;

      const index = this.favoriteChips.indexOf(chipId);
      if (index !== -1) {
        const newOrder = this.reorderChipInCollection(
          chipId,
          this.favoriteChips,
          document.getElementById('favorite-chips'),
        );
        if (newOrder) {
          this.favoriteChips = newOrder;
        }
      }
    },

  },

};
</script>

<style>

</style>
