<template>
  <v-footer class="pa-0 copy-footer">
    <v-layout grid-list-xl
      align-center align-content-center
      black pl-1 pr-2 pt-1 text-center white--text xs12>
      &copy; {{ new Date().getFullYear() }} —
      MathDeck — part of the
      <Logo
        :filename="filename"
        :h="height"
        :w="width"
        :alt="'MathSeer'"
      />
      project
    </v-layout>
  </v-footer>
</template>

<script>
import logoFileName from '../assets/MathSeer.svg';
import Logo from './Logo';

export default {
  name: 'Footer',
  components: {
    Logo,
  },
  data() {
    return {
      filename: logoFileName,
      height: 30,
      width: 60,
    };
  },
};
</script>

<style lang="less" scoped>
.copy-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 20px 0 0;
  opacity: 0.8;
  &>.layout {
    font-size: 10px;
    border-radius: 15px 0 0 0;
  }
}
</style>
