<template>
  <div>
    <v-layout
      id="header-bar"
      align-center
    >
      <v-flex>
        <a href="/">
          <Logo
            :filename="filename"
            :h="height"
            :w="width"
            :styleContainer="'margin-right: 20px;'"
            :alt="'MathDeck'"
          />
        </a>
      </v-flex>
      <QueryBar />
      <SearchButton />
      <Introduction />
    </v-layout>
    <ContextTabs />
  </div>
</template>

<script>
import logoFileName from '../assets/MathDeckLogo.svg';

import SearchButton from './SearchButton';
import QueryBar from './QueryBar';
import Introduction from './Introduction';
import Logo from './Logo';
import ContextTabs from './ContextTabs';

export default {
  name: 'Header',
  components: {
    ContextTabs,
    SearchButton,
    QueryBar,
    Logo,
    Introduction,
  },
  data() {
    return {
      filename: logoFileName,
      height: 128,
      width: 128,
    };
  },
};
</script>

<style lang="less">
#header-bar {
  height: 128px;
  max-height: 80px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  flex-wrap: nowrap;
}
</style>
