<template functional>
  <v-hover>
    <v-chip
      v-bind="data.attrs"
      v-on="listeners"
      slot-scope="{ hover }"
      :class="[
        data.staticClass || '',
        data.class || '',
        `elevation-${hover
          ? props.elevationHover
          : props.elevation}`,
      ]"
      :style="{
        ...data.staticStyle,
        ...data.style,
      }"
    >
      <slot />
    </v-chip>
  </v-hover>
</template>

<script>
export default {
  name: 'HoverChip',
  inheritAttrs: false,
  props: {
    elevation: {
      Type: Number,
      default: 3,
    },
    elevationHover: {
      Type: Number,
      default: 15,
    },
  },
};
</script>
