<template>
  <img :src="filename"
    class="logo"
    title="New Session"
    :alt="alt"
    :style="styleContainer"
    contain :height="h" :width="w" />
</template>

<script>
export default {
  name: 'Logo',
  props: {
    filename: {
      type: String,
      default: null,
    },
    styleContainer: {
      type: String,
      default: '',
    },
    h: {
      type: Number,
      default: null,
    },
    w: {
      type: Number,
      default: null,
    },
    alt: {
      type: String,
      default: '',
    },
  },
};
</script>

<style scoped>

@media only screen and (max-width: 450px) {
  .logo {
    display: none;
  }
}

@media only screen and (min-width: 650px) {
  /* For desktop: */
  .logo {
    display: inline-block;
  }
}

</style>
