<template>
  <div style="width: 100%;">
    <v-container v-if="hasCards"
      fluid grid-list-md row wrap>
      <EntityCard
        v-for="card in filteredCards"
        :key="card.id"
        :entityData="card"

        :onChipClick="(e) => cardChipClick(e,card.id, insertionMode)"
        :insertionMode="insertionMode"
      />
    </v-container>
    <div v-else>
      Add a title or description to a formula to create a card here.
    </div>
  </div>
</template>

<script>
import { mixin } from '@/store/mixin';
import EntityCard from './EntityCard';

export default {
  name: 'MyCards',
  mixins: [mixin],
  components: {
    EntityCard,
  },
  props: {
    filterString: {
      Type: String,
      default: '',
    },
    setFilterCount: {
      Type: Function,
      default: () => {},
    },
    insertionMode: {
      Type: Boolean,
      default: false,
    },
  },
  computed: {
    cards() {
      return this.myCards.map(this.getCard);
    },
    hasCards() {
      return this.filteredCards && this.filteredCards.length;
    },
    filteredCards() {
      const filtered = this.cards
        .filter(
          // Check string in title
          c => this.stringIn(this.filterString, c.title)
          // or string in formula latex
          || (c.str && this.stringIn(this.filterString, c.str))
          ,
        );
      if (this.setFilterCount) this.setFilterCount(filtered.length);
      return filtered;
    },
  },
  methods: {
    stringIn(a, b) {
      return b.toLowerCase()
        .indexOf(a.toLowerCase()) !== -1;
    },
  },
};
</script>

<style>

</style>
