<template>
  <div v-if="selectingOpArg"
    :style="{
      pointerEvents: 'none',
      width: '32px',
      height: '32px',
      border: '3px solid orange',
      borderRadius: '50%',
      transform: 'translateZ(0)',
      zIndex: '9999',
      position: 'absolute',
      left: `${pointerX-16}px`,
      top: `${pointerY-16}px`,
      display: 'block',
    }"
  >
    <!-- <pre style="margin: auto 35px;">{{opName}}</pre> -->
  </div>
</template>

<script>
import _ from 'lodash';
import { OpManager } from '../vst';
import { mixin } from '@/store/mixin';

export default {
  name: 'OperationSelectCursor',
  mixins: [mixin],
  data() {
    return {
      pointerX: 0,
      pointerY: 0,
      opName: '',
    };
  },
  mounted() {
    // Keep pointer location up to date
    document.addEventListener('pointermove',
      _.throttle((e) => {
        this.pointerX = e.clientX;
        this.pointerY = e.clientY;
      }, 20));

    // Keep operation name up to date
    OpManager.subscribe((op) => {
      if (op && op.name) {
        this.updateOpName(op.name);
      }
    });
  },
  methods: {
    updateOpName(name) {
      this.opName = name;
    },
  },

};
</script>

<style>

</style>
