<template>
  <div id="query-container">
    <div id="query-bar"
      droppable=true @drop="drop"
      @dragover='dragOver'
      @dragenter='e => e.preventDefault()'
    >
      <Chip v-for="chipId in searchBarChipsOrder"
        :id="chipId" :key="chipId"
        :onClick="() => selectChip(chipId)"
        />
      <span id="after-chips"></span>

      <v-expand-transition>
        <div v-show="showSearch" class="search-dropdown">
          <SuggestionBar :showing="showSearch"/>
        </div>
      </v-expand-transition>

      <ActiveChipControls />
      <DraftInput v-model="draftText"
        class="formula-input-area"
        style="height: 30px; margin: auto 10px;"
        dense
        outlined
        title="Enter Formula"
        placeholder="Enter keywords or LaTeX"
        type="text" size="16"
        :handleChipData="addChipToSearchBar"
        popperPlacement="bottom-start"
        />
    </div>
    <ClearButton
      :onclick="emptySearchBarChipsOrder"
      :visible="!!searchBarChipsOrder.length" />
    <v-btn small icon
      style="margin: auto 0;"
      id="show-search-btn"
      @click="toggleSearch"
    >
      <v-expand-transition>
        <v-icon color="#000"
          v-if="showSearch"
          style="transform: rotate(180deg)"
          >$vuetify.icons.menuDown</v-icon>
        <v-icon color="#000" v-else>$vuetify.icons.menuDown</v-icon>
      </v-expand-transition>
    </v-btn>
  </div>
</template>

<script>
import ActiveChipControls from './ActiveChipControls';
import Chip from './Chip';
import DraftInput from './DraftInput';
import ClearButton from './ClearButton';
import SuggestionBar from './SuggestionBar';
import { mixin } from '@/store/mixin';
// import Introduction from './Introduction';

const $ = require('jquery');

export default {
  name: 'QueryBar',
  mixins: [mixin],
  components: {
    ActiveChipControls,
    Chip,
    ClearButton,
    DraftInput,
    SuggestionBar,
  },
  data() {
    return {
      draftText: '',
    };
  },
  methods: {
    dragOver(ev) {
      // allow drop
      ev.preventDefault();
      this.doChipDragOver(
        ev,
        this.searchBarChipsOrder,
        $('#query-bar')[0],
      );
    },
    toggleSearch() {
      this.showSearch = !this.showSearch;
    },
    async drop(ev) {
      ev.preventDefault();
      const raw = ev.dataTransfer.getData('text');
      if (!raw) return;
      let data;
      try {
        data = JSON.parse(raw);
      } catch {
        return;
      }
      const { chipId, latex } = data;
      if (chipId) {
        const chipInSearchBar = this.searchBarChipsOrder.indexOf(chipId) !== -1;
        if (chipInSearchBar) {
          const newOrder = this.reorderChipInCollection(
            chipId,
            this.searchBarChipsOrder,
            $('#query-bar')[0],
          );
          if (newOrder) {
            this.searchBarChipsOrder = newOrder;
          }
        } else {
          // Chip not in search bar, check for duplicates
          this.showDuplicate(chipId, latex);

          if (this.isChipOnCanvas(chipId)) {
            this.copyChipToSearchBar(chipId)
              .then(this.scrollQueryBar);
            this.$store.dispatch('removeFromCanvasChipsOrder', [chipId]);
          } else {
            this.copyChipToSearchBar(chipId)
              .then(this.scrollQueryBar);
          }
        }
        return;
      }
      if (latex) {
        this.showDuplicate(null, latex);

        this.makeFormulaData(latex, true)
          .then(this.addChipToSearchBar);
      }
    },
  },
};
</script>

<style lang="less">

#query-container {
  width: stretch;
  min-width: 40px;
  display: inline-flex;
  box-shadow: 0 0 2px darkslategray;
  border-radius: 3px;
  position: relative;

  #query-bar {
    display: flex;
    overflow-x: scroll;
    margin-bottom: -15px;
    overflow-y: visible;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin: auto 0;
    min-height: 80px;
    min-width: 100px;
    width: stretch;


    .chip {
      // display: inline-block;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: content;
    }
  }

  .search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 11;
    background: rgba(240,240,240, 0.9);
    box-shadow: 0 2px 2px 0 #0A0A0ADA;
    border-radius: 0 0 3px 3px;
    transition-duration: 0.2s;
  }

}


</style>
