<template>
    <v-navigation-drawer
      v-show="recognitionSearchOpen"
      v-model="recognitionSearchOpen"
      absolute
      right
      hide-overlay
    >
    <v-card
      style="height: 100%">
      <v-card-title>Alternate Results
        <v-spacer></v-spacer>

      <v-btn icon @click="recognitionSearchOpen=false"><v-icon>$vuetify.icons.close</v-icon></v-btn>
      </v-card-title>
      <v-card-text class="body-2">
        Add/Remove Filters:
      </v-card-text>
      <div
        style="height: 60px;
              overflow-x: auto;
              overflow-y: hidden;
              white-space: nowrap;">
        <v-menu offset-y
          v-for="(symbol, i) in recognitionSearchFilters"
          :key="i">
          <template v-slot:activator="{ on, attrs }">
          <v-chip
            :outlined="!symbol.active
            || (symbol.active && activeFormula.str.indexOf(symbol.topSymbol) === -1)"
            @click="toggleFilter(i)"
            color="primary"
            class="ma-2"
          >
            {{symbol.replacement}}
            <v-icon right v-on="on" v-bind="attrs">
              $vuetify.icons.chevronDown
            </v-icon>
          </v-chip>
          </template>
          <v-list v-show="individualSymbolAlternatives[symbol.topSymbol]">
            <v-list-item
              v-for="(alternative, index) in
                getAlternateSymbolsList(individualSymbolAlternatives[symbol.topSymbol])
                .filter(alternative => alternative.alternative != symbol.replacement)"
              :key="index"
              @mouseenter="focusedAlternative = alternative.alternative"
              @mouseleave="focusedAlternative = ''"
              @click="changeFilter(i, alternative.alternative)"
            >
              <v-menu
              open-on-hover
              offset-y
            >
              <template v-slot:activator="{ on, attrs }">
                <v-list-item-content
                  v-bind="attrs"
                  v-on="on">
                  <v-list-item-title>
                    {{ alternative.alternative }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <div
                :style="{'display': focusedAlternative !== alternative.alternative
                ? 'none' : undefined,
                'background-color': 'white',
                'padding': '5px'}"
              >
              <span ref="draftPreviewContent">
                <MathSymbolDisplay
                  v-if="focusedAlternative === alternative.alternative && focusedAlternativeSymbols"
                  :h="100"
                  :w="200"
                  :preserveAspectRatio="true"
                  :fitInBounds="true"
                  :symbols="focusedAlternativeSymbols" />
                <template v-else>
                  {{ alternative.alternative }}
                </template>
              </span>
              </div>
            </v-menu>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <v-list
        v-if="filteredReplacementOptions.length <= 30">
          <v-list-item
            v-for="(item, index) in alternateResultsSet"
            v-bind:key="index"
            @click="selectAlternativeFormula(item)"
            @mouseenter="focusedResult = item"
            @mouseleave="focusedResult = ''"
          >

            <v-menu
              open-on-hover
              left
              offset-x
            >
              <template v-slot:activator="{ on, attrs }">
                <v-list-item-content
                  v-bind="attrs"
                  v-on="on">
                  <v-list-item-title>
                    {{ item }}
                  </v-list-item-title>
                </v-list-item-content>
              </template>

              <div
                :style="{'display': focusedResult !== item ? 'none' : undefined,
                'background-color': 'white',
                'padding': '5px'}"
              >
              <span ref="draftPreviewContent">
                <MathSymbolDisplay
                  v-if="focusedResult === item && focusedResultSymbols"
                  :h="100"
                  :w="200"
                  :preserveAspectRatio="true"
                  :fitInBounds="true"
                  :symbols="focusedResultSymbols" />
                <template v-else>
                  {{focusedResult}}
                </template>
              </span>
              </div>
            </v-menu>
          </v-list-item>
      </v-list>
      <v-card-text v-else class="body-2">
        There are too many alternatives. Filter the results by applying some filters
      </v-card-text>
    </v-card>
    </v-navigation-drawer>
</template>

<script>
import _ from 'lodash';
import { mixin } from '@/store/mixin';
import MathSymbolDisplay from './MathSymbol/Display';
import UnicodeLatexMap from '@/unicode-to-latex-map';

export default {
  name: 'RecognitionSearch',
  mixins: [mixin],
  components: {
    MathSymbolDisplay,
  },
  data() {
    return {
      focusedAlternative: '',
      focusedAlternativeSymbols: [],
      focusedResult: '',
      focusedResultSymbols: [],
      popperInstances: [],
      symbols: [],
    };
  },
  computed: {
    filteredReplacementOptions() {
      return this.replacementOptions.filter(
        (replacementOption) => {
          for (let i = 0; i < this.recognitionSearchFilters.length; i += 1) {
            const symbolFilter = this.recognitionSearchFilters[i];
            if (replacementOption.toReplace === symbolFilter.topSymbol
            && replacementOption.replacement !== symbolFilter.replacement
            && symbolFilter.active) {
              let foundGoodDuplicate = false;
              for (let j = 0; j < this.recognitionSearchFilters.length; j += 1) {
                const otherFilter = this.recognitionSearchFilters[j];
                if (i !== j && symbolFilter.replacement === otherFilter.replacement
                  && !otherFilter.active) {
                  foundGoodDuplicate = true;
                }
              }
              return foundGoodDuplicate;
            }
          }
          return true;
        },
      );
      // return this.replacementOptions;
    },
    filteredRecognitionSearchFilters() {
      const result = [];
      for (let i = 0; i < this.recognitionSearchFilters.length; i += 1) {
        const filter = this.recognitionSearchFilters[i];
        let duplicate = false;
        for (let j = i; j < this.recognitionSearchFilters.length; j += 1) {
          const otherFilter = this.recognitionSearchFilters[j];
          if (filter !== otherFilter && otherFilter.topSymbol === filter.topSymbol) {
            duplicate = true;
          }
        }
        if (!duplicate) {
          result.push(filter);
        }
      }
      return result;

      // console.log(this.recognitionSearchFilters.filter(
      //   (filter) => {
      //     for (let i = 0; i < this.recognitionSearchFilters.length; i += 1) {
      //       const otherFilter = this.recognitionSearchFilters[i];
      //       if (filter !== otherFilter && otherFilter.topSymbol === filter.topSymbol) {
      //         return false;
      //       }
      //     }
      //     return true;
      //   },
      // ));
      // return this.recognitionSearchFilters.filter(
      //   (filter) => {
      //     for (let i = 0; i < this.recognitionSearchFilters.length; i += 1) {
      //       const otherFilter = this.recognitionSearchFilters[i];
      //       if (otherFilter.toSymbol === filter.topSymbol) {
      //         return false;
      //       }
      //     }
      //     return true;
      //   },
      // );
    },
    alternativesListLength() {
      return this.alternateResults.length;
    },
  },
  watch: {
    individualSymbolAlternatives: {
      handler: function handle() {
        // const $this = this;
        this.symbols = Object.keys(this.individualSymbolAlternatives)
          .filter(alternative => alternative !== 'undefined')
          .map(alternative => ({
            location: this.recognizedFormula.indexOf(
              this.individualSymbolAlternatives[alternative].topSymbol,
            ),
            alternative,
          }))
          .sort((a, b) => a.location - b.location);
      },
      deep: true,
    },
    focusedResult: {
      handler: _.debounce(async function handle(value) {
        const chipData = await this.makeFormulaData(value);
        this.focusedResultSymbols = chipData?.symbols;
      }, 100),
      deep: true,
    },
    focusedAlternative: {
      handler: _.debounce(async function handle(value) {
        const chipData = await this.makeFormulaData(value);
        this.focusedAlternativeSymbols = chipData?.symbols;
      }, 100),
      deep: true,
    },
    filteredReplacementOptions: {
      handler: _.debounce(function handle() {
        if (this.filteredReplacementOptions.length <= 30) {
          this.generateAlternatives();
        }
      }, 100),
      deep: true,
    },
    activeFormula: {
      handler: _.debounce(function handle() {
        this.alternateResults = [];
        if (this.filteredReplacementOptions.length <= 30) {
          this.generateAlternatives();
        }
      }, 100),
      deep: true,
    },
    activeFormulaText() {
      let newTex = this.activeFormulaText;
      if (newTex) {
        Object.keys(UnicodeLatexMap.unicodeToLatexMap).forEach((unicode) => {
          const index = newTex.indexOf(unicode);
          if (index !== -1) {
            newTex = newTex.replaceAll(unicode, UnicodeLatexMap.unicodeToLatexMap[unicode]);
          }
        });
        this.updateEditorState('text', newTex.replaceAll('\\varphi', '\\phi'));
      }
      // const latexString = UnicodeLatexMap.unicodeToLatexMap[this.activeFormulaText];
      // if (latexString != null) {
      //   this.activeFormula.str = UnicodeLatexMap.unicodeToLatexMap[latexString];
      // }
    },
  },
  methods: {
    selectAlternativeFormula(alternative) {
      this.updateEditorState('text', alternative);
      this.recognitionSearchOpen = false;
    },
    generateAlternatives() {
      const latex = this.activeFormula.str;
      if (!latex) { return; }

      const cartesianLists = {};
      this.filteredReplacementOptions.forEach((replacementOption) => {
        if (replacementOption.toReplace !== replacementOption.replacement) {
          if (cartesianLists[replacementOption.toReplace]) {
            cartesianLists[replacementOption.toReplace].push(replacementOption);
          } else {
            cartesianLists[replacementOption.toReplace] = [replacementOption];
          }
        }
      });

      const combinations = this.cartesianProduct(...Object.values(cartesianLists));

      this.alternateResults = (combinations.map((replacementOption) => {
        let alternateResult = latex.slice();
        replacementOption.forEach((replacement) => {
          alternateResult = alternateResult.replaceAll(replacement.toReplace,
            replacement.replacement);
        });
        return alternateResult;
      }));

      // this.$worker.run(
      //   arrays => [...arrays].reduce((a, b) => a.map(x => b.map(y => x.concat(y)))
      //     .reduce((c, d) => c.concat(d), []), [[]]), Object.values(cartesianLists),
      // )
      //   .then((combinations) => {
      //     this.alternateResults = combinations.map((replacementOption) => {
      //       let alternateResult = latex.slice();
      //       replacementOption.forEach((replacement) => {
      //         alternateResult = alternateResult.replaceAll(replacement.toReplace,
      //           replacement.replacement);
      //       });
      //       return alternateResult;
      //     });
      //   });
    },
    toggleFilter(filterIndex) {
      const oldFilter = this.recognitionSearchFilters[filterIndex];
      const newFilter = { ...oldFilter, active: !oldFilter.active };
      const copy = [...this.recognitionSearchFilters];
      copy.splice(filterIndex, 1, newFilter);
      this.recognitionSearchFilters = copy;

      // if (this.recognitionSearchFilters.includes(filter)) {
      //   EventLogger.logEvent('Remove alternate symbol filter', { filter });
      //   this.recognitionSearchFilters = this.recognitionSearchFilters
      //     .filter(item => item !== filter);
      // } else {
      //   EventLogger.logEvent('Add alternate symbol filter', { filter });
      //   this.recognitionSearchFilters = this.recognitionSearchFilters
      //     .concat([filter]);
      // }
    },
    changeFilter(filterIndex, newSymbol) {
      const oldFilter = this.recognitionSearchFilters[filterIndex];
      const newFilter = { ...oldFilter, active: true, replacement: newSymbol };
      const copy = [...this.recognitionSearchFilters];
      copy.splice(filterIndex, 1, newFilter);
      this.recognitionSearchFilters = copy;

      // const copyAlternates = JSON.parse(
      //   JSON.stringify(this.individualSymbolAlternatives[oldFilter]),
      // );

      // let index = -1;
      // for (let i = 0; i < copyAlternates.alternateSymbolsList.length; i += 1) {
      //   if (copyAlternates.alternateSymbolsList[i].alternative === newFilter) {
      //     index = i;
      //     break;
      //   }
      // }
      // if (index !== -1) {
      //   copyAlternates.alternateSymbolsList.splice(index, 1);
      // }
      // copyAlternates.alternateSymbolsList.unshift({ alternative: oldFilter, confidence: 100 });

      // this.addSymbolAlternatives(newFilter, copyAlternates);
      // this.deleteSymbolAlternatives(oldFilter);

      // let copyRecognitionSearchFilters = [...this.recognitionSearchFilters];
      // copyRecognitionSearchFilters = copyRecognitionSearchFilters
      //   .filter(item => item !== oldFilter);
      // copyRecognitionSearchFilters = copyRecognitionSearchFilters
      //   .concat([newFilter]);
      // this.recognitionSearchFilters = copyRecognitionSearchFilters;
    },
    cartesianProduct(...arrays) {
      return [...arrays].reduce((a, b) => a.map(x => b.map(y => x.concat(y)))
        .reduce((c, d) => c.concat(d), []), [[]]);
    },
    getAlternateSymbolsList(symbolAlternatives) {
      return symbolAlternatives ? symbolAlternatives.alternateSymbolsList : [];
    },
  },
};
</script>

<style lang="less">

</style>
