<template>
  <v-container id="handwriting-editor-container">
    <div
      id="handwriting-editor"
      ref="handwritingEditor"
      draggable="false"
      droppable="true"
      class="handwriting-editor"
      :color="canvasColor"
      @drop='drop'
      @dragenter.prevent
      @dragover.prevent
      @pointerdown='onPointerDown'
      :style="{
          background: paperColor,
          cursor: cursorStr,
          }"
    >
      <svg id="handwriting-svg-container" ref="handwritingSvgContainer" x="0px" y="0px">
        <g id="handwriting-strokes">
            <path v-for="id in strokeOrder"
              :id="id" :key="id" :d="getStroke(id).d"
              :stroke-width="getStroke(id).width" stroke="black"
              stroke-linejoin="round" stroke-linecap="round"
              fill="transparent">
            </path>
          </g>
      </svg>

      <div id="handwritting-window-symbols">
        <div :style="{
          position: 'absolute',
          display: 'none',
          left: `${canvasChipSymbolsBBox.x}px`,
          top: `${canvasChipSymbolsBBox.y}px`,
          width: `${canvasChipSymbolsBBox.width}px`,
          height: `${canvasChipSymbolsBBox.height}px`,
          }"
          >
          <!-- <MathSymbolCollection
            :dragResize="false"
            :canDrag="true"
            :bbox="canvasChipSymbolsBBox"
            :symbolIds="canvasChipSymbols" /> -->
          <MathSymbolDisplay
            :symbols="canvasChipSymbols" />
        </div>
        <MathSymbolSelection />
      </div>

      <StructureEditor v-show="(recognizedFormula && !this.showContext)"/>
      <div v-if="selectionBox && !this.showContext"
          :style="{
            position: 'absolute',
            left: selectionBox.loc.x + 'px',
            top: selectionBox.loc.y + 'px',
            width: selectionBox.size.width + 'px',
            height: selectionBox.size.height + 'px',
            border: '3px solid darkorange',
            background: 'rgba(247,105,2,0.3)',
          }"
        />

      <div id="handwriting-canvas-container"
        ref="handwritingCanvasContainer"
        class="handwriting-editor"
          touch-action="none"
          :style="{'pointer-events': drawMode ? 'auto' : 'none'}">
      </div>

      <Chip v-for="chipId in canvasChipsOrder"
          :id="chipId" :key="chipId" />

      <!-- <div id="canvas-text-input"
        :style="{
          visibility: (textMode && canvasTextInput.show) ? 'visible' : 'hidden',
          left: canvasTextInput.x + 'px',
          top: canvasTextInput.y + 'px',
        }"
      >
        <DraftInput
          v-model="draftText"
          outlined
          dense
          :handleChipData="addTextChip"/>
      </div> -->

      <div v-show="recognized" id="context-checkbox">
        <v-checkbox
          v-model="showContext"
          :label="`View in context`"
        ></v-checkbox>
      </div>

      <v-btn
        v-show="recognizedFormula
        && editingMode !== 'Visual'
        && Object.keys(individualSymbolAlternatives).length > 0"
        @click="openRecognitionSearch()"
        id="alternate-results-button"
        color="orange"
        dark
        text
        >
        <u>Alternate Results</u>
      </v-btn>

      <!-- <v-menu offset-y >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-show="recognized"
            id="alternate-results-button"
            color="orange"
            dark
            text
            v-bind="attrs"
            v-on="on"
            >
            <u>Alternate Results</u>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(alternateResult, index) in alternateResults"
            :key="index"
            @mouseenter="recognizedFormula = alternateResult"
            @mouseleave="recognizedFormula = recognitionResult"
            @click="recognitionResult = alternateResult"
          >
            <v-list-item-title>
              {{ alternateResult }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu> -->

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-show="recognized && !showContext"
            class="handwriting-bottom-right-btn"
            color="orange"
            dark
            @click="insertInContext"
          >
            Insert
            <v-icon right v-on="on" v-bind="attrs">
              $vuetify.icons.chevronDown
            </v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(insertOption, index) in insertOptions"
            :key="index"
            @click="insertOption.onclick"
          >
            <v-list-item-title>
              {{ insertOption.title }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <v-btn
        v-show="!recognized"
        class="handwriting-bottom-right-btn"
        color="orange"
        :dark="this.strokeOrder.length !== 0"
        :disabled="this.strokeOrder.length === 0"
        @click="recognize()"
      >
        Recognize
      </v-btn>

      <v-card-actions id="recognizer-window-actions">
        <v-btn
        color="red"
        dark
        @click="cancelOperation()"
        >
        Cancel
        </v-btn>

        <v-btn
        color="orange"
        dark
        @click="recognized ? retryDrawing() : clearCanvas()"
        >
        {{this.recognized ? "Retry Drawing" : "Clear Canvas"}}
        </v-btn>
      </v-card-actions>
      <div v-show="recognizing" id="recognizer-loader-container">
        <v-progress-circular id="recognizer-loader" indeterminate :color="style.lightRit">
          {{recognizingCounter > 1 ? recognizingCounter: ''}}
        </v-progress-circular>
      </div>
    </div>
    <RecognitionSearch/>
  </v-container>
</template>
<script>
import _ from 'lodash';
import Chip from './Chip';
import MathSymbolDisplay from './MathSymbol/Display';
import MathSymbolSelection from './MathSymbol/Selection';
import StructureEditor from './StructureEditor';
import RecognitionSearch from './RecognitionSearch';
import { uploadImageFile } from '@/image-uploader';
import { RecognizerEditor as RW } from '@/recognizer-editor';
import { Editor } from '@/canvas/ms/Editor';
import { SvgOps } from '@/svg-operations';
import { mixin } from '@/store/mixin';
import { debounceTime } from '@/recognition';
import recognition from '@/new-recognition';
import strokeToPathD from '@/stroke-to-path';
import {
  Selection,
  Bbox,
} from '../vst';
import {
  EDIT_CHIP,
  COPY_CHIP_TO_CANVAS,
} from '@/store/action_types';

const $ = require('jquery');
const colors = require('vuetify/es5/util/colors');

export default {
  name: 'RecognizerWindow',
  mixins: [mixin],
  components: {
    Chip,
    // DraftInput,
    // MathSymbolCollection,
    RecognitionSearch,
    MathSymbolDisplay,
    MathSymbolSelection,
    StructureEditor,
  },
  data() {
    return {
      drawing: false,
      dragging: false,
      draggingSymbolId: null,
      dragOffset: { x: 0, y: 0 },
      didDrag: false,
      canvasColor: colors.default.grey.lighten3,
      editor: null,
      recognized: false,
      recognizing: false,
      savedFormula: '',
      selectionBox: null,
      canvasTextInput: { show: false, x: 0, y: 0 },
      pointerDownLoc: null,
      paperColor: colors.default.grey.lighten3,
      insertOptions: [
        {
          title: 'In context',
          onclick: this.insertInContext,
        },
        {
          title: 'In new chip',
          onclick: this.insertInNewChip,
        },
        {
          title: 'In new tab',
          onclick: this.insertInNewTab,
        },
      ],
    };
  },
  computed: {
    cursorStr() {
      if (this.drawMode) {
        return 'crosshair';
      }
      return 'default';
    },
    displayedFormula() {
      if (this.showContext) {
        if (this.texCursorStart === -1 && this.texCursorEnd === 0) {
          return `\\color{gray}{${this.insertionContext.substring(0, this.insertionContext.length)}}${this.activeFormula.str}`;
        }
        return `\\color{gray}{${this.insertionContext.substring(0, this.texCursorStart)}}${this.activeFormula.str}\\color{gray}{${this.insertionContext.substring(this.texCursorEnd, this.insertionContext.length)}}`;
      }

      return this.savedFormula ? this.savedFormula : this.activeFormula.str;
    },
    resultFormula() {
      if (this.texCursorStart === -1 && this.texCursorEnd === 0) {
        return `${this.insertionContext.substring(0, this.insertionContext.length)}${this.activeFormula.str}`;
      }
      return `${this.insertionContext.substring(0, this.texCursorStart)}${this.activeFormula.str}${this.insertionContext.substring(this.texCursorEnd, this.insertionContext.length)}`;
    },
    canvasChipSymbols() {
      return this.canvasChipData?.symbols || [];
    },
    canvasChipSymbolsBBox() {
      return SvgOps.getBBox(
        ...this.canvasChipSymbols,
      );
    },
  },
  watch: {
    showContext: {
      immeditate: true,
      handler(show) {
        if (this.recognizerWindowOpen) {
          if (show) {
            this.savedFormula = this.activeFormula.str;
          }
        }
      },
    },
    recognizedFormula(value) {
      if (value) {
        this.recognized = true;
        this.toSelectMode();
        $('#handwritting-window-symbols>div').fadeIn('slow', () => {});
      } else {
        this.toDrawMode();
      }
    },
    displayedFormula: {
      immediate: true,
      handler(value) {
        if (this.recognizerWindowOpen) {
          this.updateEditorState('text', value);
        }
      },
    },
    activeFormulaId: {
      immeditate: true,
      handler(val, last) {
        if (val !== last) {
          this.updateEditorState('formula', this.activeFormula);
        }
      },
    },
  },
  methods: {
    openRecognitionSearch() {
      this.recognitionSearchOpen = true;
    },
    cancelOperation() {
      this.clearCanvas();
      this.recognizerWindowOpen = false;
      this.recognized = false;
      this.toSelectMode();
    },
    retryDrawing() {
      this.clearCanvas();
      this.recognized = false;
      this.updateEditorState('text', '');
      this.toDrawMode();
    },
    clearCanvas() {
      this.recognitionSearchFilters = [];
      this.replacementOptions = [];
      this.clearSymbolAlternatives();
      this.recognitionSearchOpen = false;
      this.showContext = false;
      this.recognizedFormula = '';
      if (this.strokeOrder.length === 0) return;
      const strokeIds = [...this.strokeOrder];
      this.clearStrokes(strokeIds);
    },
    insertInContext() {
      this.showContext = false;
      this.clearSymbolAlternatives();
      this.insertionContext = this.resultFormula;
      this.recognized = false;
      this.toSelectMode();
      this.recognizerWindowOpen = false;
      this.clearCanvas();
    },
    async insertInNewChip() {
      this.texCursorStart = 0;
      this.texCursorEnd = this.insertionContext.length;
      this.showContext = false;
      const tex = this.resultFormula;
      const chipId = await this.newChip(false);
      const chipData = this.getChip(chipId);
      const formulaData = await this.renderForCanvas(tex);
      this.recognizerWindowOpen = false;
      this.clearCanvas();
      this.clearSymbolAlternatives();
      this.recognized = false;
      this.toSelectMode();
      if (formulaData) {
        await this.editChip({
          ...chipData,
          ...formulaData,
          str: tex,
        });
      }

      this.addChipToCanvas({
        ...this.getChip(chipId),
        x: 30,
        y: 30,
      });
    },
    async insertInNewTab() {
      this.texCursorStart = 0;
      this.texCursorEnd = this.insertionContext.length;
      this.showContext = false;
      const temp = this.displayedFormula;
      this.clearSymbolAlternatives();
      this.recognized = false;
      this.toSelectMode();
      await this.updateEditorState('text', this.insertionContext);

      setTimeout(async () => {
        this.recognizerWindowOpen = false;
        this.clearCanvas();
        await this.newChip();
        setTimeout(async () => {
          console.log(temp);
          await this.updateEditorState('text', temp);
        }, 500);
      }, 500);
    },
    updateAutoRec() {
      const refresh = 150;
      if (this.autoRecInt) { clearInterval(this.autoRecInt); }
      let counter = 3;
      this.autoRecInt = setInterval(() => {
        const progress = counter * refresh / debounceTime;
        if (progress > 1) clearInterval(this.autoRecInt);
        this.autoRecPercent = (100 * counter * refresh / debounceTime);
        counter += 1;
      }, refresh);
    },
    async recognize() {
      if (this.strokeOrder.length === 0 || this.readonly) return;
      const strokeIds = [...this.strokeOrder];
      const strokes = this.getStrokes();
      // const strokesJSON = strokes.map(s => s.stroke);
      // $('#handwriting-strokes>path').attr('stroke', 'gray');
      try {
        this.recognizing = true;
        const data = await recognition.recognize(strokes);
        this.recognizing = false;
        await this.updateEditorState('text', data.latex);
        $('#handwriting-strokes>path').fadeOut('slow', () => {
          this.clearStrokes(strokeIds);
          $('#handwritting-window-symbols>div').fadeIn('slow', () => {});
        });
        this.recognizedFormula = data.latex;
        this.recognizedFormula = this.recognizedFormula.replaceAll('\\varphi', '\\phi');
        this.makeAlternateResults(data);
      } catch (e) {
        console.error(e);
      }
    },
    async setUpImageHandler() {
      const imageInput = document.getElementById('new-image-input');
      if (!imageInput) return;
      imageInput.onchange = (event) => {
        const { files } = event.target;
        this.menuIsOpen = false;
        this.recognitionRequest(uploadImageFile(files[0])
          .then(async (result) => {
            // Set value to null so the onchange is triggered even if the same image is uploaded
            document.getElementById('new-image-input').value = null;
            $('#handwritting-window-symbols>div').fadeIn('slow', () => {});
            await this.updateEditorState('text', result.latex);
            this.recognizedFormula = result.latex;
            this.recognized = true;
            this.toSelectMode();
            this.makeAlternateResults(result);
          }))
          .catch(console.error);
      };
    },
    makeAlternateResults(data) {
      const topKSymbols = data.topk_symbols;
      const replacementOptions = [];
      this.clearSymbolAlternatives();
      this.recognitionSearchFilters = [];
      for (let i = 0; i < topKSymbols.length; i += 1) {
        const topK = topKSymbols[i][1];
        const topSymbol = topK[0][0];
        this.recognitionSearchFilters = this.recognitionSearchFilters.concat(
          [{ topSymbol, replacement: topSymbol, active: true }],
        );
        const alternateSymbols = [...topK];

        alternateSymbols.forEach((alternateSymbol) => {
          replacementOptions.push({
            toReplace: topSymbol,
            replacement: alternateSymbol[0],
            confidence: alternateSymbol[1],
          });
        });
        const alternateSymbolsList = alternateSymbols
          .map(alternateSymbol => ({
            alternative: alternateSymbol[0],
            confidence: alternateSymbol[1],
          }));
          // .filter(alternative => alternative.alternative !== topSymbol);
        this.individualSymbolAlternatives[topSymbol] = {
          topSymbol,
          alternateSymbolsList,
        };
      }
      replacementOptions.sort((a, b) => b.confidence - a.confidence);
      this.replacementOptions = replacementOptions;
    },
    getLastStroke() {
      const { length } = this.editor.model.rawStrokes;
      if (length > 0) {
        const lastStroke = this.editor.model.rawStrokes[length - 1];
        // Clear old model strokes
        this.editor.model.rawStrokes.splice(0);
        this.editor.model.strokeGroups.splice(0);
        return lastStroke;
      }
      return null;
    },
    async pointerUpHandler() {
      this.drawing = false;
      if (this.drawMode) {
        const stroke = this.getLastStroke();
        if (stroke) {
          const strokePathD = strokeToPathD(stroke);
          await this.addStroke({ width: stroke.width, d: strokePathD, stroke });
        }
      }
    },
    updateSVGSize() {
      if (!this.$refs.handwritingSvgContainer || !this.$refs.handwritingCanvasContainer) return;
      this.editor.resize();
      const cc = this.$refs.handwritingCanvasContainer.getElementsByClassName('ms-rendering-canvas')[0];
      this.$refs.handwritingSvgContainer.setAttribute('width', `${cc.clientWidth}px`);
      this.$refs.handwritingSvgContainer.setAttribute('height', `${cc.clientHeight}px`);
      this.$refs.handwritingSvgContainer.setAttribute('viewBox', `0 0 ${cc.clientWidth} ${cc.clientHeight}`);
    },
    getEditorCoord(e) {
      const seRect = RW.getRect();
      return { x: e.clientX - seRect.x, y: e.clientY - seRect.y };
    },
    onPointerDown(e) {
      if (this.selectMode && this.structureOpsEnabled) {
        const loc = this.getEditorCoord(e);
        this.pointerDownLoc = loc;
      }
    },
    onPointerMove: _.throttle(function onMove(e) {
      const loc = this.getEditorCoord(e);
      this.handleMove(loc.x, loc.y);
    }, 10),
    handleMove(x, y) {
      const start = this.pointerDownLoc;
      if (start) {
        this.selectionBox = Selection.getRect(
          start,
          Bbox.makeCoord(x, y),
        );
      }
    },
    onPointerUp(e) {
      if (this.pointerDownLoc && this.structureOpsEnabled) {
        const loc = this.getEditorCoord(e);

        this.handleSelection(this.pointerDownLoc, loc);

        this.pointerDownLoc = null;
        this.selectionBox = null;
      }

      // Make sure that the selection popper
      // shows up when the mouse is released
      this.drawing = false;
      this.didDrag = false;
      this.dragging = false;
      this.draggingSymbolId = null;
      this.selectionActive = true;

      if (!e.target.closest('#handwriting-editor')) {
        // Hide canvas text input when clicking out of script editor
        this.canvasTextInput.show = false;
      }
    },
    handleChipDrop(chipId, relX, relY) {
      const chip = this.getChip(chipId);
      const { isTemplate } = chip;
      const x = relX + (isTemplate
        ? RW.templateChipPadding.left
        : RW.chipPadding.left);
      const y = relY + (isTemplate
        ? RW.templateChipPadding.top
        : RW.chipPadding.top);

      const action = this.isChipOnCanvas(chipId) ? EDIT_CHIP : COPY_CHIP_TO_CANVAS;
      this.resetDuplicateObserver();
      return this.$store.dispatch(action, {
        ...(action === EDIT_CHIP ? chip : {}),
        id: chipId,
        x,
        y,
      });
    },
    async drop(ev) {
      ev.preventDefault();
      const raw = ev.dataTransfer.getData('text');

      if (!raw) return null;
      try {
        const {
          chipId, chipSelector, offsetX, offsetY, latex,
        } = JSON.parse(raw);
        // console.log(`Dropped chip id: ${chipId}, at (${ev.clientX}, ${ev.clientY})`);
        // console.log(`DROP:${latex}`);

        // Compute the location to place the chip svg
        const { rect } = RW;
        let x = ev.clientX - rect.left - (offsetX || 0);
        let y = ev.clientY - rect.top - (offsetY || 0);

        if (chipSelector) {
          const chipEl = $(chipSelector)[0];
          const cRect = chipEl
            ? chipEl.getBoundingClientRect()
            : { x: 0, y: 0 };
          const pRect = chipEl
            ? chipEl.parentNode.getBoundingClientRect()
            : { x: 0, y: 0 };
          x += (pRect.x - cRect.x);
          y += (pRect.y - cRect.y);
        }

        if (chipId) {
          return this.handleChipDrop(chipId, x, y);
        }
        if (latex) {
          return this.makeFormulaData(latex, true).then(
            formulaData => this.addChipToCanvas({
              ...formulaData,
              isCopy: true,
              x,
              y,
            }),
          );
        }
      } catch {
        console.log('Non-formula chip was dropped');
      }
      return null;
    },
  },
  mounted() {
    this.editor = new Editor(this.$refs.handwritingCanvasContainer);
    this.updateSVGSize();
    window.addEventListener('resize', this.updateSVGSize);
    this.toDrawMode();
    this.$refs.handwritingCanvasContainer.addEventListener('pointerdown',
      () => { this.drawing = true; });
    this.$refs.handwritingCanvasContainer.addEventListener('mouseleave',
      () => { this.drawing = false; });
    this.$refs.handwritingCanvasContainer.addEventListener('pointerup',
      this.pointerUpHandler);

    $(this.$refs.handwritingEditor)
      .on('pointerdown',
        '#structure-editor-container',
        this.onPointerDown)
      .on('touchmove', _.throttle((e) => {
        const x = e.changedTouches[0].clientX;
        const y = e.changedTouches[0].clientY;
        this.handleMove(x, y);
      }, 10), { passive: true })
      .on('pointermove', this.onPointerMove);


    document.addEventListener('pointerup', this.onPointerUp);
    document.addEventListener('touchend', this.onPointerUp);

    // const isCtrl = e => e.ctrlKey || e.metaKey;
    // const isShift = e => e.shiftKey;
    // const isZ = e => e.code === 'KeyZ';
    // const isY = e => e.code === 'KeyY';
    // const isCtrlZ = e => isCtrl(e) && isZ(e);
    // const isCtrlShiftZ = e => isCtrlZ(e) && isShift(e);
    // const isCtrlY = e => isCtrl(e) && isY(e);

    // document.addEventListener('keyup', (event) => {
    //   if (isCtrlShiftZ(event) || isCtrlY(event)) {
    //     this.redo();
    //   } else if (isCtrlZ(event)) {
    //     this.undo();
    //   }
    // });

    document.getElementById('handwriting-editor-container')
      .addEventListener('drop', this.imageDrop, false);

    this.setUpImageHandler();
  },
};
</script>
<style lang="less">

  #handwriting-editor {
    padding: 0;
    outline: none;
  }

  #handwriting-editor-container {
    height: 50%;
  }

  .handwriting-editor {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;

    #handwriting-canvas-container > canvas {
      display: block;
    }

    #handwriting-svg-container {
      position: absolute;
      left: 0;
      top: 0;
    }

    .ms-editor > canvas, .ms-editor > svg  {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .handwriting-bottom-right-btn {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
  }

  #recognizer-window-actions {
    position: absolute;
    bottom: 5px;
    left: 0;
  }

  #alternate-results-button {
    position: absolute;
    top: 20px;
    right: 8px;
  }

  #context-checkbox {
    position: absolute;
    top: 0;
    left: 10px;
  }

  #recognizer-loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }

  #recognizer-loader {
    margin: auto;
  }
</style>
