<template>
  <v-container id="editor-container" fluid fill-height>
    <v-layout justify-center align-start fill-height>
      <div id="script-editor" class="editor"
        ref="editor"
        tabindex="0"
        draggable="false"
        droppable=true
        @drop='drop'
        @dragenter.prevent
        @dragover.prevent
        @pointerdown='onPointerDown'
        @pointerup='addTextHandler'
        :style="{
          width: editingPanelExpanded ? 'calc(100% - 350px)' : 'calc(100% - 30px)',
          background: paper_color,
          opacity: !structureOpsEnabled ? '0.38' : '1',
          cursor: cursorStr,
          }">

        <!-- <svg id="svg-container" ref="svgContainer" x="0px" y="0px">
          <g id="svg-strokes">
            <path v-for="id in strokeOrder"
              :id="id" :key="id" :d="getStroke(id).d"
              :stroke-width="getStroke(id).width" stroke="black"
              stroke-linejoin="round" stroke-linecap="round"
              fill="transparent">
            </path>
          </g>
        </svg> -->

        <div id="canvas-symbols">
          <div :style="{
            position: 'absolute',
            left: `${canvasChipSymbolsBBox.x}px`,
            top: `${canvasChipSymbolsBBox.y}px`,
            width: `${canvasChipSymbolsBBox.width}px`,
            height: `${canvasChipSymbolsBBox.height}px`,
            }"
            >
            <!-- <MathSymbolCollection
              :dragResize="false"
              :canDrag="true"
              :bbox="canvasChipSymbolsBBox"
              :symbolIds="canvasChipSymbols" /> -->
            <MathSymbolDisplay
              :symbols="canvasChipSymbols" />

          </div>

          <MathSymbolSelection />
        </div>

        <StructureEditor />
        <div v-if="liveSelectionBox"
          :style="{
            position: 'absolute',
            left: liveSelectionBox.loc.x + 'px',
            top: liveSelectionBox.loc.y + 'px',
            width: liveSelectionBox.size.width + 'px',
            height: liveSelectionBox.size.height + 'px',
            border: '3px solid darkorange',
            background: 'rgba(247,105,2,0.3)',
          }"
        />

        <div id="canvas-container" ref="canvasContainer" class="editor"
          touch-action="none"
          :style="{'pointer-events': drawMode && this.recognizerWindowOpen ? 'auto' : 'none'}">
        </div>

        <Chip v-for="chipId in canvasChipsOrder"
          :id="chipId" :key="chipId" />
          <!-- :onClick="() => selectChip(chipId)" /> -->

        <div id="canvas-text-input"
          :style="{
            visibility: (textMode && canvasTextInput.show) ? 'visible' : 'hidden',
            left: canvasTextInput.x + 'px',
            top: canvasTextInput.y + 'px',
          }"
        >
          <DraftInput
            v-model="draftText"
            outlined
            dense
            :handleChipData="addTextChip"/>
        </div>
      </div>
    </v-layout>
  </v-container>
</template>

<script>
import _ from 'lodash';
import Chip from './Chip';
import strokeToPathD from '@/stroke-to-path';
import DraftInput from './DraftInput';
import { Editor } from '@/canvas/ms/Editor';
import { mixin } from '@/store/mixin';
import {
  EDIT_CHIP,
  COPY_CHIP_TO_CANVAS,
} from '@/store/action_types';
import {
// renderSymbolsOnStrokes,
// getStrokesBBox,
// getSVGBoundingClientRect,
} from '@/tex-render';
import { ScriptEditor as SE } from '@/editor';
import recognition, { debounceTime } from '@/recognition';
// import { preventDefaults } from '@/image-uploader';
// import MathSymbolCollection from './MathSymbol/Collection';
import MathSymbolDisplay from './MathSymbol/Display';
import MathSymbolSelection from './MathSymbol/Selection';
import StructureEditor from './StructureEditor';
import { SvgOps } from '@/svg-operations';
import {
  Selection,
  Bbox,
} from '../vst';

const $ = require('jquery');
const colors = require('vuetify/es5/util/colors');

export default {
  name: 'ScriptEditor',
  mixins: [mixin],
  components: {
    Chip,
    DraftInput,
    // MathSymbolCollection,
    MathSymbolDisplay,
    MathSymbolSelection,
    // SelectionChip,
    StructureEditor,
  },
  data() {
    return {
      drawing: false,
      dragging: false,
      draggingSymbolId: null,
      dragOffset: { x: 0, y: 0 },
      didDrag: false,
      autoRecInt: null,
      // selectionController: null,
      paper_color: colors.default.grey.lighten3,
      canvasTextInput: { show: false, x: 0, y: 0 },
      pointerDownLoc: null,
      liveSelectionBox: null,
      draftText: '',
      editorWidth: 0,
    };
  },
  computed: {
    sSVG() {
      return this.selectionSVG || {};
    },
    cursorStr() {
      if (!this.structureOpsEnabled) {
        return 'not-allowed';
      }
      if (this.drawMode && this.recognizerWindowOpen) {
        return 'crosshair';
      }
      return 'default';
    },
    borderTopColor() {
      if (this.drawMode && this.recognizerWindowOpen) {
        return '#1976d2';
      }
      if (this.textMode) {
        return '#424242';
      }
      return this.style.lightRit;
    },
    canvasChipSymbols() {
      // const formulaSymbols = this.activeFormula.symbolIds || [];
      // // Don't show the selected symbols again as unselected symbols
      // return _.difference(formulaSymbols, this.selectedSymbols);
      // return this.activeFormula.symbolIds || [];
      return this.canvasChipData?.symbols || [];
    },
    canvasChipSymbolsBBox() {
      // return SvgOps.getBBox(
      //   ...this.canvasChipSymbols.map(this.getSymbol),
      // );
      return SvgOps.getBBox(
        ...this.canvasChipSymbols,
      );
    },
    readonly() {
      return this.focusedEntityType === 'wikiCard' || this.activeFormula.noHistory;
    },
  },
  watch: {
    activeFormulaId: {
      immeditate: true,
      handler(val, last) {
        if (!val) {
          this.nextActiveFormula();
        } else if (val !== last) {
          this.updateEditorState('formula', this.activeFormula);
        }
      },
    },
    activeFormula(val) {
      if (!val) {
        this.nextActiveFormula();
      }
    },
    texString(val) {
      // texString has changed, so update activeFormulaText
      if (val !== this.activeFormulaText) {
        this.updateEditorState('text', val);
      }
    },
    canvasTransitionTrigger(val) {
      if (val) {
        const $this = this;
        this.updateEditorState('text', $this.insertionContext);
        $this.canvasTransitionTrigger = false;
        // setTimeout(async () => {
        //   this.updateEditorState('text', $this.insertionContext);
        //   $this.canvasTransitionTrigger = false;
        // }, 750);
      }
    },
  },
  methods: {
    isInMathSymbol(target) {
      return target.closest('.math-symbol');
    },
    updateAutoRec() {
      if (!this.readonly) {
        const refresh = 150;
        if (this.autoRecInt) { clearInterval(this.autoRecInt); }
        let counter = 3;
        this.autoRecInt = setInterval(() => {
          const progress = counter * refresh / debounceTime;
          if (progress > 1) clearInterval(this.autoRecInt);
          this.autoRecPercent = (100 * counter * refresh / debounceTime);
          counter += 1;
        }, refresh);
      }
    },
    async recognize() {
      if (this.strokeOrder.length === 0 || this.readonly) return;
      const strokeIds = [...this.strokeOrder];
      const strokes = this.getStrokes();
      const strokesJSON = strokes.map(s => s.stroke);

      const starting = () => {
        this.autoRecPercent = 100;
      };
      $('#svg-strokes>path').attr('stroke', 'gray');
      try {
        const data = await this.recognitionRequest(recognition.recognize(strokes, starting));
        // SvgOps.makeChipData(data.latex).then((chipData) => {
        //   if (chipData) {
        //     this.addChipToSearchBar(chipData);
        //   }
        // });
        await this.afterRecognitionIndividualSymbols(data, strokesJSON);
        this.clearStrokes(strokeIds);
      } catch (e) {
        console.error(e);
      }
    },

    getLastStroke() {
      const { length } = this.editor.model.rawStrokes;
      if (length > 0) {
        const lastStroke = this.editor.model.rawStrokes[length - 1];
        // Clear old model strokes
        this.editor.model.rawStrokes.splice(0);
        this.editor.model.strokeGroups.splice(0);
        return lastStroke;
      }
      return null;
    },

    async pointerUpHandler() {
      this.drawing = false;
      if (this.drawMode && !this.readonly && this.recognizerWindowOpen) {
        const stroke = this.getLastStroke();
        if (stroke) {
          const strokePathD = strokeToPathD(stroke);

          await this.addStroke({ width: stroke.width, d: strokePathD, stroke });
        }
      }
    },
    addTextHandler(ev) {
      const outOfCTI = !ev.target.closest('#canvas-text-input');
      if (this.textMode && outOfCTI) {
        const seRect = SE.rect;
        const ctiRect = $('#canvas-text-input')[0].getBoundingClientRect();
        const x = ev.clientX - seRect.x - ctiRect.width / 2;
        const y = ev.clientY - seRect.y - ctiRect.height / 2;
        // Show the text input at the click coordinates
        this.canvasTextInput.show = true;
        this.canvasTextInput.x = x;
        this.canvasTextInput.y = y;

        // Focus the text input field once it's displayed
        setTimeout(
          () => $('#canvas-text-input input[type="text"]').focus(),
          0,
        );
      }
    },
    addTextChip(chipData) {
      this.canvasTextInput.show = false;
      this.addChipToCanvas({
        ...chipData,
        x: this.canvasTextInput.x,
        y: this.canvasTextInput.y,
      });
    },
    handleChipDrop(chipId, relX, relY) {
      const chip = this.getChip(chipId);
      const { isTemplate } = chip;
      const x = relX + (isTemplate
        ? SE.templateChipPadding.left
        : SE.chipPadding.left);
      const y = relY + (isTemplate
        ? SE.templateChipPadding.top
        : SE.chipPadding.top);

      const action = this.isChipOnCanvas(chipId) ? EDIT_CHIP : COPY_CHIP_TO_CANVAS;
      this.resetDuplicateObserver();
      return this.$store.dispatch(action, {
        ...(action === EDIT_CHIP ? chip : {}),
        id: chipId,
        x,
        y,
      });
    },
    async drop(ev) {
      ev.preventDefault();
      const raw = ev.dataTransfer.getData('text');

      if (!raw) return null;
      try {
        const {
          chipId, chipSelector, offsetX, offsetY, latex,
        } = JSON.parse(raw);
        // console.log(`Dropped chip id: ${chipId}, at (${ev.clientX}, ${ev.clientY})`);
        // console.log(`DROP:${latex}`);

        // Compute the location to place the chip svg
        const { rect } = SE;
        let x = ev.clientX - rect.left - (offsetX || 0);
        let y = ev.clientY - rect.top - (offsetY || 0);

        if (chipSelector) {
          const chipEl = $(chipSelector)[0];
          const cRect = chipEl
            ? chipEl.getBoundingClientRect()
            : { x: 0, y: 0 };
          const pRect = chipEl
            ? chipEl.parentNode.getBoundingClientRect()
            : { x: 0, y: 0 };
          x += (pRect.x - cRect.x);
          y += (pRect.y - cRect.y);
        }

        if (chipId) {
          return this.handleChipDrop(chipId, x, y);
        }
        if (latex) {
          return this.makeFormulaData(latex, true).then(
            formulaData => this.addChipToCanvas({
              ...formulaData,
              isCopy: true,
              x,
              y,
            }),
          );
        }
      } catch {
        console.log('Non-formula chip was dropped');
      }
      return null;
    },
    updateSVGSize() {
      if (!this.$refs.svgContainer || !this.$refs.canvasContainer) return;
      this.editor.resize();
      const cc = this.$refs.canvasContainer.getElementsByClassName('ms-rendering-canvas')[0];
      this.$refs.svgContainer.setAttribute('width', `${cc.clientWidth}px`);
      this.$refs.svgContainer.setAttribute('height', `${cc.clientHeight}px`);
      this.$refs.svgContainer.setAttribute('viewBox', `0 0 ${cc.clientWidth} ${cc.clientHeight}`);
    },
    getEditorCoord(e) {
      const seRect = SE.getRect();
      return { x: e.clientX - seRect.x, y: e.clientY - seRect.y };
    },
    onPointerDown(e) {
      if (this.selectMode && !this.readonly && this.structureOpsEnabled) {
        const loc = this.getEditorCoord(e);
        this.pointerDownLoc = loc;
      }
    },
    onPointerMove: _.throttle(function onMove(e) {
      const loc = this.getEditorCoord(e);
      this.handleMove(loc.x, loc.y);
    }, 10),
    handleMove(x, y) {
      const start = this.pointerDownLoc;
      if (start) {
        this.liveSelectionBox = Selection.getRect(
          start,
          Bbox.makeCoord(x, y),
        );
      }
    },
    onPointerUp(e) {
      if (this.pointerDownLoc && this.structureOpsEnabled) {
        const loc = this.getEditorCoord(e);

        this.handleSelection(this.pointerDownLoc, loc);

        this.pointerDownLoc = null;
        this.liveSelectionBox = null;
      }

      // Make sure that the selection popper
      // shows up when the mouse is released
      this.drawing = false;
      this.didDrag = false;
      this.dragging = false;
      this.draggingSymbolId = null;
      this.selectionActive = true;

      if (!e.target.closest('#script-editor')) {
        // Hide canvas text input when clicking out of script editor
        this.canvasTextInput.show = false;
      }
    },
  },
  mounted() {
    this.editor = new Editor(this.$refs.canvasContainer);
    this.toSelectMode();
    // Set the SVG container size and set it to update on resize
    this.updateSVGSize();
    window.addEventListener('resize', this.updateSVGSize);

    // Update drawing state
    this.$refs.canvasContainer.addEventListener('pointerdown',
      () => { this.drawing = true; });
    this.$refs.canvasContainer.addEventListener('mouseleave',
      () => { this.drawing = false; });
    this.$refs.canvasContainer.addEventListener('pointerup',
      this.pointerUpHandler);
    const dbAutoRec = _.debounce(this.recognize, debounceTime);
    this.$refs.canvasContainer.addEventListener('pointermove',
      _.throttle(() => {
        if (this.drawing) {
          dbAutoRec();
          this.autoRecPercent = 0;
          this.updateAutoRec();
        }
      }, 250, { leading: true, trailing: false }));

    // const getSelectable = el => el.closest('.math-symbol');


    // const handleMove = (rawX, rawY) => {
    //   if (this.selectMode && this.dragging && this.draggingSymbolId && !this.readonly) {
    //     // When user is dragging, hide the selection
    //     // popper
    //     this.selectionActive = false;

    //     const seRect = SE.rect;
    //     const x = rawX - seRect.x + this.dragOffset.x;
    //     const y = rawY - seRect.y + this.dragOffset.y;

    //     // Bounds checking
    //     const { width, height } = this.getSymbol(
    //       this.draggingSymbolId,
    //     ).attributes;

    //     const maxX = seRect.width - width;
    //     const maxY = seRect.height - height;
    //     let boundedX = (x < 0) ? 0 : x;
    //     boundedX = (x > maxX) ? maxX : boundedX;
    //     let boundedY = (y < 0) ? 0 : y;
    //     boundedY = (y > maxY) ? maxY : boundedY;

    //     this.editChip({
    //       ...this.activeFormula,
    //       isFresh: false,
    //       str: '',
    //     }).then(() => {
    //       this.moveSymbol(this.draggingSymbolId, boundedX, boundedY);
    //       this.didDrag = true;
    //     });
    //   }
    // };


    $(this.$refs.editor)
      .on('pointerdown',
        '#structure-editor-container',
        this.onPointerDown)
      .on('touchmove', _.throttle((e) => {
        const x = e.changedTouches[0].clientX;
        const y = e.changedTouches[0].clientY;
        this.handleMove(x, y);
      }, 10), { passive: true })
      .on('pointermove', this.onPointerMove);


    document.addEventListener('pointerup', this.onPointerUp);
    document.addEventListener('touchend', this.onPointerUp);


    // const isCtrl = e => e.ctrlKey || e.metaKey;
    // const isShift = e => e.shiftKey;
    // const isZ = e => e.code === 'KeyZ';
    // const isY = e => e.code === 'KeyY';
    // const isCtrlZ = e => isCtrl(e) && isZ(e);
    // const isCtrlShiftZ = e => isCtrlZ(e) && isShift(e);
    // const isCtrlY = e => isCtrl(e) && isY(e);

    // document.addEventListener('keyup', (event) => {
    //   if (isCtrlShiftZ(event) || isCtrlY(event)) {
    //     this.redo();
    //   } else if (isCtrlZ(event)) {
    //     this.undo();
    //   }
    // });

    document.getElementById('script-editor')
      .addEventListener('drop', this.imageDrop, false);
  },
};
</script>

<style lang="less">
#script-editor{
  width: calc(100% - 350px);
  padding: 0;
  outline: none;
}
div.editor {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;

  #canvas-symbols {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  #canvas-container > canvas {
    display: block;
  }

  .ms-editor {
    z-index: 0 !important;
    // position: relative;
  }

  .ms-editor > canvas,
  .ms-editor > svg  {
    position: absolute;
    left: 0;
    top: 0;
  }
}


#script-editor .chip-container {
  position: absolute;
  z-index: 10;
}

#canvas-text-input {
  position: absolute;
  border: 2px solid #424242;
  padding: 1px;
  & .draft-input {
    width: 240px;
    position: relative;
    .draft-chip>input {
      height: 60px !important;
    }
  }
}

#selection-chip.chip-container {
  align-items: normal;
}

@rit-color: rgb(247,105,2);
@lightRit: #fd892c;

.selection {
  background: fade(@lightRit, 10%);
  border-radius: 0.1em;
  border: 0.05em solid fade(@lightRit, 20%);
}

.selected, .selected * {
  fill: @lightRit;
}

@media only screen and (max-width: 450px) {
  #editor-container {
    padding: 0;
  }
}
</style>
