<template>
  <div style="position: relative;"
    class="search-container">
    <v-container>
    <v-row>
        <v-col
          cols="12"
          sm="6"
        >
          <v-text-field
            id="wikicard-search-field"
            clearable
            dense
            v-model="wikicardSearchQuery">
            <template v-slot:label>
              <v-icon
              title="Search"
              >$vuetify.icons.magnify</v-icon>
              Search for concepts
            </template>
          </v-text-field>
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-spacer/>
          <v-checkbox
          v-model="wikicardsAutoUpdate"
          inset
          label="Update Wikicards automatically"
        ></v-checkbox>
        </v-col>
      </v-row>
    </v-container>

    <v-container v-if="hasEntities"
      fluid grid-list-md row wrap>
      <EntityCard
        v-for="item in filteredEntities"
        :key="item.id"
        :entityData="item"
        :onChipClick="(e) => cardChipClick(e, item.id, insertionMode, true)"
        :insertionMode="insertionMode"
        />
    </v-container>
    <div v-else>
      Entity cards similar to the active formula will be shown here.
    </div>

  </div>
</template>

<script>
import _ from 'lodash';
import EntityCard from './EntityCard';
import { mixin } from '@/store/mixin';
import { fetchEntityCards, fetchEntityCardsWithText } from '../entity-cards';

export default {
  name: 'SearchDisplay',
  mixins: [mixin],
  components: {
    EntityCard,
  },
  props: {
    showing: {
      Type: Boolean,
      default: false,
    },
    displaySelf: {
      Type: Function,
      default: () => {},
    },
    filterString: {
      Type: String,
      default: '',
    },
    setFilterCount: {
      Type: Function,
      default: () => {},
    },
    insertionMode: {
      Type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      wikicardSearchQuery: '',
    };
  },
  computed: {
    hasEntities() {
      return this.wikiCards && this.wikiCards.length;
    },
    entities() {
      return this.wikiCards
        .map(this.getCard)
        .filter(card => !!card); // existing cards only
    },
    filteredEntities() {
      const filtered = this.entities.filter(
        // Check string in title
        e => this.stringIn(this.filterString, e.title)
          // or string in formula latex
          || (e.chipId && this.stringIn(this.filterString, this.getChip(e.chipId).str)),
      );
      if (this.setFilterCount) this.setFilterCount(filtered.length);
      return filtered;
    },
  },
  watch: {
    activeFormulaMML: {
      immediate: true,
      handler(val) {
        if (val) {
          this.displaySelf();
          if (this.showing && this.wikicardsAutoUpdate) {
            this.updateEntityCards();
          }
        }
      },
    },
    showing(val) {
      if (val && this.activeFormulaMML) {
        this.updateEntityCards();
      }
    },
    wikicardSearchQuery() {
      this.updateEntityCardsFromText();
      this.wikicardsAutoUpdate = false;
    },
  },
  methods: {
    stringIn(a, b) {
      return b.toLowerCase()
        .indexOf(a.toLowerCase()) !== -1;
    },
    updateEntityCards: _.debounce(async function updateEntityCards() {
      let cards;
      if (this.activeFormulaText.substr(0, 5) === '\\text') {
        const text = this.activeFormulaText.substr(6, this.activeFormulaText.length - 7);
        cards = await fetchEntityCardsWithText(text);
      } else {
        cards = await fetchEntityCards(this.activeFormulaText);
      }

      if (cards) {
        return this.setWikiCards(cards);
      }
      return null;
    }, 0),

    updateEntityCardsFromText: _.debounce(async function updateCardsFromText() {
      const cards = await fetchEntityCardsWithText(this.wikicardSearchQuery.trim());
      if (cards) {
        this.setWikiCards(cards);
      }
    }, 1000),
  },
};
</script>

<style lang="less">

#wikicard-search-field {
  width: 50%;
  margin: 10px;
}

.search-container {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: normal;
  overflow: hidden;
  padding: 0 8px;

  &>.container {
    padding: 0;
  }

}
</style>
