<template>
  <div :style="{
    'display': 'inline-flex',
    'align-items': 'center',
  }">
    <v-btn icon id="search-btn"
      title="Search Online"
      small
      color="black"
      @click="this.search">
      <v-icon>$vuetify.icons.magnify</v-icon>
    </v-btn>
    <v-menu offset-y bottom style="z-index: 11;">
      <template v-slot:activator="{ on }">
        <v-btn text
          title="Select Search Engine"
          id="search-engine-menu-btn"
          v-on="on"
        >
          <span>{{searchEngine}}</span>
        </v-btn>
      </template>
      <v-list>
        <v-list-item ref="searchEngineMenu"
          v-for="(engine, index) in searchEngines"
          :key="index"
          @click="engine.onClick"
          :style="{
            'background-color': engine.selected ? '#1976d2A0' : null,
          }"
          >
          <v-list-item-title>{{engine.text}}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import _ from 'lodash';
import { mixin } from '@/store/mixin';
import { SearchEngineManager as SEM } from '@/search';

export default {
  name: 'SearchButton',
  mixins: [mixin],
  computed: {
    searchEngines() {
      return Object.keys(SEM.engines)
        .map(key => ({
          text: key,
          selected: this.searchEngine === key,
          onClick: () => this.setSearchEngine(key),
        }));
    },
  },
  methods: {
    search() {
      // Get the list of chip strings from the search bar
      const terms = _.compact(this.searchBarChipsOrder
        .map((chipId) => {
          const chipData = this.getChip(chipId);
          if (chipData.nonMathStr) {
            return chipData.nonMathStr;
          }

          return chipData.str;
        }));

      SEM.search(this.searchEngine, ...terms);
    },
  },
};
</script>


<style lang="less">

#search-btn {
  margin-right: 0;
  margin-left: 5px;
}

#search-engine-menu-btn {
  margin-left: 0;
  width: 100px;

  span {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

</style>
