<template>
  <ChipDisplay ref="chipDisplay" idAttr="selection-chip-container"
    chipId="selection-chip"
    :containerStyle="{
      'left': x + 'px',
      'top': y + 'px',
      'width': width + 'px',
      'height': height + 'px',
    }"
    :chipStyle="{
      'border-radius': 0,
      'border-color' : style.rit,
      'fill' : style.rit,
      'background-color' : 'rgba(247,105,2,0.125) !important',
    }"
    :elevation="0"
    :hoverable="false"
    :onDragStart="dragStart"
    :onDoubleClick="dropSelection"
  >
    <SvgRenderer v-if="selectionId" :id="selectionId"
      :useTranslate="false"
      idAttr="selected-svg">
    </SvgRenderer>

    <template v-slot:after>
      <ActiveSelectionControls />
    </template>
  </ChipDisplay>
</template>

<script>
import ActiveSelectionControls from './ActiveSelectionControls';
import ChipDisplay from './ChipDisplay';
import SvgRenderer from './SvgRenderer';
import {
  ScriptEditor as SE,
  EditorModes as EM,
} from '@/editor';
import { mixin } from '@/store/mixin';

// const $ = require('jquery');

export default {
  name: 'SelectionChip',
  components: {
    ActiveSelectionControls,
    ChipDisplay,
    SvgRenderer,
  },
  mixins: [mixin],
  computed: {
    svg() {
      return this.selectionSVG || {};
    },
    x() {
      return this.svg.attributes.x - SE.selectionChipPadding.left;
    },
    y() {
      return this.svg.attributes.y - SE.selectionChipPadding.top;
    },
    width() {
      return this.svg.attributes.width;
    },
    height() {
      return this.svg.attributes.height;
    },
    content() {
      return this.svg.svgContent;
    },
  },
  watch: {
  },
  mounted() {
    // $('#selection-chip-container').on('wheel', (e) => {
    //   if (this.selectionId) {
    //     const scrollDown = e.originalEvent.deltaY > 0;
    //     this.scaleSelectionSVG(
    //       1.1 ** (scrollDown ? -2 : 2),
    //     );
    //   }
    // });
    // if (this.$refs.chipDisplay) {
    //   $('#selection-chip').focus();
    //   $('#selection-chip-container').on('keydown', (e) => {
    //     if (e.key === 'Delete' || e.key === 'Backspace') {
    //       this.deleteSelection();
    //     } else if (e.key === 'Escape') {
    //       this.dropSelection();
    //     }
    //   });
    // }
  },
  methods: {
    dragStart(ev) {
      this.mode = EM.select;
      // eslint-disable-next-line no-param-reassign
      ev.dataTransfer.effectAllowed = 'copy';
      const chip = ev.target.closest('.chip');
      const cRect = chip.getBoundingClientRect();
      const data = {
        isSelection: true,
        offsetX: ev.clientX - cRect.x,
        offsetY: ev.clientY - cRect.y,
      };
      ev.dataTransfer.setData('text', JSON.stringify(data));
    },
  },
};
</script>

<style lang="less">
#selection-chip-container {
  .chip:after {
    opacity: 0;
  }
}
</style>
