<template>
  <div id="spinner" touch-action="none">
    <div
      :style="{
        opacity: recognizingCounter ? '1' : '0',
        width: '100%',
        display: 'flex',
        'justify-content': 'center',
        'margin-bottom': '15px',
        'pointer-events': 'none'
      }" >
      <v-progress-circular indeterminate :color="style.lightRit">
        {{recognizingCounter > 1 ? recognizingCounter: ''}}
      </v-progress-circular>
    </div>
    <v-progress-linear
      style="width: 50%; max-width: 900px; height: 3px; margin: auto; "
      v-model="autoRecPercent">
    </v-progress-linear>
  </div>
</template>

<script>
import { mixin } from '@/store/mixin';

export default {
  name: 'Spinner',
  mixins: [mixin],
};
</script>

<style lang="less">

#spinner {
  position: absolute;
  z-index: 2;
  left: 0;
  top: -50px;
  width: 100%;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>
