<template>
  <div
    :class="`structure-editor ${isClosest ? 'dragover' : ''}`"
    @dragover="onDragOver"
    ref="structureEditor"
    :style="style"
  >
    <div v-for="loc in locations" :key="loc"
      :class="`structure-circle ${loc}`"
      draggable="false"
      droppable=true
      @drop="(e) => onDrop(e, loc)"
      @dragover="structureDragEnter"
      @dragenter="structureDragEnter"
      @dragend="structureDragExit"
      @dragleave="structureDragExit"
      />
      {{isClosest}}
      {{Math.round(distance)}}
      <!-- {{char}} -->
  </div>
</template>

<script>
export default {
  name: 'StructureNode',
  props: {
    isClosest: {
      Type: Boolean,
      default: false,
    },
    distance: {
      Type: Number,
      default: false,
    },
    bbox: {
      Type: Object,
      default: {
        x: 0,
        y: 0,
        width: 0,
        height: 0,
      },
    },
    char: {
      Type: String,
      default: '',
    },
    operation: {
      Type: Function,
      default: () => {},
    },
  },
  data() {
    return {
      locations: [
        'center',
        'top',
        'bottom',
        'top right',
        'bottom right',
        'left',
        'right',
      ],
      dragoverTimeout: null,
    };
  },

  computed: {
    style() {
      return {
        position: 'absolute',
        left: `${this.bbox.x}px`,
        top: `${this.bbox.y}px`,
        width: `${this.bbox.width}px`,
        height: `${this.bbox.height}px`,
      };
    },
  },
  methods: {
    onDragOver() {
      // // Remove other dragovers
      // const ses = document.getElementsByClassName('dragover');
      // ses.forEach(se => se.classList.remove('dragover'));

      // // Only display structure symbols when the dragover class is present
      // this.$refs.structureEditor.classList.add('dragover');
      // const structure = e.target.closest('.structure-editor');
      // if (structure) {
      //   structure.classList.add('dragover');
      //   if (this.dragoverTimeout) {
      //     clearTimeout(this.dragoverTimeout);
      //   }
      //   this.dragoverTimeout = setTimeout(() => {
      //     structure.classList.remove('dragover');
      //   }, 1000);
      // }
    },

    onDrop(e, location) {
      this.operation(e, location);

      this.structureDragExit(e);
    },

    structureDragEnter(e) {
      e.preventDefault();
      e.stopPropagation();

      // Remove other drag hovers
      const dhs = document.getElementsByClassName('drag-hover');
      dhs.forEach(dh => dh.classList.remove('drag-hover'));
      // Add drag hover
      e.target.classList.add('drag-hover');
    },
    structureDragExit(e) {
      e.preventDefault();
      e.stopPropagation();

      e.target.classList.remove('drag-hover');
      // this.$refs.structureEditor.classList.remove('dragover');
    },
  },
};
</script>

<style>

</style>
