<template>
  <div v-if="structureOpsEnabled"
    id="structure-editor-container"
    class="structure-editor-container"
    ref="container"
    draggable="false"
    droppable=true
    @drop="onDrop"
    @dragover="onDragOver"
    @dragenter.prevent.stop
    @dragend="structureDragExit"
    @dragleave="structureDragExit"
  >
   <div v-for="(b, i) in symbolBoxes" :key="'symbolbox-'+i"
      :class="`structure-editor`"
      :style="{
        position: 'absolute',
        border: '0px solid black',
        left: `${b.loc.x}px`,
        top: `${b.loc.y}px`,
        width: `${b.size.width}px`,
        height: `${b.size.height}px`,
        backgroundColor: `${b.color}`
      }"
      draggable="true"
      @dragstart="nodeDragStart"
      @dragend="selectionDragEnd"
      @pointerdown.stop
      @pointerup="nodePointerUp"
    />

   <div v-if="multiSelectionBox" :key="'multiSelectionBox'"
      draggable="true"
      @dragstart="selectionDragStart"
      @dragend="selectionDragEnd"
      @pointerdown.stop

      :class="`structure-editor`"
      :style="{
        position: 'absolute',
        border: '1px solid black',
        left: `${multiSelectionBox.loc.x}px`,
        top: `${multiSelectionBox.loc.y}px`,
        width: `${multiSelectionBox.size.width}px`,
        height: `${multiSelectionBox.size.height}px`,
        backgroundColor: 'rgba(100,100,100,0.1)'
      }"
    />

    <div v-for="(control, i) in activeControlPoints" :key="'controlset-'+i"
      :style="{
        position: 'absolute',
        ...(control.isStartOp
          ? { left: 'calc(50% - 12px)', top: 'calc(50% - 12px)' }
          : { left: `${control.loc.x-12.5}px`, top: `${control.loc.y-12.5}px` }),
        width: `24px`,
        height: `24px`,
      }"
    >
      <v-menu
        offset-y
        dense
        :nudge-bottom="5"
        :nudge-left="menuWidth/2"
        :nudge-width="menuWidth"
        :width="menuWidth"
        :close-on-content-click="false"
        content-class="operation-control-menu"
      >
        <template v-slot:activator="{ on, value }">
          <v-icon v-on="on"
            @click="openMenuFor(control.ops[0], 0)"
            @pointerdown.stop
            style="position: absolute"
            :color="controlColor(control, value)"
            >$vuetify.icon.record</v-icon>
        </template>

        <v-list-item v-if="control.ops.length" :key="'draft-input'"
          style="background: #FFFFFFEE !important;"
        >
          <v-list-item-content>
            <DraftInput
              id="structure-input-text"
              v-model="activeLatexInputText"
              placeholder="Enter LaTeX here"
              autofocus
              dense
              outlined
              color="orange"
              popperPlacement="top"
              :style="`width: ${menuWidth}px`"
              @focus="focusLatexInput"
              @click="focusLatexInput"
              :handleChipData="(chipData) => draftDoOp(chipData, control.ops[0])"
              />
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="editingMode !== 'Faceted' && alternateSymbols" id="alternate-list-item">
          <v-menu offset-x open-on-hover>
            <template v-slot:activator="{ on, attrs }">
              <v-list-item-content
                v-bind="attrs"
                v-on="on">
                    <v-list-item-title>
                      Alternate symbols
                    </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list>
              <v-list-item
                v-for="alternateSymbol in alternateSymbols.
                  filter(alternative => savedLatexInputText === '' ?
                  alternative != activeLatexInputText
                  : alternative != savedLatexInputText)"
                :key="alternateSymbol"
                @mouseenter="mouseEnterAlternateSymbol(alternateSymbol)"
                @mouseleave="mouseLeaveAlternateSymbol(alternateSymbol)"
                @click="clickAlternateSymbol(alternateSymbol, control)">
                <v-list-item-title>{{alternateSymbol}}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-list-item>
        <!-- <v-list-item v-if="control.ops.length" :key="`text-control`"
          style="background: #FFF !important;"
        >
          <v-list-item-content>
            <v-text-field v-model="activeLatexInputText"
              placeholder="Enter latex here"
              dense
              outlined
              color="orange"
              @focus="focusLatexInput"
              @keydown="e => onActiveTextKey(e, control.ops[0])"
              />
          </v-list-item-content>
        </v-list-item> -->
        <v-list-item v-for="(op, j) in control.ops" :key="`control-op-${op.name}`"
          @click="selectArgumentFor(op, j)"
          :style="controlItemStyle(j)"
        >
          <v-list-item-content>
            <v-list-item-title>{{op.name}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-menu>
    </div>
  </div>
</template>


<script>
// droppable=true
// @drop="(e) => structureDrop(e, control.position, symbols[i])"
// @dragover="structureDragEnter"
// @dragenter="structureDragEnter"
// @dragend.prevent.stop
// @dragleave.prevent.stop
import _ from 'lodash';
import { mixin } from '../store/mixin';
// import mathml from '../mathml';
// import Tree, { TreeStore, App } from '../vst';
import {
  Node,
  Selection,
  Bbox,
  Controls,
  OpManager,
} from '../vst';
import {
  charFromUnicodeHex,
  // fromHex,
} from '../unicode-converter';

import { ScriptEditor as SE } from '../editor';
import { RecognizerEditor as RE } from '@/recognizer-editor';
import UnicodeLatexMap from '@/unicode-to-latex-map';
import DraftInput from './DraftInput';

// import StructureNode from './StructureNode';


export default {
  name: 'StructureEditor',
  mixins: [mixin],
  components: {
    // StructureNode,
    DraftInput,
  },
  data() {
    return {
      closest: null,
      dist: null,
      closestControl: null,
      dropDist: 64,
      draggingSelection: false,
      selectedOperationLoc: 0,
      activeLatexInputText: '',
      savedLatexInputText: '',
      menuWidth: 256,
      nodeStr: '',
    };
  },
  mounted() {
    window.addEventListener('keydown', (event) => {
      if (event.keyCode === 8) {
        const menus = document.getElementsByClassName('operation-control-menu');
        if (menus.length !== 0) {
          const inputText = document.getElementById('structure-input-text'); // Takes focus away from editing panel
          inputText.focus();
        } else if ((this.nodeSelection || this.treeSelection) && !this.selectingOpArg
        && !this.activeLatexInputText && this.selectedOperationLoc !== -1 && menus.length === 0) {
          const queryBar = document.getElementById('deck-filter-field'); // Takes focus away from editing panel
          queryBar.focus();
          const [primary] = this.nodeSelection || this.treeSelection;
          this.performOperation({
            name: 'delete',
            op: () => Node.deleteSubtree(primary, this.tree),
          }, null);
        }
      }
    });
  },
  watch: {
    treeSelection(val) {
      if (val && val[0]) {
        const nodeStr = this.stringOfNode(val[0]);
        this.nodeStr = nodeStr || '';
      }
    },
    activeLatexInputText(newVal, oldVal) {
      if (newVal !== oldVal) {
        if (UnicodeLatexMap.unicodeToLatexMap[this.activeLatexInputText] != null) {
          this.activeLatexInputText = UnicodeLatexMap.unicodeToLatexMap[this.activeLatexInputText];
        }
      }
      this.activeLatexInputText = this.activeLatexInputText.replaceAll('\\varphi', '\\phi');
    },
  },
  computed: {
    alternateSymbols() {
      let inputSymbol;
      if (this.savedLatexInputText === '') {
        inputSymbol = this.activeLatexInputText;
      } else {
        inputSymbol = this.savedLatexInputText;
      }

      return this.individualSymbolAlternatives[inputSymbol]?.alternateSymbolsList
        ?.map(symbol => symbol?.alternative);
    },
    formula() {
      return this.canvasChipData || {};
    },
    symbols() {
      return (this.formula.symbols || [])
        .map(s => ({
          ...s,
          char: charFromUnicodeHex(s.children[0].attributes.unicodehex),
        }));
    },
    hasSelection() {
      return (this.treeSelection && this.treeSelection[0]);
    },
    primarySelectedSymbols() {
      if (this.treeSelection) {
        const [primary] = this.treeSelection;
        if (primary) {
          return Node.mapArray(n => n.id, primary);
        }
      }
      return [];
    },
    secondarySelectedSymbols() {
      if (this.treeSelection && this.treeSelection.length > 1) {
        const secondary = this.treeSelection[1];
        if (secondary && secondary.length > 0) {
          return secondary.reduce(
            (acc, t) => [...Node.mapArray(n => n.id, t), ...acc],
            [],
          );
        }
      }
      return [];
    },
    symbolBoxes() {
      return this.symbols.map(s => ({
        color: this.symbolBoxColor(s),
        loc: {
          x: s.attributes.x,
          y: s.attributes.y,
        },
        size: {
          width: s.attributes.width,
          height: s.attributes.height,
        },
      }));
    },
    tree() {
      const t = this.formula.tree;
      // console.log(t);
      return t;
    },
    activeControlPoints() {
      // return this.makeAllControlPoints();
      // const tree = _.cloneDeep(this.tree);
      const { tree } = this;
      if (tree) {
        // const selection = _.cloneDeep(this.treeSelection);
        if (this.hasSelection && !this.draggingSelection) {
          const controls = this.mergeControls(this.filterControls(
            Controls.makeSelectionControls(
              this.treeSelection,
              this.nodeGetBox,
              tree,
            ),
          ));
          return controls;
        }
        if (this.closest) {
          return this.mergeControls(this.filterControls(
            Controls.makeNodeControls(
              this.closest,
              this.nodeGetBox,
              tree,
            ),
          ));
        }
        return [];// this.makeAllControlPoints();
      }
      return [{
        isStartOp: true,
        loc: { x: 0, y: 0 },
        ops: [{
          name: 'Start formula',
          op: () => {},
        }],
      }];
    },
    multiSelectionBox() {
      const { tree } = this;
      if (tree && this.hasSelection) {
        return Selection.getSelectionBox(this.treeSelection, this.nodeGetBox);
      }
      return null;
    },
  },
  methods: {
    mouseEnterAlternateSymbol(alternateSymbol) {
      this.savedLatexInputText = this.activeLatexInputText;
      this.activeLatexInputText = alternateSymbol;
    },
    mouseLeaveAlternateSymbol(alternateSymbol) {
      if (this.savedLatexInputText === '') {
        this.activeLatexInputText = alternateSymbol;
      } else {
        this.activeLatexInputText = this.savedLatexInputText;
      }
      this.savedLatexInputText = '';
    },
    clickAlternateSymbol(alternateSymbol, control) {
      // const copyAlternates = JSON.parse(
      //   JSON.stringify(this.individualSymbolAlternatives[this.savedLatexInputText]),
      // );

      // let index = -1;
      // for (let i = 0; i < copyAlternates.alternateSymbolsList.length; i += 1) {
      //   if (copyAlternates.alternateSymbolsList[i].alternative === alternateSymbol) {
      //     index = i;
      //     break;
      //   }
      // }
      // if (index !== -1) {
      //   copyAlternates.alternateSymbolsList.splice(index, 1);
      // }
      // copyAlternates.alternateSymbolsList.unshift(
      //   { alternative: this.savedLatexInputText, confidence: 100 },
      // );

      // this.addSymbolAlternatives(alternateSymbol, copyAlternates);
      // this.deleteSymbolAlternatives(this.savedLatexInputText);

      // index = this.recognitionSearchFilters.indexOf(this.savedLatexInputText);
      // this.recognitionSearchFilters = this.recognitionSearchFilters
      //   .filter(item => item !== this.savedLatexInputText);
      // this.recognitionSearchFilters = this.recognitionSearchFilters
      //   .concat([alternateSymbol]);

      // this.savedLatexInputText = '';

      this.performOperationWithTex(control.ops[0], alternateSymbol);
    },
    filterControls(controls) {
      return (controls || []).filter(
        // filter out controls @ origin (default if no symbol box)
        ctrl => ctrl.loc.x || ctrl.loc.y,
      );
    },
    mergeControls(controls) {
      if (!controls || !controls.length) return [];
      if (!this.draggingSelection && !this.draggingChip) {
        const screenWidth = window.screen.width || 1;

        // threshold = max(32, 1.5% of width)
        // 32 may be too close on high resolution screens
        const distanceThreshold = Math.max(32,
          Math.ceil(0.015 * screenWidth));

        const hasCloseControls = (controls || [])
          .map(control => controls.map(
            other => control !== other
              && Bbox.dist(control.loc, other.loc) < distanceThreshold,
          ).reduce(
            (acc, cur) => acc || cur,
            false,
          )).reduce(
            (acc, cur) => acc || cur,
            false,
          );

        if (hasCloseControls) {
          return [{
            loc: Bbox.center(Bbox.coordinatesBox(controls.map(c => c.loc))),
            ops: controls.reduce((acc, cur) => [...acc, ...cur.ops], []),
          }];
        }
      }
      return controls;
    },
    makeAllControlPoints() {
      if (this.tree) {
        const controls = Controls.makeAllControls(
          n => this.symbolGetBox(n.id),
          this.tree,
        ).reduce(
          (all, nodeCtrls) => [...nodeCtrls, ...all],
          [],
        );

        return this.filterControls(controls);
      }
      return [];
    },
    focusLatexInput: _.debounce(function focusLatexInput() {
      this.setOperation(null);
      this.selectedOperationLoc = -1;
    }, 1000, { leading: true, trailing: false }),
    setOperation(operation) {
      OpManager.setOp(operation);
      this.selectingOpArg = !!operation;
      if (!operation) this.selectedOperationLoc = 0;
    },
    doActiveTexOp(operation) {
      this.setOperation(null);
      this.performOperationWithTex(operation, `${this.activeLatexInputText}`);
      this.activeLatexInputText = '';
    },
    draftDoOp(chipData, operation) {
      this.activeLatexInputText = chipData.str;
      this.doActiveTexOp(operation);
    },
    openMenuFor(op, i) {
      // debounce focus so autofocus doesn't interrupt argument selection
      this.focusLatexInput();
      this.activeLatexInputText = '';
      this.selectArgumentFor(op, i);

      // add nodeStr as default text
      if (op && op.name === 'Replace') {
        // Edit this to get LaTeX instead of unicode
        this.activeLatexInputText = this.nodeStr;
      }
    },
    selectArgumentFor(op, i) {
      if (op.nArgs < 1) {
        this.setOperation(null);
        this.performOperation(op, null);
      } else if (this.activeLatexInputText) {
        this.doActiveTexOp(op);
      } else {
        this.selectedOperationLoc = i;
      }
    },
    coordinates(e) {
      const offset = this.recognizerWindowOpen ? RE.getRect() : SE.getRect();
      return {
        x: e.clientX - offset.x,
        y: e.clientY - offset.y,
      };
    },
    controlColor(c, v) {
      const { loc } = c;
      const cc = this.closestControl;
      if (v) {
        return 'orange';
      }
      if (this.closest && cc && loc.x === cc.loc.x && loc.y === cc.loc.y) {
        return 'orange';
      }
      return 'blue';
    },
    symbolBoxColor(s) {
      if (this.primarySelectedSymbols.indexOf(s.color) !== -1) {
        return 'rgba(247,105,2,0.5)';
      }
      if (this.secondarySelectedSymbols.indexOf(s.color) !== -1) {
        return 'rgba(0,0,0,0.5)';
      }
      return '';
    },
    controlItemStyle() {
      return {
        background: '#FFFFFFEE !important',
      };
    },
    updateClosestControlPoint(coord) {
      const controls = this.activeControlPoints;
      const measure = control => Bbox.dist(coord, control.loc);

      if (controls && controls.length > 0) {
        let closestControl = controls[0];
        let dist = measure(closestControl);
        controls.forEach((c) => {
          const d = measure(c);
          if (d < dist) {
            dist = d;
            closestControl = c;
          }
        });
        this.closestControl = (dist < this.dropDist)
          ? closestControl
          : null;
      } else {
        this.closestControl = null;
      }
    },
    onDrop(e) {
      const coord = this.coordinates(e);
      if (this.dist < this.dropDist && this.closest) {
        if (!this.closestControl?.isStartOp) this.updateClosestControlPoint(coord);

        this.structureDrop(e, this.closestControl);
      }

      this.closest = null;
      this.dist = null;
    },
    onDragOver: _.throttle(function drag(e) {
      const coord = this.coordinates(e);
      const { tree } = this;
      if (tree) {
        const closestNode = Selection.getClosestNode(coord, this.nodeGetBox, tree);
        // console.log(closestNode.value);
        // const [champ, dist] = this.closestSymbol(coords);
        // this.closest = champ;
        const dist = Bbox.distToBox(coord, this.nodeGetBox(closestNode));
        // console.log(dist);
        if (dist < this.dropDist) {
          this.dist = dist;
          this.closest = closestNode;
          this.updateClosestControlPoint(coord);
        } else {
          this.closest = null;
          this.dist = null;
        }
      } else {
        const controls = this.activeControlPoints;
        if (controls.length === 1) {
          const [first] = controls;
          if (first.isStartOp) {
            this.dist = 0;
            this.closestControl = first;
            this.closest = true;
          }
        }
      }
      // console.log(closest.id);
      // const baseId = mathml.idFromColor(closest.color);
      // console.log(baseId);
    }, 50, { trailing: true }),
    structureDragEnter(e) {
      e.preventDefault();
      e.stopPropagation();
    },
    structureDragExit(e) {
      e.preventDefault();
      e.stopPropagation();

      this.closestControl = null;
    },
    async structureDrop(e, control) {
      if (!control) return null;
      e.preventDefault();
      if (this.closest) e.stopPropagation();
      const raw = e.dataTransfer.getData('text');
      console.log(raw);

      if (!raw) return null;
      try {
        const { chipId, latex, isSelection } = JSON.parse(raw);
        // const chip = this.getChip(chipId);

        const op = control.ops[0];
        if (isSelection) {
          const [selectedTree] = this.nodeSelection || this.treeSelection;
          const rootedTree = Node.rootSubtree(selectedTree);
          this.setOperation(null);
          await this.performOperation(op, rootedTree, true);
          this.treeSelection = null;
          this.nodeSelection = null;
        } else {
          this.performOperationWithTex(op, latex);
          if (this.formula.id !== chipId && this.isChipOnCanvas(chipId)) this.deleteChip(chipId);
        }
        return null;
      } catch {
        return null;
      }
    },
    selectionDragStart(ev) {
      // // eslint-disable-next-line no-param-reassign
      // ev.dataTransfer.effectAllowed = 'copy';
      this.draggingSelection = true;
      const [selectedTree] = this.treeSelection;
      const selectedString = this.stringOfNode(selectedTree);
      const data = {
        isSelection: true,
        latex: selectedString,
      };
      ev.dataTransfer.setData('text/plain', JSON.stringify(data));
    },
    selectionDragEnd() {
      if (this.tree && (this.nodeSelection || this.hasSelection)) {
        const [primary] = this.nodeSelection || this.treeSelection;
        this.performOperation({
          name: 'delete',
          op: () => Node.deleteSubtree(primary, this.tree),
        }, null);
      }

      this.draggingSelection = false;
      this.closest = null;
      this.dist = null;
      this.nodeSelection = null;
    },
    nodeDragStart(ev) {
      const coord = this.coordinates(ev);
      const selection = this.treeSelect(coord, coord);
      const [selectedTree] = selection;
      this.draggingSelection = true;
      const selectedString = this.stringOfNode(selectedTree);
      const data = {
        isSelection: true,
        latex: selectedString,
      };
      ev.dataTransfer.setData('text/plain', JSON.stringify(data));
      // this.treeSelection = selection;
      this.nodeSelection = selection;
    },
    nodePointerUp(ev) {
      const coord = this.coordinates(ev);
      this.handleSelection(coord, coord);
    },
    mouseEnter(ev) {
      if (!this.draggingSelection) {
        this.nodePointerUp(ev);
      }
    },
    mouseLeave() {
      this.draggingSelection = false;
      this.closest = null;
      this.dist = null;
      this.nodeSelection = null;
    },
    onActiveTextKey(e, op) {
      if (e.key === 'Enter') {
        this.doActiveTexOp(op);
      }
    },

  },
};
</script>

<style lang="less">
.structure-editor-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .structure-editor {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.operation-control-menu {
  overflow: visible;
  contain: none;
  max-width: 256px;
}

#alternate-list-item {
  background-color: rgba(255, 255, 255, 0.933) !important;
  color: orange !important;
}
</style>
