<template>
  <div>
    <v-container v-if="errMsg"
      fluid fill-height>
      <v-layout justify-center>
        {{ errMsg }}
      </v-layout>
    </v-container>
    <v-progress-linear v-if="!rendered"
      :active="true"
      :indeterminate="true"
      absolute
      top
    />
    <AutocompleteCard v-if="hasSuggestions"
      :suggestions="suggestions"
      :renderComplete="renderComplete"
      />
  </div>
</template>

<script>
import _ from 'lodash';

import { SearchEngineManager as SEM } from '@/search';
import AutocompleteCard from './AutocompleteCard';
import { mixin } from '@/store/mixin';

export default {
  name: 'SuggestionBar',
  mixins: [mixin],
  components: {
    AutocompleteCard,
  },
  props: {
    showing: Boolean,
  },
  data() {
    return {
      suggestions: [],
      errMsg: '',
      maxSearch: 5,
      fresh: false,
      rendered: false,
    };
  },
  computed: {
    terms() {
      if (this.searchBarChipsOrder.length > 0) {
        const terms = _.compact(this.searchBarChipsOrder
          .map((chipId) => {
            const chipData = this.getChip(chipId);
            if (chipData.nonMathStr) {
              return chipData.nonMathStr;
            }

            return chipData.str;
          }));
        return terms;
      }
      return [];
    },
    hasSuggestions() {
      return this.suggestions.length > 0;
    },
  },
  mounted() {
    // this.updateResults(this.terms);
  },
  watch: {
    showing: {
      immediate: true,
      // Only update when opening the panel
      handler(val, oldVal) {
        if (val && !oldVal && !this.fresh) {
          this.updateResults(this.terms);
        }
      },
    },
    async searchEngine(val, oldVal) {
      // User has changed the search engine, need
      // to query again
      if (val !== oldVal) {
        this.makeStale();
      }
    },
    async terms(val, oldVal) {
      // If the query bar terms never change,
      // do not try to do a search
      if (JSON.stringify(val) !== JSON.stringify(oldVal)) {
        this.makeStale();
      }
    },
  },
  methods: {
    makeStale() {
      this.fresh = false;
      this.errMsg = '';
      this.suggestions = [];
    },
    renderComplete() {
      this.rendered = true;
    },
    searchExceedMax(hits) {
      return hits.length > this.maxSearch;
    },
    // The format of search result from approach0 and
    // stackExchange is different, hence, we need to
    // deal with it differently
    hasSearchRes(searchResult) {
      return searchResult && typeof searchResult !== 'string'
              && ((searchResult.hits && searchResult.hits.length > 0)
              || (searchResult.items && searchResult.items.length > 0));
    },
    async updateResults(terms) {
      this.rendered = false;
      // await new Promise(resolve => setTimeout(resolve, 1000));
      const searchResult = await SEM.autocomplete(this.searchEngine, ...terms);

      // We only want to show 5 search result at a time.
      // If the query returned more than 5 results, we
      // slice it.
      if (this.hasSearchRes(searchResult)) {
        let results = [];
        if (searchResult.hits) {
          results = searchResult.hits;
        } else if (searchResult.items && searchResult.items.length > 0) {
          results = searchResult.items;
        }
        this.suggestions = this.searchExceedMax(results)
          ? results.slice(0, this.maxSearch)
          : results;
        this.fresh = true;
        this.errMsg = '';
      } else {
        // Clear the suggestion, if there are any failures
        this.suggestions = [];
        if (searchResult && searchResult.ret_str === 'Too many term keywords in query') {
          this.errMsg = 'Query is too long';
        } else {
          // There was an error, and let the autocomplete
          // function decide error message
          this.errMsg = searchResult;
        }
        this.rendered = true;
      }
    },
  },
};
</script>

<style lang="less">

</style>
