<template>
  <SvgRawRenderer
    :id="id"
    :idAttr="idAttr"
    :useTranslate="useTranslate"
    :svg="svg"/>
</template>

<script>
import SvgRawRenderer from './SvgRawRenderer';
import { mixin } from '@/store/mixin';

export default {
  name: 'SvgRenderer',
  props: {
    id: Number,
    idAttr: String,
    useTranslate: {
      type: Boolean,
      default: true,
    },
  },
  mixins: [mixin],
  components: {
    SvgRawRenderer,
  },
  computed: {
    svg() {
      return this.getSVG(this.id);
    },
  },
};
</script>
