<template>
  <svg class="selectable" :id="idAttr || null" v-if="svg"
    :x="x" :y="y" :class="{ 'selected': selected }"
    :svgId="id || null"
    :width="width"
    :height="height"
    v-html="svgContent">
  </svg>
</template>

<script>
import { SvgOps } from '@/svg-operations';

export default {
  name: 'SvgRawRenderer',
  props: {
    svg: Object,
    id: Number,
    idAttr: String,
    useTranslate: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    selected() {
      return this.svg && this.svg.selected;
    },
    x() {
      return this.useTranslate && this.svg ? this.svg.attributes.x : 0;
    },
    y() {
      return this.useTranslate && this.svg ? this.svg.attributes.y : 0;
    },
    width() {
      return this.svg ? this.svg.attributes.width : undefined;
    },
    height() {
      return this.svg ? this.svg.attributes.height : undefined;
    },
    svgContent() {
      return SvgOps.toElementInnerString(this.svg);
    },
  },
};
</script>
