<template functional>
  <div class="formula-container">
    <HoverChip
      v-bind="data.attrs"
      v-on="listeners"
      :class="[
        data.staticClass || '',
        data.class || '',
      ]"
      :style="{
        ...data.staticStyle,
        ...data.style,
      }"
    >
      <slot />
    </HoverChip>
  </div>
</template>

<script>

export default {
  name: 'FormulaDisplay',
  inheritAttrs: false,
};
</script>

<style lang="less">
  .formula-container {
    display: flex;
    align-items: center;
    // margin-bottom: 5px;

    .v-chip {
      touch-action: none;
      user-select: none;
      // margin: 4px;
      margin: 0 auto !important;
    }

    .v-chip, .v-chip>.v-chip__content {
      cursor: grab !important;
    }

    .v-chip:hover:active,
    .v-chip>.v-chip__content:hover:active {
      cursor: grabbing !important;
    }

    .v-chip__content {
      height: auto !important;
      // padding: 4px 12px !important;
    }
  }
</style>
