<template functional>
  <FormulaDisplay
    v-bind="data.attrs"
    v-on="listeners"
    :class="[
      data.staticClass || '',
      data.class || '',
    ]"
    :style="{
      background: '#f0f0f0',
      borderWidth: '3px',
      borderRadius: '28px',
      borderStyle: 'solid',
      padding: '0',
      height: 'auto !important',
      ...data.staticStyle,
      ...data.style,
    }"
    @dragend="onDragEnd"
    @dragstart="onDragStart"
    :outlined="true"
    :draggable="true"
  >
    <slot />
  </FormulaDisplay>
</template>

<script>

export default {
  name: 'Formula',
  props: {
    onDragStart: {
      type: Function,
      default: () => {},
    },
    onDragEnter: {
      type: Function,
      default: () => {},
    },
  },
};
</script>

<style>

</style>
