<template>
  <v-btn fab class="symbol-palette-button"
    @click="onClick">
    <MathSymbolDisplay :symbols="symbolsArray"
      :w="width"
      :h="height"
      :preserveAspectRatio="true"
    />
  </v-btn>
</template>

<script>
import MathSymbolDisplay from '../MathSymbol/Display';

export default {
  name: 'SymbolPaletteButton',
  components: {
    MathSymbolDisplay,
  },
  props: {
    symbolsArray: {
      type: Array,
      required: true,
    },
    onClick: {
      type: Function,
      default: () => {},
    },
    width: {
      type: Number,
      default: 30,
    },
    height: {
      type: Number,
      default: 30,
    },
  },
};
</script>

<style lang="less">
  .symbol-palette-button {
    .math-symbol-display {
      position: relative;
      &>svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
</style>
