<template>
  <v-tabs v-model="tabs"
    show-arrows
    dark
    :background-color="style.lightRit"
    class="symbol-palette"
  >
    <v-tabs-slider color="white" />

    <v-tab href="#tab-entity-cards"
      title="EntityCards"
      id="entity-cards-button">
      <v-icon color="white">$vuetify.icons.cards</v-icon>
    </v-tab>

    <v-tab href="#tab-favorite"
      title="Favorites"
      id="favorite-chips-button">
      <v-icon color="white">$vuetify.icons.star</v-icon>
    </v-tab>

    <v-tab href="#tab-recent"
      title="Recent"
      id="recent-chips-button">
      <v-icon color="white">$vuetify.icons.history</v-icon>
    </v-tab>

    <v-tab v-for="category in tabOrder"
      :key="`tab-${category}`"
      :href="`#${category}-symbol-tab`"
      style="color: white !important;"
      >{{category}}
    </v-tab>

    <v-tabs-items v-model="tabs" touchless>
      <v-tab-item class="entity-cards-window"
        :value="'tab-entity-cards'" :key="'entity-cards-tab'">
        <v-container fill-height>
          <SearchDisplay
            :showing="tabs === 'tab-entiinsertTextty-cards'"
            :displaySelf="() => tabs = 'tab-entity-cards'"
            :chipInsertText="chipInsertText"
            />
        </v-container>

      </v-tab-item>
      <v-tab-item class="favorite-chips-window"
        :value="'tab-favorite'" :key="'favorite-chips-tab'">
        <!-- <v-card text class="fill-height"> -->
          <v-container fill-height>
            <FavoriteChips :onClick="chipInsertText" />
          </v-container>
        <!-- </v-card> -->
      </v-tab-item>

      <v-tab-item class="recent-chips-window"
        :value="'tab-recent'" :key="'recent-chips-tab'">
        <!-- <v-card text class="fill-height"> -->
          <v-container fill-height>
            <v-layout row wrap>
              <ChipHistoryDisplay v-for="(mergeHistory, str) in mergeHistories"
                :historyIds="mergeHistory.historyIds"
                :key="str"
                :onClick="chipInsertText"
              />
            </v-layout>
          </v-container>
        <!-- </v-card> -->
      </v-tab-item>

      <v-tab-item v-for="category in tabOrder"
        :key="`tab-item-${category}`"
        :value="`${category}-symbol-tab`"
        >

        <SymbolPaletteTabMatrix v-if="category === 'matrices'"
          :symbolObject="symbols[category]"
          :insertText="insertText" />
        <SymbolPaletteTab v-else
          :symbolObject="symbols[category]"
          :insertText="insertText" />
      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
</template>

<script>
import ChipHistoryDisplay from '../ChipHistoryDisplay';
import FavoriteChips from '../FavoriteChips';
import { mixin } from '@/store/mixin';
import SearchDisplay from '../SearchDisplay';
import SymbolPaletteTab from './Tab';

export default {
  name: 'SymbolPaletteDisplay',
  mixins: [mixin],
  components: {
    ChipHistoryDisplay,
    SymbolPaletteTab,
    FavoriteChips,
    SearchDisplay,
  },
  props: {
    tabOrder: Array,
    symbols: Object,
  },
  data() {
    return {
      tabs: null,
    };
  },
  methods: {
    chipInsertText(e, chipId) {
      e.preventDefault();
      e.stopPropagation();
      const chip = this.getChip(chipId);
      if (chip) {
        const chipStr = chip.str || '';
        this.insertText(chipStr);
      }
    },
  },
};
</script>

<style lang="less">
  .symbol-palette {

    .symbol-palette-button {
      margin: 6px 8px;
    }

  }
</style>
