
<template>
  <v-btn small text
    color="primary"
    class="expand-cards-button"
    :title="title"
    @click="toggleExpand"
    >
    <span v-if="cardsExpanded"
      color="white">[COLLAPSE CARDS]</span>
    <span v-else
      color="white">[EXPAND CARDS]</span>
  </v-btn>
</template>

<script>
import { mixin } from '@/store/mixin';

export default {
  name: 'ExpandCardsButton',
  mixins: [mixin],
  computed: {
    title() {
      return `${this.cardsExpanded ? 'Collapse' : 'Expand'} cards`;
    },
  },
  methods: {
    toggleExpand() {
      this.cardsExpanded = !this.cardsExpanded;
    },
  },
};
</script>
