<template>
  <div class="sp-container">
    <v-toolbar dense flat dark
      :color="style.lightRit"
    >
      <!-- <v-toolbar-title>Math Deck</v-toolbar-title> -->
      <!-- <v-spacer /> -->
      <v-icon
        title="Filter"
        >$vuetify.icons.magnify</v-icon>
      <v-text-field
        hide-details
        single-line
        />
      <!-- <v-spacer /> -->
      <!-- <v-toolbar-items>
        <v-btn x-small
          @click.stop="expand"
          :color="style.lightRit"
        >
          <v-icon
            title="Expand"
            >$vuetify.icons.arrowExpand</v-icon>
        </v-btn>
      </v-toolbar-items> -->
    </v-toolbar>
    <div class="sp-container-under-toolbar">
      <SymbolPaletteDisplay
        :tabOrder="tabOrder"
        :symbols="symbols"
        />
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import symbolPalette from '@/symbolPalette';
import SymbolPaletteDisplay from './Display';
import symbols from '@/symbol-palette-renders';
import { mixin } from '@/store/mixin';
import { saveJSON } from '@/saveJSON';

export default {
  name: 'SymbolPalette',
  components: {
    SymbolPaletteDisplay,
  },
  mixins: [mixin],
  mounted() {
    // Generate and save symbol data for all latex strings in symbolPalette
    // this.saveRenderedSymbolPalette();
  },
  data() {
    return {
      tabOrder: [
        'common',
        'greek',
        'relational',
        'matrices',
        'binary',
        'logic',
        'delimiters',
        'accents',
      ],
      symbols,
    };
  },
  methods: {
    // Produce mapping of latex to svg symbols for all latex in each category
    async saveRenderedSymbolPalette() {
      // Merge all category objects into one
      const symbolPaletteRenders = _.merge(
        ...await this.renderSymbolPalette(),
      );

      // Save the rendered latex into a json file
      saveJSON(symbolPaletteRenders, 'SymbolPaletteRender.json');
    },
    async renderSymbolPalette() {
      // Generate an object for each category mapping latex to symbol data
      return Promise.all(_.map(symbolPalette,
        (val, key) => this.renderCategory(key, Object.keys(val))));
    },
    async renderCategory(categoryName, categoryLatex) {
      // return an object mapping [category] to latex=>symbols (object) map
      return {
        [categoryName]: _.merge(...await Promise.all(
          // Generate list of latex=>symbols objects
          categoryLatex.map(
            latex => this.renderLatexInCategory(latex, categoryName),
          ),
        )),
      };
    },
    // Produce an object with key: latex, value: svg symbols data
    async renderLatexInCategory(latex, category) {
      // For the matrix category: generate 2x2 abcd matrix latex string
      const renderLatex = (category === 'matrices')
        ? `\\begin{${latex}} a & b \\\\ c & d \\\\ \\end{${latex}}`
        : latex;

      // Get rendered svg symbols for the latex
      const data = await this.getSymbolData(renderLatex);
      return data && data.symbols
      // return object mapping latex to symbols
        ? { [latex]: data.symbols }
        : null;
    },
  },
};
</script>

<style lang="less">

.sp-container {
  padding-top: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  .sp-container-under-toolbar {
    position: relative;
    width: 100%;
    height: calc(100% - 48px);
  }
}

.sp-dialog-container {
  width: 800px;
  height: 800px;
  position: relative;
  padding: 0;
}

</style>
