<template>
  <v-card  v-if="filteredChips.length !== 0">
    <v-card-title @click="show = !show"
      style="cursor: pointer;"
    >
      {{name}}
      <v-btn icon absolute right>
        <v-icon v-if="show">$vuetify.icons.chevronUp</v-icon>
        <v-icon v-else>$vuetify.icons.chevronDown</v-icon>
      </v-btn>
    </v-card-title>
    <v-card-actions></v-card-actions>
    <v-expand-transition>
      <div v-show="show">
      <v-container ma-0
        class="symbol-palette-tab layout row wrap">
        <Chip v-for="chipId in filteredChips"
          :id="chipId" :key="chipId"
          :onClick="e => onClick(e, chipId)"
          :insertionMode="insertionMode"
        />
      </v-container>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
import Chip from '../Chip';
import { mixin } from '@/store/mixin';

export default {
  name: 'SymbolPaletteTab',
  mixins: [mixin],
  components: {
    Chip,
  },
  props: {
    name: {
      Type: String,
      default: '',
    },
    symbols: {
      Type: Array,
      required: true,
    },
    filter: {
      type: Function,
      default: () => {},
    },
    onClick: {
      Type: Function,
      default: () => {},
    },
    insertionMode: {
      Type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      show: true,
    };
  },
  computed: {
    filteredChips() {
      const filtered = this.symbols
        // ids => chip
        .map(this.getChip)
        // filter chip => chip
        .filter(this.filter)
        // chip => id
        .map(chip => chip.id);

      if (this.setFilterCount) this.setFilterCount(filtered.length);
      return filtered;
    },
  },
};
</script>

<style lang="less">
.symbol-palette {
  position: absolute;
  height: 100%;
  width: 100%;

  .v-window {
    position: relative;
    height: calc(100% - 48px);
    overflow-y: scroll;
    .v-window__container {
      // height: 100% !important;
      .v-window-item {
        // height: 100%;
        .container {
          .symbol-palette-button {
            text-transform: none;
            font-size: 1.25rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.symbol-palette-tab {
  .symbol-palette-button {
    margin: 5px;
  }
}
</style>
