<template>
  <v-container ma-0
    class="button-container layout row wrap">
    <v-flex xs12 sm6 mb-1>
      <v-text-field
        type="number"
        v-model="numRows"
        label="Number of Rows"
      />
    </v-flex>
    <v-flex xs12 sm6 mb-1>
      <v-text-field
        type="number"
        v-model="numColumns"
        label="Number of Columns"
      />
    </v-flex>
    <SymbolPaletteButton
      v-for="symbol in symbols"
      :key="symbol.str"
      :width="40"
      :height="40"
      :onClick="() => insertMatrix(symbol.str)"
      :symbolsArray="symbol.symbolsArray" />
  </v-container>
</template>

<script>
import SymbolPaletteButton from './Button';

export default {
  name: 'SymbolPaletteTabMatrix',
  components: {
    SymbolPaletteButton,
  },
  props: {
    symbols: {
      Type: Array,
      required: true,
    },
  },
  data() {
    return {
      numRows: 2,
      numColumns: 2,
    };
  },
  methods: {
    insertMatrix(style) {
      const tex = this.generateLatexString(style);
      this.insertText(tex);
    },
    generateLatexString(style) {
      let gridString = '';
      for (let i = 0; i < this.numRows; i += 1) {
        gridString += '\n\t';
        for (let j = 0; j < this.numColumns; j += 1) {
          gridString += `a_{${i},${j}} & `;
        }
        gridString = gridString.slice(0, -2);
        gridString += '\\\\';
      }
      const customGrid = `\\begin{${style}}${gridString}\n\\end{${style}}\n`;
      return customGrid;
    },
  },
};
</script>

<style>

</style>
