<template>
  <v-card
    class="mx-auto scroll"
    max-width="100%"
  >
    <v-list>
      <v-list-item-group v-model="selected">
        <v-list-item
          v-for="(suggestion, i) in renderedSuggestions"
          :key="i"
          class="autocomplete-list"
        >
            <v-container fluid grid-list-md>
              <v-layout col wrap>
                <!-- Stack Exchange Favicon -->
                <v-flex d-flex shrink mr-2 align-center>
                  <v-icon
                    :height="iconSize" :width="iconSize"
                    alt="Stack Exchange Favicon"
                    class="autocomplete-favicon"
                    color="blue"
                  >$vuetify.icons.stackExchange</v-icon>
                </v-flex>
                <v-layout column>
                  <v-flex md11 d-flex>
                    <!-- Title -->
                    <v-layout row wrap>
                      <AutocompleteTitle
                        v-for="(word,i) in suggestion.splitTitle" :key="word + i"
                        :word="word"
                        :sep="sep"
                        :symbols="suggestion.svgs[i].symbols" />
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-layout>
              <v-flex pb-4 d-flex ml-3 md11>
                <!-- Link to the mathematica results -->
                <a class="link" :href="suggestion.url" target="_blank">{{ suggestion.url }}</a>
              </v-flex>
            </v-container>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
import _ from 'lodash';
import AutocompleteTitle from './title';
import { mixin } from '@/store/mixin';

export default {
  name: 'AutocompleteCard',
  components: {
    AutocompleteTitle,
  },
  mixins: [mixin],
  props: {
    suggestions: {
      Type: Array,
      default: [],
    },
    renderComplete: {
      Type: Function,
      default: null,
    },
  },
  data() {
    return {
      selected: -1,
      renderedSuggestions: [],
      sep: '_$formula$_',
      selectedRes: null,
      iconSize: '27em',
      stackExcahngeUrl: 'https://math.stackexchange.com/questions',
    };
  },
  mounted() {
    this.updateSuggestions();
  },
  watch: {
    async suggestions() {
      await this.updateSuggestions();
    },
    selected(val) {
      // Grab the selected title
      if (this.renderedSuggestions[val]) {
        this.selectedRes = this.renderedSuggestions[val];
        window.open(this.selectedRes.url);
      }
    },
  },
  methods: {
    toURL(url) {
      window.open(url);
    },
    searchToChip() {
      // If a suggestion is selected,
      // parse the suggestion, and create chips out of it
      const result = this.selectedRes.svgs;
      if (result) {
        // Word can either be a formula
        // or an actual word
        result.forEach((word) => {
          // Word is an actual word
          if (this.isWord(word)) {
            this.makeFormulaData(word, true)
              .then(this.addChipToSearchBar);
          } else if (word.symbols) {
            // Word is a formula
            // this.recognizeSymbolsIntoChip(word.symbols)
            //   .then(this.addChipToSearchBar);
            this.symbolsToChip(word, true)
              .then(this.addChipToSearchBar);
          }
        });
      }
    },
    isWord(suggestion) {
      return typeof suggestion === 'string';
    },
    isFormula(title) {
      return title.indexOf(this.sep) !== -1;
    },
    notApproach0() {
      return this.searchEngine !== 'Approach0';
    },
    updateSuggestions: _.debounce(async function updateSuggestions() {
      this.renderedSuggestions = await Promise.all(
        this.suggestions.map((hit) => {
          if (hit.url) {
            return this.getSymbols(hit.title, hit.url);
          }
          const url = `${this.stackExcahngeUrl}/${hit.question_id}`;
          return this.getSymbols(hit.title, url);
        }),
      );
      // Let parent know render is complete
      if (this.renderComplete) this.renderComplete();
    }, 300),
    // Convert imath data into
    // svg symbols object
    async getSymbols(title, url) {
      // Get the [imath].*[\imath] from the title, and generate
      // math svg symbol with it

      let regex = /\[imath\]((?!(\[imath\]|\[\/imath\])).)*\[\/imath\]/g;
      let addTag = false;

      // Regex for parsing Stack Exchange or any search engine that is
      // not approach0 because Stack Exchange is the default engine
      if (this.notApproach0()) {
        regex = /\$((?!\$).)*\$/g;
        addTag = true;
      }

      const matches = title.match(regex);

      // Replace imath tag with separator, and split
      // the title based on spaces
      const splitTitle = title.replace(regex, this.sep).split(' ');

      if (matches) {
        // Need to loop as there could be
        // two imath nested in one title
        // i.e [imath]xx[/imath] yy [imath]xx[/imath]
        // Get symbols for every imath tag found
        // Returns an array of symbols
        const matchedSvgs = await Promise.all(matches.map((match) => {
          let imathExp = match.trim();
          if (this.notApproach0()) {
            // Remove dollar signs
            imathExp = match.substring(1, match.length - 1);
          }
          return this.getSymbolData(imathExp, addTag)
            .then(svgs => svgs);
        }));

        const paddedSvgs = this.padSvgs(splitTitle, matchedSvgs);

        // Return a dictionary object with any array of symbols
        // in this title, and the title
        // svg objects will have an array of symbols and mml data
        return {
          svgs: paddedSvgs,
          splitTitle,
          url,
        };
      }

      // For cases when there is no mathematical symbols
      // found, simply return the title as the svg data
      return {
        svgs: splitTitle,
        splitTitle,
        url,
      };
    },
    // An array of symbols and words
    // combined i.e [w1, w2, svgs, w3..., svgs]
    padSvgs(splitTitle, matchedSvgs) {
      const paddedSvgs = [];
      let mi = 0; // Index for matchedSvgs

      splitTitle.forEach((title) => {
        if (!this.isFormula(title)) {
          paddedSvgs.push(title);
        } else {
          paddedSvgs.push(matchedSvgs[mi]);
          mi += 1;
        }
      });

      return paddedSvgs;
    },
  },
};
</script>

<style lang="less">

.scroll {
  max-height: 300px;
  overflow-y: auto;
}

.link {
  font-size: 10px;
  text-decoration: underline;
}

.autocomplete-list > .container {
  padding: 0;
}

.autocomplete-favicon {
  display: none;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .autocomplete-favicon {
    display: inline-block;
  }
}
</style>
