<template>
    <div class="space-wrap">
        <div v-if="isFormula">
            <MathSymbolDisplay
                :symbols="symbols"
                :h="height" />
        </div>
        <div v-else>
            {{ word }}
        </div>
    </div>
</template>

<script>
import MathSymbolDisplay from '../MathSymbol/Display';

export default {
  name: 'AutocompleteTitle',
  components: {
    MathSymbolDisplay,
  },
  props: {
    word: {
      Type: String,
      default: '',
    },
    sep: {
      Type: String,
      default: '',
    },
    symbols: {
      Type: Array,
      default: null,
    },
  },
  data() {
    return {
      height: 25,
    };
  },
  computed: {
    isFormula() {
      return this.word.indexOf(this.sep) !== -1;
    },
  },
};
</script>

<style lang="less">

.space-wrap {
    padding: 4px;
}

</style>
