<template>
  <v-app id="page-container">
    <Header />
    <Body />
    <Footer/>
  </v-app>
</template>

<script>
import _ from 'lodash';
import Header from './components/Header';
import Body from './components/Body';
import Footer from './components/Footer';
import { mixin } from '@/store/mixin';
import symbols from '@/symbol-palette-renders';
import {
  saveState,
  purgeLocalStorage,
  getState,
  clearDefaultState,
  getPath,
  remoteGetState,
  remoteGetSessionId,
} from '@/save-state';
// import { SvgOps } from '@/svg-operations';
import { compress, decompress } from '@/compress-json';
import { saveJSON } from '@/saveJSON';

const mockupDeck = require('@/mockup-deck.json');

export default {
  name: 'App',
  components: {
    Header,
    Body,
    Footer,
  },
  mixins: [mixin],
  data() {
    return {
      sessionId: null,
      deck: mockupDeck.deck,
    };
  },
  mounted() {
    this.initializeState();
    this.registerServiceWorker();

    setInterval(() => {
      // Save state to localstorage / remote every minute
      this.doSave();
    }, 30000);
  },
  methods: {
    doSave() {
      return saveState(
        compress(this.getStoreState()),
        getPath() || undefined,
      );
    },
    async createSymbolChips() {
      const symbolsData = _.merge({}, ...await Promise.all(
        _.map(symbols, async (items, category) => {
          const chipIds = await Promise.all(_.map(items,
            (syms, tex) => this.addChip({
              isFresh: true,
              str: tex,
              symbols: syms,
              noHistory: true,
              tags: [category],
            })));

          return {
            [category]: chipIds,
          };
        }),
      ));

      this.paletteSymbols = symbolsData;
    },
    registerServiceWorker() {
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./service_worker.js', { scope: '/' }).then((reg) => {
          if (reg.installing) {
            console.log('Service worker installing');
          } else if (reg.waiting) {
            console.log('Service worker installed');
          } else if (reg.active) {
            console.log('Service worker active');
          }
        }).catch((error) => {
          // registration failed
          console.log(`Registration failed with ${error}`);
        });
      }
    },
    addMockupData() {
      this.renderForCanvas('x^2 + y^2 = z^2')
        .then(chipData => this.addChipToSearchBar(chipData))
        .then(this.nextActiveFormula)
        .then(() => this.$data.deck.forEach(item =>
          // Add mockup-deck results
          // eslint-disable-next-line implicit-arrow-linebreak
          this.renderForCanvas(item.tex)
            .then((chipData) => {
              if (chipData) {
                return this.addChip(chipData);
              }
              return null;
            })));
    },
    async initializeState() {
      // Check for a session id
      this.sessionId = getPath();
      console.log(this.sessionId);
      purgeLocalStorage();

      if (this.sessionId) {
        // Attempt to load state from remote storage
        try {
          const stateData = await remoteGetState(this.sessionId);
          if (stateData) {
            console.log('Loading state from remote storage.');
            this.loadState(decompress(stateData));
          } else {
            this.loadLocalOrMockup(this.sessionId);
          }
        } catch (e) {
          if (e.message === 'Invalid sessionId provided') {
            // Start a new session if session is invalid
            await this.startSession();
          } else {
            this.loadLocalOrMockup(this.sessionId);
          }
        }
      } else {
        // Start a session if no session already exists
        await this.startSession();
      }
    },
    async setNewId() {
      console.log('Fetching new session id.');
      this.sessionId = await remoteGetSessionId();
      console.log(this.sessionId);
      window.location.hash = this.sessionId;
      // Perform initial save
      this.doSave();
    },
    async startSession() {
      if (navigator.onLine) {
        await this.setNewId();
      } else {
        // Get session id once online
        window.addEventListener('online', () => {
          if (!this.sessionId) {
            this.setNewId();
            clearDefaultState();
          }
        });
      }
      // const loaded = this.loadLocalOrMockup(this.sessionId);

      if (process.env.NODE_ENV === 'production') this.dialogIsOpen = true;
      // if (!loaded) {
      // setTimeout(async () => {
      //   await this.createSymbolChips();

      //   this.updatePaletteSymbols();
      // }, 100);
      // }
    },
    loadLocalOrMockup(sessionId) {
      // Attempt to load state from local storage
      const state = decompress(getState(sessionId));
      if (state) {
        console.log('Loading state from local storage.');
        this.loadState(state);
        return true;
      }
      return false;
    },
    updatePaletteSymbols() {
      const data = {
        symbols: [],
        chips: [],
      };

      const categories = _.merge({}, ..._.map(this.$store.state.paletteSymbols,
        (chipIds, category) => ({
          [category]: chipIds.map(this.getChip).map(chip => data.chips.push({
            ...chip,
            symbolIds: chip.symbolIds.map((id) => {
              const s = this.getSymbol(id);
              return data.symbols.push(s);
            }),
          })),
        })));
      data.symbols = _.merge({}, ...data.symbols.map((s, i) => ({
        [i + 1]: { ...s, id: i + 1 },
      })));
      data.chips = _.merge({}, ...data.chips.map((c, i) => ({
        [i + 1]: { ...c, id: i + 1 },
      })));
      const paletteSymbols = {
        ...data,
        categories,
      };
      saveJSON(paletteSymbols, 'paletteSymbols.json');
    },
  },
};
</script>

<style lang="less">

html {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

html, body {
  overflow: hidden !important;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 14pt;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.application--wrap {
  overflow: hidden;
}

.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
  outline: none;
}

#page-container {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
}

.dragged-chip {
  width: 4px;
  height: 100%;
  margin: 5px 0;
  position: relative;
  visibility: hidden;
}

.dragged-chip::before {
  visibility: visible;
  content: '';
  background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  width: 4px;
  height: 100%;
}

// @scrollbar-width: 10px;
// @scrollbar-color: rgba(200,200,200,0.8);

// body {
//   scrollbar-width: auto;
//   scrollbar-color:
//     @scrollbar-color
//     fadeout(@scrollbar-color, 50%);
// }

// ::-webkit-scrollbar {
//   width: @scrollbar-width;
//   height: @scrollbar-width;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//   border-radius: @scrollbar-width;
// }

// ::-webkit-scrollbar-thumb {
//   background: @scrollbar-color;
//   box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
//   border-radius: @scrollbar-width;
// }

// ::-webkit-scrollbar-thumb:window-inactive {
//   background: fadeout(@scrollbar-color, 50%);
// }

</style>
